body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:395px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5929_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5929 {
  position:absolute;
  left:20px;
  top:20px;
  width:375px;
  height:667px;
}
#u5930 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5931_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:20px;
}
#u5931 {
  position:absolute;
  left:21px;
  top:21px;
  width:373px;
  height:20px;
}
#u5932 {
  position:absolute;
  left:2px;
  top:2px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5933_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5933 {
  position:absolute;
  left:20px;
  top:41px;
  width:375px;
  height:44px;
}
#u5934 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5935_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:23px;
}
#u5935 {
  position:absolute;
  left:157px;
  top:51px;
  width:101px;
  height:23px;
  font-size:18px;
  color:#FF9500;
}
#u5936 {
  position:absolute;
  left:2px;
  top:0px;
  width:97px;
  word-wrap:break-word;
}
#u5937_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:601px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5937 {
  position:absolute;
  left:21px;
  top:85px;
  width:373px;
  height:601px;
}
#u5938 {
  position:absolute;
  left:2px;
  top:292px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5937_ann {
  position:absolute;
  left:387px;
  top:81px;
  width:1px;
  height:1px;
}
#u5939 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5940 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5941_div {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5941 {
  position:absolute;
  left:30px;
  top:95px;
  width:355px;
  height:170px;
}
#u5942 {
  position:absolute;
  left:2px;
  top:77px;
  width:351px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5943_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 149, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u5943 {
  position:absolute;
  left:321px;
  top:197px;
  width:50px;
  height:50px;
  color:#FFFFFF;
}
#u5944 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  word-wrap:break-word;
}
#u5945_div {
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:76px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u5945 {
  position:absolute;
  left:42px;
  top:102px;
  width:329px;
  height:76px;
  font-size:16px;
  text-align:left;
}
#u5946 {
  position:absolute;
  left:2px;
  top:19px;
  width:325px;
  word-wrap:break-word;
}
#u5947_div {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:83px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
  text-align:left;
}
#u5947 {
  position:absolute;
  left:42px;
  top:180px;
  width:269px;
  height:83px;
  font-size:16px;
  color:#666666;
  text-align:left;
}
#u5948 {
  position:absolute;
  left:2px;
  top:22px;
  width:265px;
  word-wrap:break-word;
}
#u5949_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:2px;
}
#u5949 {
  position:absolute;
  left:42px;
  top:180px;
  width:329px;
  height:1px;
}
#u5950 {
  position:absolute;
  left:2px;
  top:-8px;
  width:325px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5951_div {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5951 {
  position:absolute;
  left:30px;
  top:275px;
  width:355px;
  height:170px;
}
#u5952 {
  position:absolute;
  left:2px;
  top:77px;
  width:351px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5953_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 149, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u5953 {
  position:absolute;
  left:321px;
  top:377px;
  width:50px;
  height:50px;
  color:#FFFFFF;
}
#u5954 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  word-wrap:break-word;
}
#u5955_div {
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:76px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u5955 {
  position:absolute;
  left:42px;
  top:282px;
  width:329px;
  height:76px;
  font-size:16px;
  text-align:left;
}
#u5956 {
  position:absolute;
  left:2px;
  top:19px;
  width:325px;
  word-wrap:break-word;
}
#u5957_div {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:83px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
  text-align:left;
}
#u5957 {
  position:absolute;
  left:42px;
  top:360px;
  width:269px;
  height:83px;
  font-size:16px;
  color:#666666;
  text-align:left;
}
#u5958 {
  position:absolute;
  left:2px;
  top:22px;
  width:265px;
  word-wrap:break-word;
}
#u5959_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:2px;
}
#u5959 {
  position:absolute;
  left:42px;
  top:360px;
  width:329px;
  height:1px;
}
#u5960 {
  position:absolute;
  left:2px;
  top:-8px;
  width:325px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5961_div {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5961 {
  position:absolute;
  left:30px;
  top:455px;
  width:355px;
  height:170px;
}
#u5962 {
  position:absolute;
  left:2px;
  top:77px;
  width:351px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5963_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 149, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u5963 {
  position:absolute;
  left:321px;
  top:557px;
  width:50px;
  height:50px;
  color:#FFFFFF;
}
#u5964 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  word-wrap:break-word;
}
#u5965_div {
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:76px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u5965 {
  position:absolute;
  left:42px;
  top:462px;
  width:329px;
  height:76px;
  font-size:16px;
  text-align:left;
}
#u5966 {
  position:absolute;
  left:2px;
  top:19px;
  width:325px;
  word-wrap:break-word;
}
#u5967_div {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:83px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
  text-align:left;
}
#u5967 {
  position:absolute;
  left:42px;
  top:540px;
  width:269px;
  height:83px;
  font-size:16px;
  color:#666666;
  text-align:left;
}
#u5968 {
  position:absolute;
  left:2px;
  top:22px;
  width:265px;
  word-wrap:break-word;
}
#u5969_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:2px;
}
#u5969 {
  position:absolute;
  left:42px;
  top:540px;
  width:329px;
  height:1px;
}
#u5970 {
  position:absolute;
  left:2px;
  top:-8px;
  width:325px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5971_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FF9500;
}
#u5971 {
  position:absolute;
  left:350px;
  top:55px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#FF9500;
}
#u5972 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u5973 {
  position:absolute;
  left:42px;
  top:110px;
  width:333px;
  height:147px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5974 {
  position:absolute;
  left:42px;
  top:287px;
  width:333px;
  height:147px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5975 {
  position:absolute;
  left:41px;
  top:467px;
  width:333px;
  height:147px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
