body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:675px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5473_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5473 {
  position:absolute;
  left:20px;
  top:20px;
  width:375px;
  height:667px;
}
#u5474 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5475_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:20px;
}
#u5475 {
  position:absolute;
  left:21px;
  top:21px;
  width:373px;
  height:20px;
}
#u5476 {
  position:absolute;
  left:2px;
  top:2px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5477_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5477 {
  position:absolute;
  left:20px;
  top:41px;
  width:375px;
  height:44px;
}
#u5478 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5479_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:23px;
}
#u5479 {
  position:absolute;
  left:157px;
  top:51px;
  width:101px;
  height:23px;
  font-size:18px;
  color:#FF9500;
}
#u5480 {
  position:absolute;
  left:2px;
  top:0px;
  width:97px;
  word-wrap:break-word;
}
#u5481_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:601px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5481 {
  position:absolute;
  left:21px;
  top:85px;
  width:373px;
  height:601px;
}
#u5482 {
  position:absolute;
  left:2px;
  top:292px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5483_div {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5483 {
  position:absolute;
  left:30px;
  top:95px;
  width:355px;
  height:170px;
}
#u5484 {
  position:absolute;
  left:2px;
  top:77px;
  width:351px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5485_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5485 {
  position:absolute;
  left:321px;
  top:197px;
  width:50px;
  height:50px;
}
#u5486 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5487_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:25px;
}
#u5487 {
  position:absolute;
  left:333px;
  top:210px;
  width:27px;
  height:25px;
}
#u5488 {
  position:absolute;
  left:2px;
  top:4px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5489_div {
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:76px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
  text-align:left;
}
#u5489 {
  position:absolute;
  left:42px;
  top:102px;
  width:329px;
  height:76px;
  font-size:16px;
  color:#000000;
  text-align:left;
}
#u5490 {
  position:absolute;
  left:2px;
  top:28px;
  width:325px;
  word-wrap:break-word;
}
#u5491_div {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:83px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u5491 {
  position:absolute;
  left:42px;
  top:180px;
  width:269px;
  height:83px;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u5492 {
  position:absolute;
  left:2px;
  top:22px;
  width:265px;
  word-wrap:break-word;
}
#u5493_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:2px;
}
#u5493 {
  position:absolute;
  left:42px;
  top:180px;
  width:329px;
  height:1px;
}
#u5494 {
  position:absolute;
  left:2px;
  top:-8px;
  width:325px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5495_div {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5495 {
  position:absolute;
  left:30px;
  top:275px;
  width:355px;
  height:170px;
}
#u5496 {
  position:absolute;
  left:2px;
  top:77px;
  width:351px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5497_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5497 {
  position:absolute;
  left:321px;
  top:377px;
  width:50px;
  height:50px;
}
#u5498 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5499_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:25px;
}
#u5499 {
  position:absolute;
  left:333px;
  top:390px;
  width:27px;
  height:25px;
}
#u5500 {
  position:absolute;
  left:2px;
  top:4px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5501_div {
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:76px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
  text-align:left;
}
#u5501 {
  position:absolute;
  left:42px;
  top:282px;
  width:329px;
  height:76px;
  font-size:16px;
  color:#000000;
  text-align:left;
}
#u5502 {
  position:absolute;
  left:2px;
  top:28px;
  width:325px;
  word-wrap:break-word;
}
#u5503_div {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:83px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u5503 {
  position:absolute;
  left:42px;
  top:360px;
  width:269px;
  height:83px;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u5504 {
  position:absolute;
  left:2px;
  top:22px;
  width:265px;
  word-wrap:break-word;
}
#u5505_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:2px;
}
#u5505 {
  position:absolute;
  left:42px;
  top:360px;
  width:329px;
  height:1px;
}
#u5506 {
  position:absolute;
  left:2px;
  top:-8px;
  width:325px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5507_div {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5507 {
  position:absolute;
  left:30px;
  top:455px;
  width:355px;
  height:170px;
}
#u5508 {
  position:absolute;
  left:2px;
  top:77px;
  width:351px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5509_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5509 {
  position:absolute;
  left:321px;
  top:557px;
  width:50px;
  height:50px;
}
#u5510 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5511_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:25px;
}
#u5511 {
  position:absolute;
  left:333px;
  top:570px;
  width:27px;
  height:25px;
}
#u5512 {
  position:absolute;
  left:2px;
  top:4px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5513_div {
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:76px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
  text-align:left;
}
#u5513 {
  position:absolute;
  left:42px;
  top:462px;
  width:329px;
  height:76px;
  font-size:16px;
  color:#000000;
  text-align:left;
}
#u5514 {
  position:absolute;
  left:2px;
  top:28px;
  width:325px;
  word-wrap:break-word;
}
#u5515_div {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:83px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u5515 {
  position:absolute;
  left:42px;
  top:540px;
  width:269px;
  height:83px;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u5516 {
  position:absolute;
  left:2px;
  top:22px;
  width:265px;
  word-wrap:break-word;
}
#u5517_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:2px;
}
#u5517 {
  position:absolute;
  left:42px;
  top:540px;
  width:329px;
  height:1px;
}
#u5518 {
  position:absolute;
  left:2px;
  top:-8px;
  width:325px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5519_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FF9500;
}
#u5519 {
  position:absolute;
  left:350px;
  top:55px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#FF9500;
}
#u5520 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u5521 {
  position:absolute;
  left:42px;
  top:102px;
  width:343px;
  height:154px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5522 {
  position:absolute;
  left:42px;
  top:282px;
  width:343px;
  height:154px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5523 {
  position:absolute;
  left:36px;
  top:464px;
  width:343px;
  height:154px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5524_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u5524 {
  position:absolute;
  left:478px;
  top:35px;
  width:30px;
  height:30px;
}
#u5525 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5526_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u5526 {
  position:absolute;
  left:574px;
  top:21px;
  width:101px;
  height:57px;
  font-size:14px;
}
#u5527 {
  position:absolute;
  left:2px;
  top:20px;
  width:97px;
  word-wrap:break-word;
}
#u5528_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u5528 {
  position:absolute;
  left:610px;
  top:331px;
  width:30px;
  height:30px;
}
#u5529 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5530 {
  position:absolute;
  left:508px;
  top:50px;
  width:0px;
  height:0px;
}
#u5530_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:70px;
  height:8px;
}
#u5530_seg1 {
  position:absolute;
  left:53px;
  top:-10px;
  width:20px;
  height:20px;
}
#u5531 {
  position:absolute;
  left:-17px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5532_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u5532 {
  position:absolute;
  left:574px;
  top:124px;
  width:101px;
  height:57px;
  font-size:14px;
}
#u5533 {
  position:absolute;
  left:2px;
  top:20px;
  width:97px;
  word-wrap:break-word;
}
#u5534 {
  position:absolute;
  left:625px;
  top:78px;
  width:0px;
  height:0px;
}
#u5534_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:50px;
}
#u5534_seg1 {
  position:absolute;
  left:-10px;
  top:33px;
  width:20px;
  height:20px;
}
#u5535 {
  position:absolute;
  left:-50px;
  top:15px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5536_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u5536 {
  position:absolute;
  left:574px;
  top:218px;
  width:101px;
  height:57px;
  font-size:14px;
}
#u5537 {
  position:absolute;
  left:2px;
  top:20px;
  width:97px;
  word-wrap:break-word;
}
#u5538 {
  position:absolute;
  left:625px;
  top:181px;
  width:0px;
  height:0px;
}
#u5538_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:41px;
}
#u5538_seg1 {
  position:absolute;
  left:-10px;
  top:24px;
  width:20px;
  height:20px;
}
#u5539 {
  position:absolute;
  left:-50px;
  top:10px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5540 {
  position:absolute;
  left:625px;
  top:275px;
  width:0px;
  height:0px;
}
#u5540_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:60px;
}
#u5540_seg1 {
  position:absolute;
  left:-10px;
  top:43px;
  width:20px;
  height:20px;
}
#u5541 {
  position:absolute;
  left:-50px;
  top:20px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
