body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1161px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3225_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1161px;
  height:238px;
}
#u3225 {
  position:absolute;
  left:0px;
  top:67px;
  width:1161px;
  height:238px;
}
#u3226 {
  position:absolute;
  left:2px;
  top:111px;
  width:1157px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3227_div {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3227 {
  position:absolute;
  left:7px;
  top:5px;
  width:7px;
  height:40px;
}
#u3228 {
  position:absolute;
  left:2px;
  top:12px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3229_div {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u3229 {
  position:absolute;
  left:14px;
  top:5px;
  width:310px;
  height:40px;
  font-size:16px;
  text-align:left;
}
#u3230 {
  position:absolute;
  left:2px;
  top:10px;
  width:306px;
  word-wrap:break-word;
}
