body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1100px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1951_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:623px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1951 {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:623px;
}
#u1952 {
  position:absolute;
  left:2px;
  top:304px;
  width:1096px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1953_div {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1953 {
  position:absolute;
  left:7px;
  top:5px;
  width:7px;
  height:40px;
}
#u1954 {
  position:absolute;
  left:2px;
  top:12px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1955_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u1955 {
  position:absolute;
  left:24px;
  top:5px;
  width:300px;
  height:40px;
  font-size:16px;
  text-align:left;
}
#u1956 {
  position:absolute;
  left:2px;
  top:10px;
  width:296px;
  word-wrap:break-word;
}
#u1957_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1957 {
  position:absolute;
  left:32px;
  top:534px;
  width:30px;
  height:30px;
}
#u1958 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1959_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u1959 {
  position:absolute;
  left:24px;
  top:66px;
  width:99px;
  height:40px;
  font-size:16px;
  color:#FFFFFF;
}
#u1960 {
  position:absolute;
  left:2px;
  top:10px;
  width:95px;
  word-wrap:break-word;
}
#u1961_div {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 204, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u1961 {
  position:absolute;
  left:139px;
  top:66px;
  width:262px;
  height:40px;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u1962 {
  position:absolute;
  left:2px;
  top:10px;
  width:258px;
  word-wrap:break-word;
}
#u1963_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1963 {
  position:absolute;
  left:367px;
  top:72px;
  width:30px;
  height:30px;
}
#u1964 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1965_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u1965 {
  position:absolute;
  left:145px;
  top:74px;
  width:25px;
  height:25px;
}
#u1966 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1967_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1967 {
  position:absolute;
  left:139px;
  top:661px;
  width:30px;
  height:30px;
}
#u1968 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1969_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1969 {
  position:absolute;
  left:259px;
  top:647px;
  width:101px;
  height:57px;
  font-size:14px;
}
#u1970 {
  position:absolute;
  left:2px;
  top:20px;
  width:97px;
  word-wrap:break-word;
}
#u1971_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1971 {
  position:absolute;
  left:259px;
  top:776px;
  width:101px;
  height:57px;
  font-size:14px;
}
#u1972 {
  position:absolute;
  left:2px;
  top:20px;
  width:97px;
  word-wrap:break-word;
}
#u1973_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1973 {
  position:absolute;
  left:497px;
  top:647px;
  width:101px;
  height:57px;
  font-size:14px;
}
#u1974 {
  position:absolute;
  left:2px;
  top:20px;
  width:97px;
  word-wrap:break-word;
}
#u1975_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1975 {
  position:absolute;
  left:497px;
  top:776px;
  width:101px;
  height:57px;
  font-size:14px;
}
#u1976 {
  position:absolute;
  left:2px;
  top:20px;
  width:97px;
  word-wrap:break-word;
}
#u1977_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1977 {
  position:absolute;
  left:259px;
  top:1077px;
  width:101px;
  height:57px;
  font-size:14px;
}
#u1978 {
  position:absolute;
  left:2px;
  top:20px;
  width:97px;
  word-wrap:break-word;
}
#u1979 {
  position:absolute;
  left:169px;
  top:676px;
  width:0px;
  height:0px;
}
#u1979_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:94px;
  height:8px;
}
#u1979_seg1 {
  position:absolute;
  left:77px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1980 {
  position:absolute;
  left:-5px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u1981 {
  position:absolute;
  left:310px;
  top:704px;
  width:0px;
  height:0px;
}
#u1981_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:76px;
}
#u1981_seg1 {
  position:absolute;
  left:-10px;
  top:59px;
  width:20px;
  height:20px;
}
#u1982 {
  position:absolute;
  left:-50px;
  top:28px;
  width:100px;
  word-wrap:break-word;
}
#u1983 {
  position:absolute;
  left:360px;
  top:676px;
  width:0px;
  height:0px;
}
#u1983_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:141px;
  height:8px;
}
#u1983_seg1 {
  position:absolute;
  left:124px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1984 {
  position:absolute;
  left:18px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u1985_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:57px;
  background:inherit;
  background-color:rgba(0, 204, 255, 0.4);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1985 {
  position:absolute;
  left:497px;
  top:1014px;
  width:101px;
  height:57px;
  font-size:14px;
}
#u1986 {
  position:absolute;
  left:2px;
  top:20px;
  width:97px;
  word-wrap:break-word;
}
#u1987_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1987 {
  position:absolute;
  left:259px;
  top:898px;
  width:101px;
  height:57px;
  font-size:14px;
}
#u1988 {
  position:absolute;
  left:2px;
  top:20px;
  width:97px;
  word-wrap:break-word;
}
#u1989 {
  position:absolute;
  left:310px;
  top:833px;
  width:0px;
  height:0px;
}
#u1989_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:69px;
}
#u1989_seg1 {
  position:absolute;
  left:-10px;
  top:52px;
  width:20px;
  height:20px;
}
#u1990 {
  position:absolute;
  left:-50px;
  top:24px;
  width:100px;
  word-wrap:break-word;
}
#u1991 {
  position:absolute;
  left:497px;
  top:805px;
  width:0px;
  height:0px;
}
#u1991_seg0 {
  position:absolute;
  left:-86px;
  top:-4px;
  width:86px;
  height:8px;
}
#u1991_seg1 {
  position:absolute;
  left:-86px;
  top:-4px;
  width:8px;
  height:130px;
}
#u1991_seg2 {
  position:absolute;
  left:-137px;
  top:118px;
  width:59px;
  height:8px;
}
#u1991_seg3 {
  position:absolute;
  left:-144px;
  top:112px;
  width:20px;
  height:20px;
}
#u1992 {
  position:absolute;
  left:-132px;
  top:40px;
  width:100px;
  word-wrap:break-word;
}
#u1993_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:57px;
  background:inherit;
  background-color:rgba(0, 204, 255, 0.4);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1993 {
  position:absolute;
  left:691px;
  top:1014px;
  width:101px;
  height:57px;
  font-size:14px;
}
#u1994 {
  position:absolute;
  left:2px;
  top:20px;
  width:97px;
  word-wrap:break-word;
}
#u1995 {
  position:absolute;
  left:598px;
  top:1043px;
  width:0px;
  height:0px;
}
#u1995_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:97px;
  height:8px;
}
#u1995_seg1 {
  position:absolute;
  left:80px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1996 {
  position:absolute;
  left:-4px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u1997 {
  position:absolute;
  left:742px;
  top:1014px;
  width:0px;
  height:0px;
}
#u1997_seg0 {
  position:absolute;
  left:-4px;
  top:-213px;
  width:8px;
  height:213px;
}
#u1997_seg1 {
  position:absolute;
  left:-144px;
  top:-213px;
  width:148px;
  height:8px;
}
#u1997_seg2 {
  position:absolute;
  left:-151px;
  top:-219px;
  width:20px;
  height:20px;
}
#u1998 {
  position:absolute;
  left:-50px;
  top:-184px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1999_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:57px;
  background:inherit;
  background-color:rgba(0, 204, 255, 0.4);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1999 {
  position:absolute;
  left:497px;
  top:1134px;
  width:101px;
  height:57px;
  font-size:14px;
}
#u2000 {
  position:absolute;
  left:2px;
  top:20px;
  width:97px;
  word-wrap:break-word;
}
#u2001 {
  position:absolute;
  left:497px;
  top:1043px;
  width:0px;
  height:0px;
}
#u2001_seg0 {
  position:absolute;
  left:-21px;
  top:-4px;
  width:21px;
  height:8px;
}
#u2001_seg1 {
  position:absolute;
  left:-21px;
  top:-4px;
  width:8px;
  height:128px;
}
#u2001_seg2 {
  position:absolute;
  left:-21px;
  top:116px;
  width:21px;
  height:8px;
}
#u2001_seg3 {
  position:absolute;
  left:-13px;
  top:110px;
  width:20px;
  height:20px;
}
#u2002 {
  position:absolute;
  left:-67px;
  top:52px;
  width:100px;
  word-wrap:break-word;
}
#u2003 {
  position:absolute;
  left:598px;
  top:1163px;
  width:0px;
  height:0px;
}
#u2003_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:5px;
}
#u2003_seg1 {
  position:absolute;
  left:-4px;
  top:-3px;
  width:62px;
  height:8px;
}
#u2003_seg2 {
  position:absolute;
  left:50px;
  top:-68px;
  width:8px;
  height:73px;
}
#u2003_seg3 {
  position:absolute;
  left:-54px;
  top:-68px;
  width:112px;
  height:8px;
}
#u2003_seg4 {
  position:absolute;
  left:-54px;
  top:-68px;
  width:8px;
  height:39px;
}
#u2003_seg5 {
  position:absolute;
  left:-60px;
  top:-42px;
  width:20px;
  height:20px;
}
#u2004 {
  position:absolute;
  left:-6px;
  top:-72px;
  width:100px;
  word-wrap:break-word;
}
#u2005_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:57px;
  background:inherit;
  background-color:rgba(0, 204, 255, 0.4);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u2005 {
  position:absolute;
  left:497px;
  top:1249px;
  width:101px;
  height:57px;
  font-size:14px;
}
#u2006 {
  position:absolute;
  left:2px;
  top:20px;
  width:97px;
  word-wrap:break-word;
}
#u2007 {
  position:absolute;
  left:548px;
  top:1191px;
  width:0px;
  height:0px;
}
#u2007_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:62px;
}
#u2007_seg1 {
  position:absolute;
  left:-10px;
  top:45px;
  width:20px;
  height:20px;
}
#u2008 {
  position:absolute;
  left:-50px;
  top:21px;
  width:100px;
  word-wrap:break-word;
}
#u2009 {
  position:absolute;
  left:310px;
  top:955px;
  width:0px;
  height:0px;
}
#u2009_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:34px;
}
#u2009_seg1 {
  position:absolute;
  left:-4px;
  top:26px;
  width:246px;
  height:8px;
}
#u2009_seg2 {
  position:absolute;
  left:234px;
  top:26px;
  width:8px;
  height:33px;
}
#u2009_seg3 {
  position:absolute;
  left:228px;
  top:46px;
  width:20px;
  height:20px;
}
#u2010 {
  position:absolute;
  left:68px;
  top:22px;
  width:100px;
  word-wrap:break-word;
}
#u2011 {
  position:absolute;
  left:497px;
  top:1278px;
  width:0px;
  height:0px;
}
#u2011_seg0 {
  position:absolute;
  left:-191px;
  top:-4px;
  width:191px;
  height:8px;
}
#u2011_seg1 {
  position:absolute;
  left:-191px;
  top:-144px;
  width:8px;
  height:148px;
}
#u2011_seg2 {
  position:absolute;
  left:-197px;
  top:-151px;
  width:20px;
  height:20px;
}
#u2012 {
  position:absolute;
  left:-216px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2013_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2013 {
  position:absolute;
  left:139px;
  top:1091px;
  width:30px;
  height:30px;
}
#u2014 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2015 {
  position:absolute;
  left:259px;
  top:1106px;
  width:0px;
  height:0px;
}
#u2015_seg0 {
  position:absolute;
  left:-90px;
  top:-4px;
  width:94px;
  height:8px;
}
#u2015_seg1 {
  position:absolute;
  left:-97px;
  top:-10px;
  width:20px;
  height:20px;
}
#u2016 {
  position:absolute;
  left:-95px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2017_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1028px;
  height:452px;
}
#u2017 {
  position:absolute;
  left:24px;
  top:116px;
  width:1028px;
  height:452px;
}
#u2018 {
  position:absolute;
  left:2px;
  top:218px;
  width:1024px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2019_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:600px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.4);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2019 {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:600px;
}
#u2020 {
  position:absolute;
  left:2px;
  top:292px;
  width:1096px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2021_div {
  position:absolute;
  left:0px;
  top:0px;
  width:710px;
  height:350px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2021 {
  position:absolute;
  left:195px;
  top:83px;
  width:710px;
  height:350px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2022 {
  position:absolute;
  left:2px;
  top:167px;
  width:706px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2023 {
  position:absolute;
  left:310px;
  top:152px;
  width:105px;
  height:55px;
}
#u2024_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u2024 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  font-size:16px;
  color:#000000;
}
#u2025 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u2026_div {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 204, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u2026 {
  position:absolute;
  left:410px;
  top:157px;
  width:380px;
  height:40px;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u2027 {
  position:absolute;
  left:2px;
  top:10px;
  width:376px;
  word-wrap:break-word;
}
#u2026_ann {
  position:absolute;
  left:783px;
  top:153px;
  width:1px;
  height:1px;
}
#u2028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2028 {
  position:absolute;
  left:755px;
  top:162px;
  width:30px;
  height:30px;
}
#u2029 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2030_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
}
#u2030 {
  position:absolute;
  left:666px;
  top:364px;
  width:99px;
  height:40px;
  font-size:16px;
  color:#666666;
}
#u2031 {
  position:absolute;
  left:2px;
  top:10px;
  width:95px;
  word-wrap:break-word;
}
#u2032_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u2032 {
  position:absolute;
  left:775px;
  top:364px;
  width:99px;
  height:40px;
  font-size:16px;
  color:#FFFFFF;
}
#u2033 {
  position:absolute;
  left:2px;
  top:10px;
  width:95px;
  word-wrap:break-word;
}
#u2034_div {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2034 {
  position:absolute;
  left:202px;
  top:99px;
  width:7px;
  height:40px;
}
#u2035 {
  position:absolute;
  left:2px;
  top:12px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2036_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u2036 {
  position:absolute;
  left:219px;
  top:99px;
  width:300px;
  height:40px;
  font-size:16px;
  text-align:left;
}
#u2037 {
  position:absolute;
  left:2px;
  top:10px;
  width:296px;
  word-wrap:break-word;
}
#u2038 {
  position:absolute;
  left:310px;
  top:215px;
  width:105px;
  height:55px;
}
#u2039_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u2039 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  font-size:16px;
  color:#000000;
}
#u2040 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u2041_div {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:98px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 204, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u2041 {
  position:absolute;
  left:410px;
  top:207px;
  width:380px;
  height:98px;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u2042 {
  position:absolute;
  left:2px;
  top:2px;
  width:376px;
  word-wrap:break-word;
}
#u2041_ann {
  position:absolute;
  left:783px;
  top:203px;
  width:1px;
  height:1px;
}
#u2043_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:45px;
}
#u2043 {
  position:absolute;
  left:711px;
  top:260px;
  width:79px;
  height:45px;
}
#u2044 {
  position:absolute;
  left:2px;
  top:14px;
  width:75px;
  word-wrap:break-word;
}
