body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1100px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4193_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:642px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4193 {
  position:absolute;
  left:0px;
  top:-7px;
  width:1100px;
  height:642px;
}
#u4194 {
  position:absolute;
  left:2px;
  top:313px;
  width:1096px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4195_div {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4195 {
  position:absolute;
  left:7px;
  top:5px;
  width:7px;
  height:40px;
}
#u4196 {
  position:absolute;
  left:2px;
  top:12px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4197_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u4197 {
  position:absolute;
  left:24px;
  top:5px;
  width:300px;
  height:40px;
  font-size:16px;
  text-align:left;
}
#u4198 {
  position:absolute;
  left:2px;
  top:10px;
  width:296px;
  word-wrap:break-word;
}
#u4199_div {
  position:absolute;
  left:0px;
  top:0px;
  width:710px;
  height:363px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4199 {
  position:absolute;
  left:195px;
  top:83px;
  width:710px;
  height:363px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4200 {
  position:absolute;
  left:2px;
  top:174px;
  width:706px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4201 {
  position:absolute;
  left:286px;
  top:128px;
  width:105px;
  height:55px;
}
#u4202_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u4202 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  font-size:16px;
  color:#000000;
}
#u4203 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u4204_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u4204 {
  position:absolute;
  left:386px;
  top:128px;
  width:50px;
  height:50px;
}
#u4205 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4204_ann {
  position:absolute;
  left:429px;
  top:124px;
  width:1px;
  height:1px;
}
#u4206 {
  position:absolute;
  left:305px;
  top:195px;
  width:101px;
  height:103px;
  overflow:hidden;
}
#u4206_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:103px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u4206_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4207_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:102px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4207 {
  position:absolute;
  left:0px;
  top:1px;
  width:101px;
  height:102px;
}
#u4208 {
  position:absolute;
  left:2px;
  top:43px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4209_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:67px;
}
#u4209 {
  position:absolute;
  left:0px;
  top:18px;
  width:100px;
  height:67px;
}
#u4210 {
  position:absolute;
  left:2px;
  top:26px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4211 {
  position:absolute;
  left:416px;
  top:195px;
  width:101px;
  height:103px;
  overflow:hidden;
}
#u4211_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:103px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u4211_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4212_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:102px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4212 {
  position:absolute;
  left:0px;
  top:1px;
  width:101px;
  height:102px;
}
#u4213 {
  position:absolute;
  left:2px;
  top:43px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4214_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:67px;
}
#u4214 {
  position:absolute;
  left:0px;
  top:18px;
  width:100px;
  height:67px;
}
#u4215 {
  position:absolute;
  left:2px;
  top:26px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4216_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
}
#u4216 {
  position:absolute;
  left:632px;
  top:342px;
  width:99px;
  height:40px;
  font-size:16px;
  color:#666666;
}
#u4217 {
  position:absolute;
  left:2px;
  top:10px;
  width:95px;
  word-wrap:break-word;
}
#u4218_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u4218 {
  position:absolute;
  left:741px;
  top:342px;
  width:99px;
  height:40px;
  font-size:16px;
  color:#FFFFFF;
}
#u4219 {
  position:absolute;
  left:2px;
  top:10px;
  width:95px;
  word-wrap:break-word;
}
