body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1070px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3651_div {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3651 {
  position:absolute;
  left:7px;
  top:5px;
  width:7px;
  height:40px;
}
#u3652 {
  position:absolute;
  left:2px;
  top:12px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3653_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u3653 {
  position:absolute;
  left:24px;
  top:5px;
  width:300px;
  height:40px;
  font-size:16px;
  text-align:left;
}
#u3654 {
  position:absolute;
  left:2px;
  top:10px;
  width:296px;
  word-wrap:break-word;
}
#u3655_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u3655 {
  position:absolute;
  left:24px;
  top:66px;
  width:99px;
  height:40px;
  font-size:16px;
  color:#FFFFFF;
}
#u3656 {
  position:absolute;
  left:2px;
  top:10px;
  width:95px;
  word-wrap:break-word;
}
#u3655_ann {
  position:absolute;
  left:116px;
  top:62px;
  width:1px;
  height:1px;
}
#u3657_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 204, 51, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u3657 {
  position:absolute;
  left:133px;
  top:66px;
  width:99px;
  height:40px;
  font-size:16px;
  color:#FFFFFF;
}
#u3658 {
  position:absolute;
  left:2px;
  top:10px;
  width:95px;
  word-wrap:break-word;
}
#u3659_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u3659 {
  position:absolute;
  left:133px;
  top:784px;
  width:30px;
  height:30px;
}
#u3660 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3661_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u3661 {
  position:absolute;
  left:285px;
  top:770px;
  width:101px;
  height:57px;
  font-size:14px;
}
#u3662 {
  position:absolute;
  left:2px;
  top:20px;
  width:97px;
  word-wrap:break-word;
}
#u3663_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u3663 {
  position:absolute;
  left:285px;
  top:901px;
  width:101px;
  height:57px;
  font-size:14px;
}
#u3664 {
  position:absolute;
  left:2px;
  top:20px;
  width:97px;
  word-wrap:break-word;
}
#u3665_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u3665 {
  position:absolute;
  left:439px;
  top:901px;
  width:101px;
  height:57px;
  font-size:14px;
}
#u3666 {
  position:absolute;
  left:2px;
  top:20px;
  width:97px;
  word-wrap:break-word;
}
#u3667_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u3667 {
  position:absolute;
  left:670px;
  top:901px;
  width:101px;
  height:57px;
  font-size:14px;
}
#u3668 {
  position:absolute;
  left:2px;
  top:20px;
  width:97px;
  word-wrap:break-word;
}
#u3669 {
  position:absolute;
  left:163px;
  top:799px;
  width:0px;
  height:0px;
}
#u3669_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:126px;
  height:8px;
}
#u3669_seg1 {
  position:absolute;
  left:109px;
  top:-10px;
  width:20px;
  height:20px;
}
#u3670 {
  position:absolute;
  left:11px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u3671 {
  position:absolute;
  left:336px;
  top:827px;
  width:0px;
  height:0px;
}
#u3671_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:78px;
}
#u3671_seg1 {
  position:absolute;
  left:-10px;
  top:61px;
  width:20px;
  height:20px;
}
#u3672 {
  position:absolute;
  left:-50px;
  top:29px;
  width:100px;
  word-wrap:break-word;
}
#u3673 {
  position:absolute;
  left:386px;
  top:799px;
  width:0px;
  height:0px;
}
#u3673_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:108px;
  height:8px;
}
#u3673_seg1 {
  position:absolute;
  left:100px;
  top:-4px;
  width:8px;
  height:106px;
}
#u3673_seg2 {
  position:absolute;
  left:94px;
  top:89px;
  width:20px;
  height:20px;
}
#u3674 {
  position:absolute;
  left:53px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u3675 {
  position:absolute;
  left:540px;
  top:930px;
  width:0px;
  height:0px;
}
#u3675_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:134px;
  height:8px;
}
#u3675_seg1 {
  position:absolute;
  left:117px;
  top:-10px;
  width:20px;
  height:20px;
}
#u3676 {
  position:absolute;
  left:15px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u3677 {
  position:absolute;
  left:721px;
  top:958px;
  width:0px;
  height:0px;
}
#u3677_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:80px;
}
#u3677_seg1 {
  position:absolute;
  left:-235px;
  top:72px;
  width:239px;
  height:8px;
}
#u3677_seg2 {
  position:absolute;
  left:-235px;
  top:0px;
  width:8px;
  height:80px;
}
#u3677_seg3 {
  position:absolute;
  left:-241px;
  top:-7px;
  width:20px;
  height:20px;
}
#u3678 {
  position:absolute;
  left:-166px;
  top:68px;
  width:100px;
  word-wrap:break-word;
}
#u3679_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1046px;
  height:602px;
}
#u3679 {
  position:absolute;
  left:24px;
  top:124px;
  width:1046px;
  height:602px;
}
#u3680 {
  position:absolute;
  left:2px;
  top:293px;
  width:1042px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3681_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u3681 {
  position:absolute;
  left:285px;
  top:1087px;
  width:101px;
  height:57px;
  font-size:14px;
}
#u3682 {
  position:absolute;
  left:2px;
  top:20px;
  width:97px;
  word-wrap:break-word;
}
#u3683 {
  position:absolute;
  left:336px;
  top:827px;
  width:0px;
  height:0px;
}
#u3683_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:23px;
}
#u3683_seg1 {
  position:absolute;
  left:-119px;
  top:15px;
  width:123px;
  height:8px;
}
#u3683_seg2 {
  position:absolute;
  left:-119px;
  top:15px;
  width:8px;
  height:278px;
}
#u3683_seg3 {
  position:absolute;
  left:-119px;
  top:285px;
  width:68px;
  height:8px;
}
#u3683_seg4 {
  position:absolute;
  left:-64px;
  top:279px;
  width:20px;
  height:20px;
}
#u3684 {
  position:absolute;
  left:-165px;
  top:111px;
  width:100px;
  word-wrap:break-word;
}
#u3685 {
  position:absolute;
  left:336px;
  top:958px;
  width:0px;
  height:0px;
}
#u3685_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:133px;
}
#u3685_seg1 {
  position:absolute;
  left:-10px;
  top:116px;
  width:20px;
  height:20px;
}
#u3686 {
  position:absolute;
  left:-50px;
  top:56px;
  width:100px;
  word-wrap:break-word;
}
#u3687 {
  position:absolute;
  left:439px;
  top:930px;
  width:0px;
  height:0px;
}
#u3687_seg0 {
  position:absolute;
  left:-43px;
  top:-4px;
  width:43px;
  height:8px;
}
#u3687_seg1 {
  position:absolute;
  left:-43px;
  top:-4px;
  width:8px;
  height:194px;
}
#u3687_seg2 {
  position:absolute;
  left:-53px;
  top:182px;
  width:18px;
  height:8px;
}
#u3687_seg3 {
  position:absolute;
  left:-60px;
  top:176px;
  width:20px;
  height:20px;
}
#u3688 {
  position:absolute;
  left:-89px;
  top:72px;
  width:100px;
  word-wrap:break-word;
}
#u3689 {
  position:absolute;
  left:771px;
  top:930px;
  width:0px;
  height:0px;
}
#u3689_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:23px;
  height:8px;
}
#u3689_seg1 {
  position:absolute;
  left:15px;
  top:-4px;
  width:8px;
  height:194px;
}
#u3689_seg2 {
  position:absolute;
  left:-385px;
  top:182px;
  width:408px;
  height:8px;
}
#u3689_seg3 {
  position:absolute;
  left:-392px;
  top:176px;
  width:20px;
  height:20px;
}
#u3690 {
  position:absolute;
  left:-130px;
  top:178px;
  width:100px;
  word-wrap:break-word;
}
#u3691 {
  position:absolute;
  left:918px;
  top:236px;
  width:100px;
  height:28px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3692 {
  position:absolute;
  left:918px;
  top:319px;
  width:100px;
  height:28px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3693 {
  position:absolute;
  left:918px;
  top:411px;
  width:100px;
  height:28px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3694 {
  position:absolute;
  left:918px;
  top:497px;
  width:100px;
  height:28px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3695 {
  position:absolute;
  left:918px;
  top:589px;
  width:100px;
  height:28px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3696 {
  position:absolute;
  left:918px;
  top:677px;
  width:100px;
  height:28px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
