body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1100px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2520_div {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2520 {
  position:absolute;
  left:7px;
  top:5px;
  width:7px;
  height:40px;
}
#u2521 {
  position:absolute;
  left:2px;
  top:12px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2522_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u2522 {
  position:absolute;
  left:24px;
  top:5px;
  width:300px;
  height:40px;
  font-size:16px;
  text-align:left;
}
#u2523 {
  position:absolute;
  left:2px;
  top:10px;
  width:296px;
  word-wrap:break-word;
}
#u2524_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u2524 {
  position:absolute;
  left:24px;
  top:66px;
  width:99px;
  height:40px;
  font-size:16px;
  color:#FFFFFF;
}
#u2525 {
  position:absolute;
  left:2px;
  top:10px;
  width:95px;
  word-wrap:break-word;
}
#u2526_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 204, 51, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u2526 {
  position:absolute;
  left:133px;
  top:66px;
  width:99px;
  height:40px;
  font-size:16px;
  color:#FFFFFF;
}
#u2527 {
  position:absolute;
  left:2px;
  top:10px;
  width:95px;
  word-wrap:break-word;
}
#u2528_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:40px;
  background:inherit;
  background-color:rgba(204, 51, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u2528 {
  position:absolute;
  left:242px;
  top:66px;
  width:99px;
  height:40px;
  font-size:16px;
  color:#FFFFFF;
}
#u2529 {
  position:absolute;
  left:2px;
  top:10px;
  width:95px;
  word-wrap:break-word;
}
#u2530_img {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:184px;
}
#u2530 {
  position:absolute;
  left:24px;
  top:116px;
  width:980px;
  height:184px;
}
#u2531 {
  position:absolute;
  left:2px;
  top:84px;
  width:976px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2532_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:994px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.4);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2532 {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:994px;
}
#u2533 {
  position:absolute;
  left:2px;
  top:489px;
  width:1096px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2534_div {
  position:absolute;
  left:0px;
  top:0px;
  width:710px;
  height:273px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2534 {
  position:absolute;
  left:195px;
  top:105px;
  width:710px;
  height:273px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2535 {
  position:absolute;
  left:2px;
  top:128px;
  width:706px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2534_ann {
  position:absolute;
  left:898px;
  top:101px;
  width:1px;
  height:1px;
}
#u2536_div {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:51px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2536 {
  position:absolute;
  left:202px;
  top:126px;
  width:7px;
  height:51px;
}
#u2537 {
  position:absolute;
  left:2px;
  top:18px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2538_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u2538 {
  position:absolute;
  left:219px;
  top:126px;
  width:300px;
  height:51px;
  font-size:16px;
  text-align:left;
}
#u2539 {
  position:absolute;
  left:2px;
  top:16px;
  width:296px;
  word-wrap:break-word;
}
#u2540_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
}
#u2540 {
  position:absolute;
  left:651px;
  top:302px;
  width:99px;
  height:51px;
  font-size:16px;
  color:#666666;
}
#u2541 {
  position:absolute;
  left:2px;
  top:16px;
  width:95px;
  word-wrap:break-word;
}
#u2542_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:51px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u2542 {
  position:absolute;
  left:760px;
  top:302px;
  width:99px;
  height:51px;
  font-size:16px;
  color:#FFFFFF;
}
#u2543 {
  position:absolute;
  left:2px;
  top:16px;
  width:95px;
  word-wrap:break-word;
}
#u2544_div {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
  text-align:left;
}
#u2544 {
  position:absolute;
  left:360px;
  top:187px;
  width:380px;
  height:54px;
  font-size:16px;
  color:#000000;
  text-align:left;
}
#u2545 {
  position:absolute;
  left:2px;
  top:18px;
  width:376px;
  word-wrap:break-word;
}
#u2544_ann {
  position:absolute;
  left:733px;
  top:183px;
  width:1px;
  height:1px;
}
