body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:671px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4546_img {
  position:absolute;
  left:0px;
  top:0px;
  width:661px;
  height:817px;
}
#u4546 {
  position:absolute;
  left:10px;
  top:7px;
  width:661px;
  height:817px;
}
#u4547 {
  position:absolute;
  left:2px;
  top:400px;
  width:657px;
  visibility:hidden;
  word-wrap:break-word;
}
