body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1100px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3838_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:560px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3838 {
  position:absolute;
  left:0px;
  top:-7px;
  width:1100px;
  height:560px;
}
#u3839 {
  position:absolute;
  left:2px;
  top:272px;
  width:1096px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3840_div {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3840 {
  position:absolute;
  left:7px;
  top:5px;
  width:7px;
  height:40px;
}
#u3841 {
  position:absolute;
  left:2px;
  top:12px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3842_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u3842 {
  position:absolute;
  left:24px;
  top:5px;
  width:300px;
  height:40px;
  font-size:16px;
  text-align:left;
}
#u3843 {
  position:absolute;
  left:2px;
  top:10px;
  width:296px;
  word-wrap:break-word;
}
#u3844_div {
  position:absolute;
  left:0px;
  top:0px;
  width:710px;
  height:440px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3844 {
  position:absolute;
  left:195px;
  top:83px;
  width:710px;
  height:440px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3845 {
  position:absolute;
  left:2px;
  top:212px;
  width:706px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3846 {
  position:absolute;
  left:305px;
  top:97px;
  width:105px;
  height:255px;
}
#u3847_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u3847 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  font-size:16px;
  color:#000000;
}
#u3848 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u3849_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u3849 {
  position:absolute;
  left:0px;
  top:50px;
  width:100px;
  height:50px;
  font-size:16px;
  color:#000000;
}
#u3850 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u3851_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u3851 {
  position:absolute;
  left:0px;
  top:100px;
  width:100px;
  height:100px;
  font-size:16px;
  color:#000000;
}
#u3852 {
  position:absolute;
  left:2px;
  top:40px;
  width:96px;
  word-wrap:break-word;
}
#u3853_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u3853 {
  position:absolute;
  left:0px;
  top:200px;
  width:100px;
  height:50px;
  font-size:16px;
  color:#000000;
}
#u3854 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u3853_ann {
  position:absolute;
  left:86px;
  top:200px;
  width:1px;
  height:1px;
}
#u3855_div {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 204, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u3855 {
  position:absolute;
  left:405px;
  top:152px;
  width:380px;
  height:40px;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u3856 {
  position:absolute;
  left:2px;
  top:10px;
  width:376px;
  word-wrap:break-word;
}
#u3857_div {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:92px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 204, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u3857 {
  position:absolute;
  left:405px;
  top:201px;
  width:380px;
  height:92px;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u3858 {
  position:absolute;
  left:2px;
  top:36px;
  width:376px;
  word-wrap:break-word;
}
#u3859_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
}
#u3859 {
  position:absolute;
  left:660px;
  top:442px;
  width:99px;
  height:40px;
  font-size:16px;
  color:#666666;
}
#u3860 {
  position:absolute;
  left:2px;
  top:10px;
  width:95px;
  word-wrap:break-word;
}
#u3861_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u3861 {
  position:absolute;
  left:769px;
  top:442px;
  width:99px;
  height:40px;
  font-size:16px;
  color:#FFFFFF;
}
#u3862 {
  position:absolute;
  left:2px;
  top:10px;
  width:95px;
  word-wrap:break-word;
}
#u3863_div {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 204, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u3863 {
  position:absolute;
  left:405px;
  top:102px;
  width:380px;
  height:40px;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u3864 {
  position:absolute;
  left:2px;
  top:10px;
  width:376px;
  word-wrap:break-word;
}
#u3865_div {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#0000CC;
  text-align:left;
}
#u3865 {
  position:absolute;
  left:405px;
  top:326px;
  width:380px;
  height:21px;
  font-size:14px;
  color:#0000CC;
  text-align:left;
}
#u3866 {
  position:absolute;
  left:2px;
  top:2px;
  width:376px;
  word-wrap:break-word;
}
#u3867_div {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#0000CC;
  text-align:left;
}
#u3867 {
  position:absolute;
  left:405px;
  top:347px;
  width:380px;
  height:21px;
  font-size:14px;
  color:#0000CC;
  text-align:left;
}
#u3868 {
  position:absolute;
  left:2px;
  top:2px;
  width:376px;
  word-wrap:break-word;
}
