body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1169px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4000_div {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4000 {
  position:absolute;
  left:7px;
  top:5px;
  width:7px;
  height:40px;
}
#u4001 {
  position:absolute;
  left:2px;
  top:12px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4002_div {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u4002 {
  position:absolute;
  left:32px;
  top:5px;
  width:310px;
  height:40px;
  font-size:16px;
  text-align:left;
}
#u4003 {
  position:absolute;
  left:2px;
  top:10px;
  width:306px;
  word-wrap:break-word;
}
#u4004_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1137px;
  height:736px;
}
#u4004 {
  position:absolute;
  left:32px;
  top:66px;
  width:1137px;
  height:736px;
}
#u4005 {
  position:absolute;
  left:2px;
  top:360px;
  width:1133px;
  visibility:hidden;
  word-wrap:break-word;
}
