body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1100px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1041_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:1143px;
}
#u1041 {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:1143px;
}
#u1042 {
  position:absolute;
  left:2px;
  top:564px;
  width:1096px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1043_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1056px;
  height:327px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1043 {
  position:absolute;
  left:23px;
  top:198px;
  width:1056px;
  height:327px;
}
#u1044 {
  position:absolute;
  left:2px;
  top:156px;
  width:1052px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1045_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FF9500;
}
#u1045 {
  position:absolute;
  left:40px;
  top:204px;
  width:109px;
  height:22px;
  font-size:18px;
  color:#FF9500;
}
#u1046 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u1047 {
  position:absolute;
  left:41px;
  top:235px;
  width:491px;
  height:33px;
}
#u1048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:486px;
  height:28px;
}
#u1048 {
  position:absolute;
  left:0px;
  top:0px;
  width:486px;
  height:28px;
  font-size:16px;
  color:#FFFFFF;
}
#u1049 {
  position:absolute;
  left:2px;
  top:4px;
  width:482px;
  word-wrap:break-word;
}
#u1050 {
  position:absolute;
  left:41px;
  top:265px;
  width:486px;
  height:246px;
  overflow:hidden;
}
#u1050_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:486px;
  height:246px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1050_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1051_img {
  position:absolute;
  left:0px;
  top:0px;
  width:486px;
  height:274px;
}
#u1051 {
  position:absolute;
  left:0px;
  top:-26px;
  width:486px;
  height:274px;
}
#u1052 {
  position:absolute;
  left:2px;
  top:129px;
  width:482px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1053_div {
  position:absolute;
  left:0px;
  top:0px;
  width:486px;
  height:33px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1053 {
  position:absolute;
  left:0px;
  top:213px;
  width:486px;
  height:33px;
}
#u1054 {
  position:absolute;
  left:2px;
  top:8px;
  width:482px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1055_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u1055 {
  position:absolute;
  left:424px;
  top:224px;
  width:10px;
  height:10px;
}
#u1056 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1057_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u1057 {
  position:absolute;
  left:435px;
  top:224px;
  width:10px;
  height:10px;
}
#u1058 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1059_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u1059 {
  position:absolute;
  left:447px;
  top:224px;
  width:10px;
  height:10px;
}
#u1060 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1050_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:486px;
  height:246px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1050_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1061_img {
  position:absolute;
  left:0px;
  top:0px;
  width:486px;
  height:305px;
}
#u1061 {
  position:absolute;
  left:0px;
  top:-19px;
  width:486px;
  height:305px;
}
#u1062 {
  position:absolute;
  left:2px;
  top:144px;
  width:482px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1063_div {
  position:absolute;
  left:0px;
  top:0px;
  width:486px;
  height:33px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1063 {
  position:absolute;
  left:0px;
  top:213px;
  width:486px;
  height:33px;
}
#u1064 {
  position:absolute;
  left:2px;
  top:8px;
  width:482px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1065_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u1065 {
  position:absolute;
  left:424px;
  top:224px;
  width:10px;
  height:10px;
}
#u1066 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1067_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u1067 {
  position:absolute;
  left:435px;
  top:224px;
  width:10px;
  height:10px;
}
#u1068 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1069_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u1069 {
  position:absolute;
  left:447px;
  top:224px;
  width:10px;
  height:10px;
}
#u1070 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1050_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:486px;
  height:246px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1050_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1071_img {
  position:absolute;
  left:0px;
  top:0px;
  width:486px;
  height:277px;
}
#u1071 {
  position:absolute;
  left:0px;
  top:-28px;
  width:486px;
  height:277px;
}
#u1072 {
  position:absolute;
  left:2px;
  top:130px;
  width:482px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1073_div {
  position:absolute;
  left:0px;
  top:0px;
  width:486px;
  height:33px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1073 {
  position:absolute;
  left:0px;
  top:213px;
  width:486px;
  height:33px;
}
#u1074 {
  position:absolute;
  left:2px;
  top:8px;
  width:482px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1075_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u1075 {
  position:absolute;
  left:424px;
  top:224px;
  width:10px;
  height:10px;
}
#u1076 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1077_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u1077 {
  position:absolute;
  left:435px;
  top:224px;
  width:10px;
  height:10px;
}
#u1078 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1079_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u1079 {
  position:absolute;
  left:447px;
  top:224px;
  width:10px;
  height:10px;
}
#u1080 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1081_div {
  position:absolute;
  left:0px;
  top:0px;
  width:522px;
  height:327px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1081 {
  position:absolute;
  left:557px;
  top:198px;
  width:522px;
  height:327px;
}
#u1082 {
  position:absolute;
  left:2px;
  top:156px;
  width:518px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1083 {
  position:absolute;
  left:567px;
  top:363px;
  width:507px;
  height:33px;
}
#u1084_img {
  position:absolute;
  left:0px;
  top:0px;
  width:502px;
  height:28px;
}
#u1084 {
  position:absolute;
  left:0px;
  top:0px;
  width:502px;
  height:28px;
  font-size:16px;
  color:#FFFFFF;
}
#u1085 {
  position:absolute;
  left:2px;
  top:4px;
  width:498px;
  word-wrap:break-word;
}
#u1086_div {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:90px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1086 {
  position:absolute;
  left:567px;
  top:263px;
  width:246px;
  height:90px;
}
#u1087 {
  position:absolute;
  left:2px;
  top:37px;
  width:242px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1088 {
  position:absolute;
  left:567px;
  top:235px;
  width:251px;
  height:33px;
}
#u1089_img {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:25px;
}
#u1089 {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:25px;
  font-size:16px;
  color:#FFFFFF;
}
#u1090 {
  position:absolute;
  left:2px;
  top:3px;
  width:242px;
  word-wrap:break-word;
}
#u1091_div {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:90px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1091 {
  position:absolute;
  left:823px;
  top:262px;
  width:246px;
  height:90px;
}
#u1092 {
  position:absolute;
  left:2px;
  top:24px;
  width:242px;
  word-wrap:break-word;
}
#u1093 {
  position:absolute;
  left:823px;
  top:235px;
  width:251px;
  height:33px;
}
#u1094_img {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:25px;
}
#u1094 {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:25px;
  font-size:16px;
  color:#FFFFFF;
}
#u1095 {
  position:absolute;
  left:2px;
  top:3px;
  width:242px;
  word-wrap:break-word;
}
#u1096_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1096 {
  position:absolute;
  left:620px;
  top:278px;
  width:140px;
  height:58px;
  text-align:left;
}
#u1097 {
  position:absolute;
  left:2px;
  top:8px;
  width:136px;
  word-wrap:break-word;
}
#u1098 {
  position:absolute;
  left:567px;
  top:391px;
  width:507px;
  height:125px;
}
#u1099_img {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:30px;
}
#u1099 {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:30px;
  font-size:14px;
  color:#999999;
  text-align:left;
}
#u1100 {
  position:absolute;
  left:2px;
  top:7px;
  width:264px;
  word-wrap:break-word;
}
#u1101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:30px;
}
#u1101 {
  position:absolute;
  left:268px;
  top:0px;
  width:234px;
  height:30px;
  font-size:14px;
  color:#999999;
  text-align:right;
}
#u1102 {
  position:absolute;
  left:2px;
  top:7px;
  width:230px;
  word-wrap:break-word;
}
#u1103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:30px;
}
#u1103 {
  position:absolute;
  left:0px;
  top:30px;
  width:268px;
  height:30px;
  font-size:14px;
  color:#999999;
  text-align:left;
}
#u1104 {
  position:absolute;
  left:2px;
  top:7px;
  width:264px;
  word-wrap:break-word;
}
#u1105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:30px;
}
#u1105 {
  position:absolute;
  left:268px;
  top:30px;
  width:234px;
  height:30px;
  font-size:14px;
  color:#999999;
  text-align:right;
}
#u1106 {
  position:absolute;
  left:2px;
  top:7px;
  width:230px;
  word-wrap:break-word;
}
#u1107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:30px;
}
#u1107 {
  position:absolute;
  left:0px;
  top:60px;
  width:268px;
  height:30px;
  font-size:14px;
  color:#999999;
  text-align:left;
}
#u1108 {
  position:absolute;
  left:2px;
  top:7px;
  width:264px;
  word-wrap:break-word;
}
#u1109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:30px;
}
#u1109 {
  position:absolute;
  left:268px;
  top:60px;
  width:234px;
  height:30px;
  font-size:14px;
  color:#999999;
  text-align:right;
}
#u1110 {
  position:absolute;
  left:2px;
  top:7px;
  width:230px;
  word-wrap:break-word;
}
#u1111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:30px;
}
#u1111 {
  position:absolute;
  left:0px;
  top:90px;
  width:268px;
  height:30px;
  font-size:14px;
  color:#999999;
  text-align:left;
}
#u1112 {
  position:absolute;
  left:2px;
  top:7px;
  width:264px;
  word-wrap:break-word;
}
#u1113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:30px;
}
#u1113 {
  position:absolute;
  left:268px;
  top:90px;
  width:234px;
  height:30px;
  font-size:14px;
  color:#999999;
  text-align:right;
}
#u1114 {
  position:absolute;
  left:2px;
  top:7px;
  width:230px;
  word-wrap:break-word;
}
#u1115 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1116_div {
  position:absolute;
  left:0px;
  top:0px;
  width:524px;
  height:178px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1116 {
  position:absolute;
  left:556px;
  top:10px;
  width:524px;
  height:178px;
}
#u1117 {
  position:absolute;
  left:2px;
  top:81px;
  width:520px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1118_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FF9500;
}
#u1118 {
  position:absolute;
  left:575px;
  top:26px;
  width:73px;
  height:22px;
  font-size:18px;
  color:#FF9500;
}
#u1119 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:63px;
}
#u1120 {
  position:absolute;
  left:661px;
  top:68px;
  width:63px;
  height:63px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FF9500;
}
#u1121 {
  position:absolute;
  left:2px;
  top:15px;
  width:59px;
  word-wrap:break-word;
}
#u1122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:63px;
}
#u1122 {
  position:absolute;
  left:787px;
  top:68px;
  width:63px;
  height:63px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FF9500;
}
#u1123 {
  position:absolute;
  left:2px;
  top:15px;
  width:59px;
  word-wrap:break-word;
}
#u1124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:63px;
}
#u1124 {
  position:absolute;
  left:913px;
  top:68px;
  width:63px;
  height:63px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FF9500;
}
#u1125 {
  position:absolute;
  left:2px;
  top:15px;
  width:59px;
  word-wrap:break-word;
}
#u1126_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1126 {
  position:absolute;
  left:645px;
  top:140px;
  width:92px;
  height:28px;
  font-size:14px;
}
#u1127 {
  position:absolute;
  left:2px;
  top:6px;
  width:88px;
  word-wrap:break-word;
}
#u1128_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1128 {
  position:absolute;
  left:772px;
  top:140px;
  width:92px;
  height:28px;
  font-size:14px;
}
#u1129 {
  position:absolute;
  left:2px;
  top:6px;
  width:88px;
  word-wrap:break-word;
}
#u1130_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1130 {
  position:absolute;
  left:897px;
  top:140px;
  width:92px;
  height:28px;
  font-size:14px;
}
#u1131 {
  position:absolute;
  left:2px;
  top:6px;
  width:88px;
  word-wrap:break-word;
}
#u1132_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1056px;
  height:312px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1132 {
  position:absolute;
  left:23px;
  top:535px;
  width:1056px;
  height:312px;
}
#u1133 {
  position:absolute;
  left:2px;
  top:148px;
  width:1052px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1134_div {
  position:absolute;
  left:0px;
  top:0px;
  width:522px;
  height:269px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1134 {
  position:absolute;
  left:557px;
  top:857px;
  width:522px;
  height:269px;
}
#u1135 {
  position:absolute;
  left:2px;
  top:126px;
  width:518px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1136_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FF9500;
}
#u1136 {
  position:absolute;
  left:573px;
  top:866px;
  width:73px;
  height:22px;
  font-size:18px;
  color:#FF9500;
}
#u1137 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:97px;
}
#u1138 {
  position:absolute;
  left:670px;
  top:943px;
  width:341px;
  height:97px;
}
#u1139 {
  position:absolute;
  left:2px;
  top:40px;
  width:337px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1140_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FF9500;
}
#u1140 {
  position:absolute;
  left:41px;
  top:545px;
  width:73px;
  height:22px;
  font-size:18px;
  color:#FF9500;
}
#u1141 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1035px;
  height:257px;
}
#u1142 {
  position:absolute;
  left:34px;
  top:577px;
  width:1035px;
  height:257px;
}
#u1143 {
  position:absolute;
  left:2px;
  top:120px;
  width:1031px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u1144 {
  position:absolute;
  left:269px;
  top:698px;
  width:35px;
  height:35px;
}
#u1145 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u1146 {
  position:absolute;
  left:677px;
  top:761px;
  width:35px;
  height:35px;
}
#u1147 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u1148 {
  position:absolute;
  left:512px;
  top:729px;
  width:35px;
  height:35px;
}
#u1149 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1150_div {
  position:absolute;
  left:0px;
  top:0px;
  width:524px;
  height:269px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1150 {
  position:absolute;
  left:23px;
  top:857px;
  width:524px;
  height:269px;
}
#u1151 {
  position:absolute;
  left:2px;
  top:126px;
  width:520px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1152_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FF9500;
}
#u1152 {
  position:absolute;
  left:41px;
  top:866px;
  width:73px;
  height:22px;
  font-size:18px;
  color:#FF9500;
}
#u1153 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1154 {
  position:absolute;
  left:893px;
  top:866px;
  width:88px;
  height:33px;
}
#u1155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:28px;
}
#u1155 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:28px;
  font-size:16px;
  color:#FFFFFF;
}
#u1156 {
  position:absolute;
  left:2px;
  top:4px;
  width:79px;
  word-wrap:break-word;
}
#u1157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:128px;
}
#u1157 {
  position:absolute;
  left:114px;
  top:875px;
  width:128px;
  height:128px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FF9500;
}
#u1158 {
  position:absolute;
  left:2px;
  top:48px;
  width:124px;
  word-wrap:break-word;
}
#u1159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:128px;
}
#u1159 {
  position:absolute;
  left:289px;
  top:875px;
  width:128px;
  height:128px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FF9500;
}
#u1160 {
  position:absolute;
  left:2px;
  top:48px;
  width:124px;
  word-wrap:break-word;
}
#u1161 {
  position:absolute;
  left:41px;
  top:1003px;
  width:491px;
  height:33px;
}
#u1162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:486px;
  height:28px;
}
#u1162 {
  position:absolute;
  left:0px;
  top:0px;
  width:486px;
  height:28px;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u1163 {
  position:absolute;
  left:2px;
  top:4px;
  width:482px;
  word-wrap:break-word;
}
#u1164 {
  position:absolute;
  left:41px;
  top:1031px;
  width:491px;
  height:95px;
}
#u1165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:30px;
}
#u1165 {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:30px;
  font-size:14px;
  color:#999999;
  text-align:left;
}
#u1166 {
  position:absolute;
  left:2px;
  top:7px;
  width:256px;
  word-wrap:break-word;
}
#u1167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:30px;
}
#u1167 {
  position:absolute;
  left:260px;
  top:0px;
  width:226px;
  height:30px;
  font-size:14px;
  color:#999999;
  text-align:right;
}
#u1168 {
  position:absolute;
  left:2px;
  top:7px;
  width:222px;
  word-wrap:break-word;
}
#u1169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:30px;
}
#u1169 {
  position:absolute;
  left:0px;
  top:30px;
  width:260px;
  height:30px;
  font-size:14px;
  color:#999999;
  text-align:left;
}
#u1170 {
  position:absolute;
  left:2px;
  top:7px;
  width:256px;
  word-wrap:break-word;
}
#u1171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:30px;
}
#u1171 {
  position:absolute;
  left:260px;
  top:30px;
  width:226px;
  height:30px;
  font-size:14px;
  color:#999999;
  text-align:right;
}
#u1172 {
  position:absolute;
  left:2px;
  top:7px;
  width:222px;
  word-wrap:break-word;
}
#u1173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:30px;
}
#u1173 {
  position:absolute;
  left:0px;
  top:60px;
  width:260px;
  height:30px;
  font-size:14px;
  color:#999999;
  text-align:left;
}
#u1174 {
  position:absolute;
  left:2px;
  top:7px;
  width:256px;
  word-wrap:break-word;
}
#u1175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:30px;
}
#u1175 {
  position:absolute;
  left:260px;
  top:60px;
  width:226px;
  height:30px;
  font-size:14px;
  color:#999999;
  text-align:right;
}
#u1176 {
  position:absolute;
  left:2px;
  top:7px;
  width:222px;
  word-wrap:break-word;
}
#u1177 {
  position:absolute;
  left:986px;
  top:866px;
  width:88px;
  height:33px;
}
#u1178_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:28px;
}
#u1178 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:28px;
  font-size:16px;
  color:#FFFFFF;
}
#u1179 {
  position:absolute;
  left:2px;
  top:4px;
  width:79px;
  word-wrap:break-word;
}
#u1180 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1181_div {
  position:absolute;
  left:0px;
  top:0px;
  width:523px;
  height:178px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1181 {
  position:absolute;
  left:23px;
  top:10px;
  width:523px;
  height:178px;
}
#u1182 {
  position:absolute;
  left:2px;
  top:81px;
  width:519px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1183_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FF9500;
}
#u1183 {
  position:absolute;
  left:40px;
  top:26px;
  width:73px;
  height:22px;
  font-size:18px;
  color:#FF9500;
}
#u1184 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1185 {
  position:absolute;
  left:42px;
  top:53px;
  width:491px;
  height:125px;
}
#u1186_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:30px;
}
#u1186 {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:30px;
  font-size:14px;
  color:#999999;
  text-align:left;
}
#u1187 {
  position:absolute;
  left:2px;
  top:7px;
  width:256px;
  word-wrap:break-word;
}
#u1188_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:30px;
}
#u1188 {
  position:absolute;
  left:260px;
  top:0px;
  width:226px;
  height:30px;
  font-size:14px;
  color:#999999;
  text-align:right;
}
#u1189 {
  position:absolute;
  left:2px;
  top:7px;
  width:222px;
  word-wrap:break-word;
}
#u1190_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:30px;
}
#u1190 {
  position:absolute;
  left:0px;
  top:30px;
  width:260px;
  height:30px;
  font-size:14px;
  color:#999999;
  text-align:left;
}
#u1191 {
  position:absolute;
  left:2px;
  top:7px;
  width:256px;
  word-wrap:break-word;
}
#u1192_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:30px;
}
#u1192 {
  position:absolute;
  left:260px;
  top:30px;
  width:226px;
  height:30px;
  font-size:14px;
  color:#999999;
  text-align:right;
}
#u1193 {
  position:absolute;
  left:2px;
  top:7px;
  width:222px;
  word-wrap:break-word;
}
#u1194_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:30px;
}
#u1194 {
  position:absolute;
  left:0px;
  top:60px;
  width:260px;
  height:30px;
  font-size:14px;
  color:#999999;
  text-align:left;
}
#u1195 {
  position:absolute;
  left:2px;
  top:7px;
  width:256px;
  word-wrap:break-word;
}
#u1196_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:30px;
}
#u1196 {
  position:absolute;
  left:260px;
  top:60px;
  width:226px;
  height:30px;
  font-size:14px;
  color:#999999;
  text-align:right;
}
#u1197 {
  position:absolute;
  left:2px;
  top:7px;
  width:222px;
  word-wrap:break-word;
}
#u1198_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:30px;
}
#u1198 {
  position:absolute;
  left:0px;
  top:90px;
  width:260px;
  height:30px;
  font-size:14px;
  color:#999999;
  text-align:left;
}
#u1199 {
  position:absolute;
  left:2px;
  top:7px;
  width:256px;
  word-wrap:break-word;
}
#u1200_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:30px;
}
#u1200 {
  position:absolute;
  left:260px;
  top:90px;
  width:226px;
  height:30px;
  font-size:14px;
  color:#999999;
  text-align:right;
}
#u1201 {
  position:absolute;
  left:2px;
  top:7px;
  width:222px;
  word-wrap:break-word;
}
#u1202 {
  position:absolute;
  left:304px;
  top:700px;
  width:91px;
  height:93px;
  overflow:hidden;
  visibility:hidden;
}
#u1202_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:93px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1202_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1203 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:95px;
}
#u1204_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
}
#u1204 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
  color:#FFFFFF;
}
#u1205 {
  position:absolute;
  left:2px;
  top:7px;
  width:88px;
  word-wrap:break-word;
}
#u1206_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
}
#u1206 {
  position:absolute;
  left:0px;
  top:30px;
  width:92px;
  height:30px;
  color:#FFFFFF;
}
#u1207 {
  position:absolute;
  left:2px;
  top:7px;
  width:88px;
  word-wrap:break-word;
}
#u1208_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
}
#u1208 {
  position:absolute;
  left:0px;
  top:60px;
  width:92px;
  height:30px;
  color:#FFFFFF;
}
#u1209 {
  position:absolute;
  left:2px;
  top:7px;
  width:88px;
  word-wrap:break-word;
}
#u1202_ann {
  position:absolute;
  left:388px;
  top:696px;
  width:1px;
  height:1px;
}
#u1210 {
  position:absolute;
  left:547px;
  top:686px;
  width:91px;
  height:124px;
  overflow:hidden;
  visibility:hidden;
}
#u1210_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:124px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1210_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1211 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:125px;
}
#u1212_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
}
#u1212 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
  color:#FFFFFF;
}
#u1213 {
  position:absolute;
  left:2px;
  top:7px;
  width:88px;
  word-wrap:break-word;
}
#u1214_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
}
#u1214 {
  position:absolute;
  left:0px;
  top:30px;
  width:92px;
  height:30px;
  color:#FFFFFF;
}
#u1215 {
  position:absolute;
  left:2px;
  top:7px;
  width:88px;
  word-wrap:break-word;
}
#u1216_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
}
#u1216 {
  position:absolute;
  left:0px;
  top:60px;
  width:92px;
  height:30px;
  color:#FFFFFF;
}
#u1217 {
  position:absolute;
  left:2px;
  top:7px;
  width:88px;
  word-wrap:break-word;
}
#u1218_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
}
#u1218 {
  position:absolute;
  left:0px;
  top:90px;
  width:92px;
  height:30px;
  color:#FFFFFF;
}
#u1219 {
  position:absolute;
  left:2px;
  top:7px;
  width:88px;
  word-wrap:break-word;
}
#u1210_ann {
  position:absolute;
  left:631px;
  top:682px;
  width:1px;
  height:1px;
}
#u1220 {
  position:absolute;
  left:712px;
  top:702px;
  width:91px;
  height:124px;
  overflow:hidden;
  visibility:hidden;
}
#u1220_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:124px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1220_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1221 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:65px;
}
#u1222_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
}
#u1222 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
  color:#FFFFFF;
}
#u1223 {
  position:absolute;
  left:2px;
  top:7px;
  width:88px;
  word-wrap:break-word;
}
#u1224_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
}
#u1224 {
  position:absolute;
  left:0px;
  top:30px;
  width:92px;
  height:30px;
  color:#FFFFFF;
}
#u1225 {
  position:absolute;
  left:2px;
  top:7px;
  width:88px;
  word-wrap:break-word;
}
#u1220_ann {
  position:absolute;
  left:796px;
  top:698px;
  width:1px;
  height:1px;
}
#u1226_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:1143px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.4);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1226 {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:1143px;
}
#u1227 {
  position:absolute;
  left:2px;
  top:564px;
  width:1096px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1228_div {
  position:absolute;
  left:0px;
  top:0px;
  width:749px;
  height:636px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1228 {
  position:absolute;
  left:177px;
  top:125px;
  width:749px;
  height:636px;
}
#u1229 {
  position:absolute;
  left:2px;
  top:310px;
  width:745px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1230_div {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:50px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1230 {
  position:absolute;
  left:206px;
  top:132px;
  width:7px;
  height:50px;
}
#u1231 {
  position:absolute;
  left:2px;
  top:17px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1232_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u1232 {
  position:absolute;
  left:223px;
  top:132px;
  width:300px;
  height:50px;
  font-size:16px;
  text-align:left;
}
#u1233 {
  position:absolute;
  left:2px;
  top:16px;
  width:296px;
  word-wrap:break-word;
}
#u1234_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1234 {
  position:absolute;
  left:874px;
  top:132px;
  width:30px;
  height:30px;
}
#u1235 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1236_div {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 204, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u1236 {
  position:absolute;
  left:229px;
  top:199px;
  width:262px;
  height:50px;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u1237 {
  position:absolute;
  left:2px;
  top:16px;
  width:258px;
  word-wrap:break-word;
}
#u1238_div {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 204, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u1238 {
  position:absolute;
  left:501px;
  top:199px;
  width:260px;
  height:50px;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u1239 {
  position:absolute;
  left:2px;
  top:16px;
  width:256px;
  word-wrap:break-word;
}
#u1240_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:50px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u1240 {
  position:absolute;
  left:771px;
  top:199px;
  width:87px;
  height:50px;
  font-size:16px;
  color:#FFFFFF;
}
#u1241 {
  position:absolute;
  left:2px;
  top:16px;
  width:83px;
  word-wrap:break-word;
}
#u1242_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1242 {
  position:absolute;
  left:452px;
  top:209px;
  width:30px;
  height:30px;
}
#u1243 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1244_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1244 {
  position:absolute;
  left:723px;
  top:209px;
  width:30px;
  height:30px;
}
#u1245 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1246_div {
  position:absolute;
  left:0px;
  top:0px;
  width:629px;
  height:360px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u1246 {
  position:absolute;
  left:229px;
  top:259px;
  width:629px;
  height:360px;
  font-size:16px;
  color:#FFFFFF;
}
#u1247 {
  position:absolute;
  left:2px;
  top:170px;
  width:625px;
  word-wrap:break-word;
}
#u1248_img {
  position:absolute;
  left:0px;
  top:0px;
  width:369px;
  height:40px;
}
#u1248 {
  position:absolute;
  left:367px;
  top:629px;
  width:369px;
  height:40px;
}
#u1249 {
  position:absolute;
  left:2px;
  top:12px;
  width:365px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1248_ann {
  position:absolute;
  left:729px;
  top:625px;
  width:1px;
  height:1px;
}
#u1250_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u1250 {
  position:absolute;
  left:366px;
  top:668px;
  width:28px;
  height:13px;
  font-size:10px;
}
#u1251 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u1252_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u1252 {
  position:absolute;
  left:468px;
  top:668px;
  width:28px;
  height:13px;
  font-size:10px;
}
#u1253 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u1254_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u1254 {
  position:absolute;
  left:569px;
  top:668px;
  width:28px;
  height:13px;
  font-size:10px;
}
#u1255 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u1256_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u1256 {
  position:absolute;
  left:674px;
  top:668px;
  width:28px;
  height:13px;
  font-size:10px;
}
#u1257 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u1258_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u1258 {
  position:absolute;
  left:512px;
  top:700px;
  width:50px;
  height:50px;
}
#u1259 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1258_ann {
  position:absolute;
  left:555px;
  top:696px;
  width:1px;
  height:1px;
}
