body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1204px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4478_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1204px;
  height:961px;
}
#u4478 {
  position:absolute;
  left:0px;
  top:0px;
  width:1204px;
  height:961px;
}
#u4479 {
  position:absolute;
  left:2px;
  top:472px;
  width:1200px;
  visibility:hidden;
  word-wrap:break-word;
}
