body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:396px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4139_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1653px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4139 {
  position:absolute;
  left:20px;
  top:20px;
  width:375px;
  height:1653px;
}
#u4140 {
  position:absolute;
  left:2px;
  top:818px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4141_div {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:615px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4141 {
  position:absolute;
  left:29px;
  top:1047px;
  width:358px;
  height:615px;
}
#u4142 {
  position:absolute;
  left:2px;
  top:300px;
  width:354px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:20px;
}
#u4143 {
  position:absolute;
  left:21px;
  top:21px;
  width:373px;
  height:20px;
}
#u4144 {
  position:absolute;
  left:2px;
  top:2px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4145_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4145 {
  position:absolute;
  left:21px;
  top:41px;
  width:375px;
  height:44px;
}
#u4146 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4147_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4147 {
  position:absolute;
  left:20px;
  top:41px;
  width:375px;
  height:44px;
}
#u4148 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4149_div {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4149 {
  position:absolute;
  left:29px;
  top:118px;
  width:358px;
  height:170px;
}
#u4150 {
  position:absolute;
  left:2px;
  top:77px;
  width:354px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4151 {
  position:absolute;
  left:29px;
  top:120px;
  width:358px;
  height:181px;
  overflow:hidden;
}
#u4151_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:181px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u4151_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:202px;
}
#u4152 {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:202px;
}
#u4153 {
  position:absolute;
  left:2px;
  top:93px;
  width:355px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4154_div {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:24px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4154 {
  position:absolute;
  left:0px;
  top:157px;
  width:359px;
  height:24px;
}
#u4155 {
  position:absolute;
  left:2px;
  top:4px;
  width:355px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u4156 {
  position:absolute;
  left:313px;
  top:164px;
  width:8px;
  height:8px;
}
#u4157 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u4158 {
  position:absolute;
  left:322px;
  top:164px;
  width:8px;
  height:8px;
}
#u4159 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4160_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u4160 {
  position:absolute;
  left:331px;
  top:164px;
  width:8px;
  height:8px;
}
#u4161 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4151_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:181px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u4151_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:486px;
  height:305px;
}
#u4162 {
  position:absolute;
  left:0px;
  top:-19px;
  width:486px;
  height:305px;
}
#u4163 {
  position:absolute;
  left:2px;
  top:144px;
  width:482px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4164_div {
  position:absolute;
  left:0px;
  top:0px;
  width:486px;
  height:33px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4164 {
  position:absolute;
  left:0px;
  top:213px;
  width:486px;
  height:33px;
}
#u4165 {
  position:absolute;
  left:2px;
  top:8px;
  width:482px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4166_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u4166 {
  position:absolute;
  left:424px;
  top:224px;
  width:10px;
  height:10px;
}
#u4167 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4168_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u4168 {
  position:absolute;
  left:435px;
  top:224px;
  width:10px;
  height:10px;
}
#u4169 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4170_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u4170 {
  position:absolute;
  left:447px;
  top:224px;
  width:10px;
  height:10px;
}
#u4171 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4151_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:181px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u4151_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4172_img {
  position:absolute;
  left:0px;
  top:0px;
  width:486px;
  height:277px;
}
#u4172 {
  position:absolute;
  left:0px;
  top:-28px;
  width:486px;
  height:277px;
}
#u4173 {
  position:absolute;
  left:2px;
  top:130px;
  width:482px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4174_div {
  position:absolute;
  left:0px;
  top:0px;
  width:486px;
  height:33px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4174 {
  position:absolute;
  left:0px;
  top:213px;
  width:486px;
  height:33px;
}
#u4175 {
  position:absolute;
  left:2px;
  top:8px;
  width:482px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4176_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u4176 {
  position:absolute;
  left:424px;
  top:224px;
  width:10px;
  height:10px;
}
#u4177 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4178_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u4178 {
  position:absolute;
  left:435px;
  top:224px;
  width:10px;
  height:10px;
}
#u4179 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4180_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u4180 {
  position:absolute;
  left:447px;
  top:224px;
  width:10px;
  height:10px;
}
#u4181 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4182_div {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:292px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4182 {
  position:absolute;
  left:29px;
  top:345px;
  width:358px;
  height:292px;
}
#u4183 {
  position:absolute;
  left:2px;
  top:138px;
  width:354px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4184_div {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:35px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u4184 {
  position:absolute;
  left:29px;
  top:311px;
  width:358px;
  height:35px;
  font-size:16px;
  color:#FFFFFF;
}
#u4185 {
  position:absolute;
  left:2px;
  top:8px;
  width:354px;
  word-wrap:break-word;
}
#u4186_div {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:35px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u4186 {
  position:absolute;
  left:29px;
  top:85px;
  width:358px;
  height:35px;
  font-size:16px;
  color:#FFFFFF;
}
#u4187 {
  position:absolute;
  left:2px;
  top:8px;
  width:354px;
  word-wrap:break-word;
}
#u4188_div {
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FF9500;
}
#u4188 {
  position:absolute;
  left:40px;
  top:356px;
  width:336px;
  height:55px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FF9500;
}
#u4189 {
  position:absolute;
  left:2px;
  top:20px;
  width:332px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4190_div {
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u4190 {
  position:absolute;
  left:40px;
  top:421px;
  width:336px;
  height:55px;
  font-size:16px;
}
#u4191 {
  position:absolute;
  left:2px;
  top:20px;
  width:332px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4192_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 149, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u4192 {
  position:absolute;
  left:41px;
  top:358px;
  width:64px;
  height:51px;
  font-size:14px;
  color:#FFFFFF;
}
#u4193 {
  position:absolute;
  left:2px;
  top:18px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4194_div {
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u4194 {
  position:absolute;
  left:40px;
  top:486px;
  width:336px;
  height:55px;
  font-size:16px;
}
#u4195 {
  position:absolute;
  left:2px;
  top:20px;
  width:332px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4196_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:51px;
}
#u4196 {
  position:absolute;
  left:41px;
  top:488px;
  width:64px;
  height:51px;
}
#u4197 {
  position:absolute;
  left:2px;
  top:18px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4198_div {
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:71px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u4198 {
  position:absolute;
  left:40px;
  top:551px;
  width:336px;
  height:71px;
  font-size:16px;
}
#u4199 {
  position:absolute;
  left:2px;
  top:28px;
  width:332px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4200_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u4200 {
  position:absolute;
  left:59px;
  top:363px;
  width:29px;
  height:32px;
  color:#FFFFFF;
}
#u4201 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u4202 {
  position:absolute;
  left:115px;
  top:360px;
  width:259px;
  height:47px;
}
#u4203_img {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:20px;
}
#u4203 {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:20px;
}
#u4204 {
  position:absolute;
  left:2px;
  top:2px;
  width:250px;
  word-wrap:break-word;
}
#u4205_img {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:22px;
}
#u4205 {
  position:absolute;
  left:0px;
  top:20px;
  width:254px;
  height:22px;
}
#u4206 {
  position:absolute;
  left:2px;
  top:3px;
  width:250px;
  word-wrap:break-word;
}
#u4207_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 149, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u4207 {
  position:absolute;
  left:41px;
  top:423px;
  width:64px;
  height:51px;
  font-size:14px;
  color:#FFFFFF;
}
#u4208 {
  position:absolute;
  left:2px;
  top:18px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4209_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u4209 {
  position:absolute;
  left:59px;
  top:428px;
  width:29px;
  height:32px;
  color:#FFFFFF;
}
#u4210 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u4211 {
  position:absolute;
  left:115px;
  top:424px;
  width:251px;
  height:51px;
}
#u4212_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:46px;
}
#u4212 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:46px;
}
#u4213 {
  position:absolute;
  left:2px;
  top:7px;
  width:78px;
  word-wrap:break-word;
}
#u4214_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:46px;
}
#u4214 {
  position:absolute;
  left:82px;
  top:0px;
  width:82px;
  height:46px;
}
#u4215 {
  position:absolute;
  left:2px;
  top:7px;
  width:78px;
  word-wrap:break-word;
}
#u4216_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:46px;
}
#u4216 {
  position:absolute;
  left:164px;
  top:0px;
  width:82px;
  height:46px;
}
#u4217 {
  position:absolute;
  left:2px;
  top:7px;
  width:78px;
  word-wrap:break-word;
}
#u4218 {
  position:absolute;
  left:107px;
  top:491px;
  width:274px;
  height:51px;
}
#u4219_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:46px;
}
#u4219 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:46px;
  font-size:12px;
}
#u4220 {
  position:absolute;
  left:2px;
  top:8px;
  width:41px;
  word-wrap:break-word;
}
#u4221_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:46px;
}
#u4221 {
  position:absolute;
  left:45px;
  top:0px;
  width:45px;
  height:46px;
  font-size:12px;
}
#u4222 {
  position:absolute;
  left:2px;
  top:8px;
  width:41px;
  word-wrap:break-word;
}
#u4223_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:46px;
}
#u4223 {
  position:absolute;
  left:90px;
  top:0px;
  width:45px;
  height:46px;
  font-size:12px;
}
#u4224 {
  position:absolute;
  left:2px;
  top:8px;
  width:41px;
  word-wrap:break-word;
}
#u4225_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:46px;
}
#u4225 {
  position:absolute;
  left:135px;
  top:0px;
  width:45px;
  height:46px;
  font-size:12px;
}
#u4226 {
  position:absolute;
  left:2px;
  top:8px;
  width:41px;
  word-wrap:break-word;
}
#u4227_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:46px;
}
#u4227 {
  position:absolute;
  left:180px;
  top:0px;
  width:45px;
  height:46px;
  font-size:12px;
}
#u4228 {
  position:absolute;
  left:2px;
  top:8px;
  width:41px;
  word-wrap:break-word;
}
#u4229_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:46px;
}
#u4229 {
  position:absolute;
  left:225px;
  top:0px;
  width:44px;
  height:46px;
  font-size:12px;
}
#u4230 {
  position:absolute;
  left:2px;
  top:8px;
  width:40px;
  word-wrap:break-word;
}
#u4231_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:67px;
  background:inherit;
  background-color:rgba(255, 149, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u4231 {
  position:absolute;
  left:41px;
  top:553px;
  width:64px;
  height:67px;
  font-size:14px;
  color:#FFFFFF;
}
#u4232 {
  position:absolute;
  left:2px;
  top:26px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4233_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u4233 {
  position:absolute;
  left:59px;
  top:565px;
  width:29px;
  height:32px;
  color:#FFFFFF;
}
#u4234 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u4235_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:63px;
}
#u4235 {
  position:absolute;
  left:160px;
  top:547px;
  width:63px;
  height:63px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FF9500;
}
#u4236 {
  position:absolute;
  left:2px;
  top:24px;
  width:59px;
  word-wrap:break-word;
}
#u4237_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:63px;
}
#u4237 {
  position:absolute;
  left:254px;
  top:547px;
  width:63px;
  height:63px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FF9500;
}
#u4238 {
  position:absolute;
  left:2px;
  top:24px;
  width:59px;
  word-wrap:break-word;
}
#u4239 {
  position:absolute;
  left:160px;
  top:602px;
  width:68px;
  height:25px;
}
#u4240_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:20px;
}
#u4240 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:20px;
  font-size:10px;
  color:#999999;
}
#u4241 {
  position:absolute;
  left:2px;
  top:2px;
  width:59px;
  word-wrap:break-word;
}
#u4242 {
  position:absolute;
  left:254px;
  top:602px;
  width:68px;
  height:25px;
}
#u4243_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:20px;
}
#u4243 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:20px;
  font-size:10px;
  color:#999999;
}
#u4244 {
  position:absolute;
  left:2px;
  top:2px;
  width:59px;
  word-wrap:break-word;
}
#u4245_div {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:139px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4245 {
  position:absolute;
  left:29px;
  top:681px;
  width:358px;
  height:139px;
}
#u4246 {
  position:absolute;
  left:2px;
  top:62px;
  width:354px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4247_div {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:35px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u4247 {
  position:absolute;
  left:29px;
  top:647px;
  width:358px;
  height:35px;
  font-size:16px;
  color:#FFFFFF;
}
#u4248 {
  position:absolute;
  left:2px;
  top:8px;
  width:354px;
  word-wrap:break-word;
}
#u4249 {
  position:absolute;
  left:29px;
  top:692px;
  width:363px;
  height:125px;
}
#u4250_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:30px;
}
#u4250 {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:30px;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u4251 {
  position:absolute;
  left:2px;
  top:8px;
  width:236px;
  word-wrap:break-word;
}
#u4252_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:30px;
}
#u4252 {
  position:absolute;
  left:240px;
  top:0px;
  width:118px;
  height:30px;
  font-size:12px;
  color:#999999;
  text-align:right;
}
#u4253 {
  position:absolute;
  left:2px;
  top:8px;
  width:114px;
  word-wrap:break-word;
}
#u4254_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:30px;
}
#u4254 {
  position:absolute;
  left:0px;
  top:30px;
  width:240px;
  height:30px;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u4255 {
  position:absolute;
  left:2px;
  top:8px;
  width:236px;
  word-wrap:break-word;
}
#u4256_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:30px;
}
#u4256 {
  position:absolute;
  left:240px;
  top:30px;
  width:118px;
  height:30px;
  font-size:12px;
  color:#999999;
  text-align:right;
}
#u4257 {
  position:absolute;
  left:2px;
  top:8px;
  width:114px;
  word-wrap:break-word;
}
#u4258_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:30px;
}
#u4258 {
  position:absolute;
  left:0px;
  top:60px;
  width:240px;
  height:30px;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u4259 {
  position:absolute;
  left:2px;
  top:8px;
  width:236px;
  word-wrap:break-word;
}
#u4260_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:30px;
}
#u4260 {
  position:absolute;
  left:240px;
  top:60px;
  width:118px;
  height:30px;
  font-size:12px;
  color:#999999;
  text-align:right;
}
#u4261 {
  position:absolute;
  left:2px;
  top:8px;
  width:114px;
  word-wrap:break-word;
}
#u4262_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:30px;
}
#u4262 {
  position:absolute;
  left:0px;
  top:90px;
  width:240px;
  height:30px;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u4263 {
  position:absolute;
  left:2px;
  top:8px;
  width:236px;
  word-wrap:break-word;
}
#u4264_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:30px;
}
#u4264 {
  position:absolute;
  left:240px;
  top:90px;
  width:118px;
  height:30px;
  font-size:12px;
  color:#999999;
  text-align:right;
}
#u4265 {
  position:absolute;
  left:2px;
  top:8px;
  width:114px;
  word-wrap:break-word;
}
#u4266_div {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:139px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4266 {
  position:absolute;
  left:29px;
  top:864px;
  width:358px;
  height:139px;
}
#u4267 {
  position:absolute;
  left:2px;
  top:62px;
  width:354px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4268_div {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:35px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u4268 {
  position:absolute;
  left:29px;
  top:830px;
  width:358px;
  height:35px;
  font-size:16px;
  color:#FFFFFF;
}
#u4269 {
  position:absolute;
  left:2px;
  top:8px;
  width:354px;
  word-wrap:break-word;
}
#u4270 {
  position:absolute;
  left:29px;
  top:875px;
  width:363px;
  height:125px;
}
#u4271_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:30px;
}
#u4271 {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:30px;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u4272 {
  position:absolute;
  left:2px;
  top:8px;
  width:236px;
  word-wrap:break-word;
}
#u4273_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:30px;
}
#u4273 {
  position:absolute;
  left:240px;
  top:0px;
  width:118px;
  height:30px;
  font-size:12px;
  color:#999999;
  text-align:right;
}
#u4274 {
  position:absolute;
  left:2px;
  top:8px;
  width:114px;
  word-wrap:break-word;
}
#u4275_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:30px;
}
#u4275 {
  position:absolute;
  left:0px;
  top:30px;
  width:240px;
  height:30px;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u4276 {
  position:absolute;
  left:2px;
  top:8px;
  width:236px;
  word-wrap:break-word;
}
#u4277_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:30px;
}
#u4277 {
  position:absolute;
  left:240px;
  top:30px;
  width:118px;
  height:30px;
  font-size:12px;
  color:#999999;
  text-align:right;
}
#u4278 {
  position:absolute;
  left:2px;
  top:8px;
  width:114px;
  word-wrap:break-word;
}
#u4279_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:30px;
}
#u4279 {
  position:absolute;
  left:0px;
  top:60px;
  width:240px;
  height:30px;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u4280 {
  position:absolute;
  left:2px;
  top:8px;
  width:236px;
  word-wrap:break-word;
}
#u4281_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:30px;
}
#u4281 {
  position:absolute;
  left:240px;
  top:60px;
  width:118px;
  height:30px;
  font-size:12px;
  color:#999999;
  text-align:right;
}
#u4282 {
  position:absolute;
  left:2px;
  top:8px;
  width:114px;
  word-wrap:break-word;
}
#u4283_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:30px;
}
#u4283 {
  position:absolute;
  left:0px;
  top:90px;
  width:240px;
  height:30px;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u4284 {
  position:absolute;
  left:2px;
  top:8px;
  width:236px;
  word-wrap:break-word;
}
#u4285_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:30px;
}
#u4285 {
  position:absolute;
  left:240px;
  top:90px;
  width:118px;
  height:30px;
  font-size:12px;
  color:#999999;
  text-align:right;
}
#u4286 {
  position:absolute;
  left:2px;
  top:8px;
  width:114px;
  word-wrap:break-word;
}
#u4287_div {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:520px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4287 {
  position:absolute;
  left:29px;
  top:1047px;
  width:358px;
  height:520px;
}
#u4288 {
  position:absolute;
  left:2px;
  top:252px;
  width:354px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4289_div {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:35px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u4289 {
  position:absolute;
  left:29px;
  top:1013px;
  width:358px;
  height:35px;
  font-size:16px;
  color:#FFFFFF;
}
#u4290 {
  position:absolute;
  left:2px;
  top:8px;
  width:354px;
  word-wrap:break-word;
}
#u4291 {
  position:absolute;
  left:29px;
  top:1047px;
  width:358px;
  height:520px;
  overflow:hidden;
}
#u4291_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:520px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u4291_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4292_img {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:541px;
}
#u4292 {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:541px;
}
#u4293 {
  position:absolute;
  left:2px;
  top:262px;
  width:354px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4294_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:23px;
}
#u4294 {
  position:absolute;
  left:157px;
  top:51px;
  width:101px;
  height:23px;
  font-size:18px;
  color:#FF9500;
}
#u4295 {
  position:absolute;
  left:2px;
  top:0px;
  width:97px;
  word-wrap:break-word;
}
#u4296 {
  position:absolute;
  left:115px;
  top:360px;
  width:254px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4297 {
  position:absolute;
  left:115px;
  top:490px;
  width:254px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4298 {
  position:absolute;
  left:29px;
  top:647px;
  width:358px;
  height:35px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4299 {
  position:absolute;
  left:29px;
  top:871px;
  width:358px;
  height:128px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4300 {
  position:absolute;
  left:29px;
  top:692px;
  width:358px;
  height:120px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4301 {
  position:absolute;
  left:29px;
  top:830px;
  width:358px;
  height:35px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4302 {
  position:absolute;
  left:115px;
  top:424px;
  width:254px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4303 {
  position:absolute;
  left:115px;
  top:551px;
  width:254px;
  height:71px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4304_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.4);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC6633;
}
#u4304 {
  position:absolute;
  left:59px;
  top:1094px;
  width:39px;
  height:26px;
  color:#CC6633;
}
#u4305 {
  position:absolute;
  left:2px;
  top:5px;
  width:35px;
  word-wrap:break-word;
}
#u4306_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.4);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC6633;
}
#u4306 {
  position:absolute;
  left:151px;
  top:1083px;
  width:39px;
  height:26px;
  color:#CC6633;
}
#u4307 {
  position:absolute;
  left:2px;
  top:5px;
  width:35px;
  word-wrap:break-word;
}
#u4308_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.4);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC6633;
}
#u4308 {
  position:absolute;
  left:110px;
  top:1144px;
  width:39px;
  height:26px;
  color:#CC6633;
}
#u4309 {
  position:absolute;
  left:2px;
  top:5px;
  width:35px;
  word-wrap:break-word;
}
#u4310_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.4);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC6633;
}
#u4310 {
  position:absolute;
  left:178px;
  top:1183px;
  width:39px;
  height:26px;
  color:#CC6633;
}
#u4311 {
  position:absolute;
  left:2px;
  top:5px;
  width:35px;
  word-wrap:break-word;
}
#u4312_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.4);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC6633;
}
#u4312 {
  position:absolute;
  left:288px;
  top:1159px;
  width:39px;
  height:26px;
  color:#CC6633;
}
#u4313 {
  position:absolute;
  left:2px;
  top:5px;
  width:35px;
  word-wrap:break-word;
}
#u4314_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u4314 {
  position:absolute;
  left:69px;
  top:1118px;
  width:20px;
  height:20px;
}
#u4315 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4316_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u4316 {
  position:absolute;
  left:160px;
  top:1107px;
  width:20px;
  height:20px;
}
#u4317 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4318_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u4318 {
  position:absolute;
  left:187px;
  top:1205px;
  width:20px;
  height:20px;
}
#u4319 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4320_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u4320 {
  position:absolute;
  left:119px;
  top:1168px;
  width:20px;
  height:20px;
}
#u4321 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4322_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u4322 {
  position:absolute;
  left:297px;
  top:1181px;
  width:20px;
  height:20px;
}
#u4323 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4324_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.4);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC6633;
}
#u4324 {
  position:absolute;
  left:288px;
  top:1217px;
  width:39px;
  height:26px;
  color:#CC6633;
}
#u4325 {
  position:absolute;
  left:2px;
  top:5px;
  width:35px;
  word-wrap:break-word;
}
#u4326_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.4);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC6633;
}
#u4326 {
  position:absolute;
  left:245px;
  top:1343px;
  width:39px;
  height:26px;
  color:#CC6633;
}
#u4327 {
  position:absolute;
  left:2px;
  top:5px;
  width:35px;
  word-wrap:break-word;
}
#u4328_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u4328 {
  position:absolute;
  left:297px;
  top:1239px;
  width:20px;
  height:20px;
}
#u4329 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4330_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u4330 {
  position:absolute;
  left:254px;
  top:1365px;
  width:20px;
  height:20px;
}
#u4331 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4332_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.4);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC6633;
}
#u4332 {
  position:absolute;
  left:267px;
  top:1433px;
  width:39px;
  height:26px;
  color:#CC6633;
}
#u4333 {
  position:absolute;
  left:2px;
  top:5px;
  width:35px;
  word-wrap:break-word;
}
#u4334_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u4334 {
  position:absolute;
  left:276px;
  top:1459px;
  width:20px;
  height:20px;
}
#u4335 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4336_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.4);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC6633;
}
#u4336 {
  position:absolute;
  left:209px;
  top:1456px;
  width:39px;
  height:26px;
  color:#CC6633;
}
#u4337 {
  position:absolute;
  left:2px;
  top:5px;
  width:35px;
  word-wrap:break-word;
}
#u4338_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u4338 {
  position:absolute;
  left:218px;
  top:1483px;
  width:20px;
  height:20px;
}
#u4339 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4340_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.4);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC6633;
}
#u4340 {
  position:absolute;
  left:131px;
  top:1424px;
  width:39px;
  height:26px;
  color:#CC6633;
}
#u4341 {
  position:absolute;
  left:2px;
  top:5px;
  width:35px;
  word-wrap:break-word;
}
#u4342_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u4342 {
  position:absolute;
  left:140px;
  top:1450px;
  width:20px;
  height:20px;
}
#u4343 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4344_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.4);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC6633;
}
#u4344 {
  position:absolute;
  left:50px;
  top:1424px;
  width:39px;
  height:26px;
  color:#CC6633;
}
#u4345 {
  position:absolute;
  left:2px;
  top:5px;
  width:35px;
  word-wrap:break-word;
}
#u4346_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u4346 {
  position:absolute;
  left:59px;
  top:1450px;
  width:20px;
  height:20px;
}
#u4347 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4348 {
  position:absolute;
  left:40px;
  top:1577px;
  width:341px;
  height:80px;
}
#u4349_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
}
#u4349 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
}
#u4350 {
  position:absolute;
  left:2px;
  top:4px;
  width:46px;
  word-wrap:break-word;
}
#u4351_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:25px;
}
#u4351 {
  position:absolute;
  left:50px;
  top:0px;
  width:174px;
  height:25px;
}
#u4352 {
  position:absolute;
  left:2px;
  top:4px;
  width:170px;
  word-wrap:break-word;
}
#u4353_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:25px;
}
#u4353 {
  position:absolute;
  left:224px;
  top:0px;
  width:112px;
  height:25px;
  color:#FFCC00;
}
#u4354 {
  position:absolute;
  left:2px;
  top:4px;
  width:108px;
  word-wrap:break-word;
}
#u4355_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
}
#u4355 {
  position:absolute;
  left:0px;
  top:25px;
  width:50px;
  height:25px;
}
#u4356 {
  position:absolute;
  left:2px;
  top:4px;
  width:46px;
  word-wrap:break-word;
}
#u4357_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:25px;
}
#u4357 {
  position:absolute;
  left:50px;
  top:25px;
  width:174px;
  height:25px;
}
#u4358 {
  position:absolute;
  left:2px;
  top:4px;
  width:170px;
  word-wrap:break-word;
}
#u4359_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:25px;
}
#u4359 {
  position:absolute;
  left:224px;
  top:25px;
  width:112px;
  height:25px;
}
#u4360 {
  position:absolute;
  left:2px;
  top:4px;
  width:108px;
  word-wrap:break-word;
}
#u4361_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
}
#u4361 {
  position:absolute;
  left:0px;
  top:50px;
  width:50px;
  height:25px;
}
#u4362 {
  position:absolute;
  left:2px;
  top:4px;
  width:46px;
  word-wrap:break-word;
}
#u4363_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:25px;
}
#u4363 {
  position:absolute;
  left:50px;
  top:50px;
  width:174px;
  height:25px;
}
#u4364 {
  position:absolute;
  left:2px;
  top:4px;
  width:170px;
  word-wrap:break-word;
}
#u4365_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:25px;
}
#u4365 {
  position:absolute;
  left:224px;
  top:50px;
  width:112px;
  height:25px;
  color:#CC3300;
}
#u4366 {
  position:absolute;
  left:2px;
  top:4px;
  width:108px;
  word-wrap:break-word;
}
#u4348_ann {
  position:absolute;
  left:369px;
  top:1573px;
  width:1px;
  height:1px;
}
#u4367 {
  position:absolute;
  left:29px;
  top:1565px;
  width:358px;
  height:87px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
