body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1020px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4560_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1020px;
  height:413px;
}
#u4560 {
  position:absolute;
  left:0px;
  top:0px;
  width:1020px;
  height:413px;
}
#u4561 {
  position:absolute;
  left:2px;
  top:198px;
  width:1016px;
  visibility:hidden;
  word-wrap:break-word;
}
