body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:395px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4740_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4740 {
  position:absolute;
  left:20px;
  top:20px;
  width:375px;
  height:667px;
}
#u4741 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4742_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:20px;
}
#u4742 {
  position:absolute;
  left:21px;
  top:21px;
  width:373px;
  height:20px;
}
#u4743 {
  position:absolute;
  left:2px;
  top:2px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4744_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:23px;
}
#u4744 {
  position:absolute;
  left:157px;
  top:51px;
  width:101px;
  height:23px;
  font-size:18px;
  color:#FF9500;
}
#u4745 {
  position:absolute;
  left:2px;
  top:0px;
  width:97px;
  word-wrap:break-word;
}
#u4744_ann {
  position:absolute;
  left:251px;
  top:47px;
  width:1px;
  height:1px;
}
#u4746_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u4746 {
  position:absolute;
  left:349px;
  top:118px;
  width:30px;
  height:30px;
}
#u4747 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4748_img {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:2px;
}
#u4748 {
  position:absolute;
  left:39px;
  top:168px;
  width:340px;
  height:1px;
}
#u4749 {
  position:absolute;
  left:2px;
  top:-8px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4750_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u4750 {
  position:absolute;
  left:39px;
  top:118px;
  width:30px;
  height:30px;
}
#u4751 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4752_div {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4752 {
  position:absolute;
  left:79px;
  top:125px;
  width:206px;
  height:16px;
}
#u4753 {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  word-wrap:break-word;
}
#u4754_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u4754 {
  position:absolute;
  left:349px;
  top:179px;
  width:30px;
  height:30px;
}
#u4755 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4756_img {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:2px;
}
#u4756 {
  position:absolute;
  left:39px;
  top:229px;
  width:340px;
  height:1px;
}
#u4757 {
  position:absolute;
  left:2px;
  top:-8px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4758_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u4758 {
  position:absolute;
  left:39px;
  top:179px;
  width:30px;
  height:30px;
}
#u4759 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4760_div {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4760 {
  position:absolute;
  left:79px;
  top:186px;
  width:206px;
  height:16px;
}
#u4761 {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  word-wrap:break-word;
}
#u4762_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u4762 {
  position:absolute;
  left:349px;
  top:240px;
  width:30px;
  height:30px;
}
#u4763 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4764_img {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:2px;
}
#u4764 {
  position:absolute;
  left:39px;
  top:290px;
  width:340px;
  height:1px;
}
#u4765 {
  position:absolute;
  left:2px;
  top:-8px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4766_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u4766 {
  position:absolute;
  left:42px;
  top:243px;
  width:25px;
  height:25px;
}
#u4767 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4768_div {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4768 {
  position:absolute;
  left:79px;
  top:247px;
  width:206px;
  height:16px;
}
#u4769 {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  word-wrap:break-word;
}
#u4770_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u4770 {
  position:absolute;
  left:349px;
  top:308px;
  width:30px;
  height:30px;
}
#u4771 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4772_img {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:2px;
}
#u4772 {
  position:absolute;
  left:39px;
  top:351px;
  width:340px;
  height:1px;
}
#u4773 {
  position:absolute;
  left:2px;
  top:-8px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4774_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u4774 {
  position:absolute;
  left:39px;
  top:301px;
  width:30px;
  height:30px;
}
#u4775 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4776_div {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4776 {
  position:absolute;
  left:79px;
  top:308px;
  width:206px;
  height:16px;
}
#u4777 {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  word-wrap:break-word;
}
#u4778 {
  position:absolute;
  left:42px;
  top:109px;
  width:328px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4779 {
  position:absolute;
  left:42px;
  top:170px;
  width:328px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4780 {
  position:absolute;
  left:42px;
  top:231px;
  width:328px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4781 {
  position:absolute;
  left:39px;
  top:301px;
  width:328px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
