body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1171px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2754_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1143px;
  height:425px;
}
#u2754 {
  position:absolute;
  left:14px;
  top:57px;
  width:1143px;
  height:425px;
}
#u2755 {
  position:absolute;
  left:2px;
  top:204px;
  width:1139px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2756_div {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2756 {
  position:absolute;
  left:7px;
  top:5px;
  width:7px;
  height:40px;
}
#u2757 {
  position:absolute;
  left:2px;
  top:12px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2758_div {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u2758 {
  position:absolute;
  left:14px;
  top:5px;
  width:310px;
  height:40px;
  font-size:16px;
  text-align:left;
}
#u2759 {
  position:absolute;
  left:2px;
  top:10px;
  width:306px;
  word-wrap:break-word;
}
#u2760_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1171px;
  height:717px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.4);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2760 {
  position:absolute;
  left:0px;
  top:0px;
  width:1171px;
  height:717px;
}
#u2761 {
  position:absolute;
  left:2px;
  top:350px;
  width:1167px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2762_div {
  position:absolute;
  left:0px;
  top:0px;
  width:710px;
  height:604px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2762 {
  position:absolute;
  left:195px;
  top:83px;
  width:710px;
  height:604px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2763 {
  position:absolute;
  left:2px;
  top:294px;
  width:706px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2764_div {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2764 {
  position:absolute;
  left:202px;
  top:99px;
  width:7px;
  height:40px;
}
#u2765 {
  position:absolute;
  left:2px;
  top:12px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2766_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u2766 {
  position:absolute;
  left:219px;
  top:99px;
  width:300px;
  height:40px;
  font-size:16px;
  text-align:left;
}
#u2767 {
  position:absolute;
  left:2px;
  top:10px;
  width:296px;
  word-wrap:break-word;
}
#u2768_img {
  position:absolute;
  left:0px;
  top:0px;
  width:649px;
  height:442px;
}
#u2768 {
  position:absolute;
  left:226px;
  top:153px;
  width:649px;
  height:442px;
}
#u2769 {
  position:absolute;
  left:2px;
  top:213px;
  width:645px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2770_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
}
#u2770 {
  position:absolute;
  left:667px;
  top:612px;
  width:99px;
  height:51px;
  font-size:16px;
  color:#666666;
}
#u2771 {
  position:absolute;
  left:2px;
  top:16px;
  width:95px;
  word-wrap:break-word;
}
#u2772_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:51px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u2772 {
  position:absolute;
  left:776px;
  top:612px;
  width:99px;
  height:51px;
  font-size:16px;
  color:#FFFFFF;
}
#u2773 {
  position:absolute;
  left:2px;
  top:16px;
  width:95px;
  word-wrap:break-word;
}
#u2774_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1171px;
  height:717px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.4);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2774 {
  position:absolute;
  left:0px;
  top:0px;
  width:1171px;
  height:717px;
}
#u2775 {
  position:absolute;
  left:2px;
  top:350px;
  width:1167px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2776_div {
  position:absolute;
  left:0px;
  top:0px;
  width:710px;
  height:357px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2776 {
  position:absolute;
  left:195px;
  top:83px;
  width:710px;
  height:357px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2777 {
  position:absolute;
  left:2px;
  top:170px;
  width:706px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2778_div {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2778 {
  position:absolute;
  left:202px;
  top:95px;
  width:7px;
  height:30px;
}
#u2779 {
  position:absolute;
  left:2px;
  top:7px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2780_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u2780 {
  position:absolute;
  left:219px;
  top:95px;
  width:300px;
  height:30px;
  font-size:16px;
  text-align:left;
}
#u2781 {
  position:absolute;
  left:2px;
  top:6px;
  width:296px;
  word-wrap:break-word;
}
#u2782_img {
  position:absolute;
  left:0px;
  top:0px;
  width:579px;
  height:195px;
}
#u2782 {
  position:absolute;
  left:261px;
  top:153px;
  width:579px;
  height:195px;
}
#u2783 {
  position:absolute;
  left:2px;
  top:90px;
  width:575px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2784_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
}
#u2784 {
  position:absolute;
  left:667px;
  top:365px;
  width:99px;
  height:51px;
  font-size:16px;
  color:#666666;
}
#u2785 {
  position:absolute;
  left:2px;
  top:16px;
  width:95px;
  word-wrap:break-word;
}
#u2786_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:51px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u2786 {
  position:absolute;
  left:776px;
  top:365px;
  width:99px;
  height:51px;
  font-size:16px;
  color:#FFFFFF;
}
#u2787 {
  position:absolute;
  left:2px;
  top:16px;
  width:95px;
  word-wrap:break-word;
}
