body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1100px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3683_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:510px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3683 {
  position:absolute;
  left:0px;
  top:-7px;
  width:1100px;
  height:510px;
}
#u3684 {
  position:absolute;
  left:2px;
  top:247px;
  width:1096px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3685_div {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3685 {
  position:absolute;
  left:7px;
  top:5px;
  width:7px;
  height:40px;
}
#u3686 {
  position:absolute;
  left:2px;
  top:12px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3687_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u3687 {
  position:absolute;
  left:24px;
  top:5px;
  width:300px;
  height:40px;
  font-size:16px;
  text-align:left;
}
#u3688 {
  position:absolute;
  left:2px;
  top:10px;
  width:296px;
  word-wrap:break-word;
}
#u3689_div {
  position:absolute;
  left:0px;
  top:0px;
  width:710px;
  height:395px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3689 {
  position:absolute;
  left:195px;
  top:83px;
  width:710px;
  height:395px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3690 {
  position:absolute;
  left:2px;
  top:190px;
  width:706px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3691 {
  position:absolute;
  left:305px;
  top:97px;
  width:105px;
  height:255px;
}
#u3692_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u3692 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  font-size:16px;
  color:#000000;
}
#u3693 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u3694_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u3694 {
  position:absolute;
  left:0px;
  top:50px;
  width:100px;
  height:50px;
  font-size:16px;
  color:#000000;
}
#u3695 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u3696_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u3696 {
  position:absolute;
  left:0px;
  top:100px;
  width:100px;
  height:100px;
  font-size:16px;
  color:#000000;
}
#u3697 {
  position:absolute;
  left:2px;
  top:40px;
  width:96px;
  word-wrap:break-word;
}
#u3698_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u3698 {
  position:absolute;
  left:0px;
  top:200px;
  width:100px;
  height:50px;
  font-size:16px;
  color:#000000;
}
#u3699 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u3700_div {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 204, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u3700 {
  position:absolute;
  left:405px;
  top:152px;
  width:380px;
  height:40px;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u3701 {
  position:absolute;
  left:2px;
  top:10px;
  width:376px;
  word-wrap:break-word;
}
#u3702_div {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:92px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 204, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u3702 {
  position:absolute;
  left:405px;
  top:201px;
  width:380px;
  height:92px;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u3703 {
  position:absolute;
  left:2px;
  top:36px;
  width:376px;
  word-wrap:break-word;
}
#u3704_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u3704 {
  position:absolute;
  left:405px;
  top:313px;
  width:30px;
  height:30px;
}
#u3705 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3706 {
  position:absolute;
  left:795px;
  top:147px;
  width:38px;
  height:205px;
}
#u3707_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:50px;
}
#u3707 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:50px;
  font-size:16px;
  color:#FF0000;
  text-align:left;
}
#u3708 {
  position:absolute;
  left:2px;
  top:16px;
  width:29px;
  word-wrap:break-word;
}
#u3709_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:100px;
}
#u3709 {
  position:absolute;
  left:0px;
  top:50px;
  width:33px;
  height:100px;
  font-size:16px;
  color:#FF0000;
  text-align:left;
}
#u3710 {
  position:absolute;
  left:2px;
  top:40px;
  width:29px;
  word-wrap:break-word;
}
#u3711_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:50px;
}
#u3711 {
  position:absolute;
  left:0px;
  top:150px;
  width:33px;
  height:50px;
  font-size:16px;
  color:#FF0000;
  text-align:left;
}
#u3712 {
  position:absolute;
  left:2px;
  top:17px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3713_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u3713 {
  position:absolute;
  left:439px;
  top:307px;
  width:61px;
  height:42px;
  text-align:left;
}
#u3714 {
  position:absolute;
  left:2px;
  top:13px;
  width:57px;
  word-wrap:break-word;
}
#u3713_ann {
  position:absolute;
  left:493px;
  top:303px;
  width:1px;
  height:1px;
}
#u3715_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
}
#u3715 {
  position:absolute;
  left:620px;
  top:404px;
  width:99px;
  height:40px;
  font-size:16px;
  color:#666666;
}
#u3716 {
  position:absolute;
  left:2px;
  top:10px;
  width:95px;
  word-wrap:break-word;
}
#u3717_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u3717 {
  position:absolute;
  left:729px;
  top:404px;
  width:99px;
  height:40px;
  font-size:16px;
  color:#FFFFFF;
}
#u3718 {
  position:absolute;
  left:2px;
  top:10px;
  width:95px;
  word-wrap:break-word;
}
#u3719_div {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 204, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u3719 {
  position:absolute;
  left:405px;
  top:102px;
  width:380px;
  height:40px;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u3720 {
  position:absolute;
  left:2px;
  top:10px;
  width:376px;
  word-wrap:break-word;
}
#u3719_ann {
  position:absolute;
  left:778px;
  top:98px;
  width:1px;
  height:1px;
}
#u3721_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:45px;
}
#u3721 {
  position:absolute;
  left:706px;
  top:248px;
  width:79px;
  height:45px;
}
#u3722 {
  position:absolute;
  left:2px;
  top:14px;
  width:75px;
  word-wrap:break-word;
}
