body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1100px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2561_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:796px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2561 {
  position:absolute;
  left:0px;
  top:-7px;
  width:1100px;
  height:796px;
}
#u2562 {
  position:absolute;
  left:2px;
  top:390px;
  width:1096px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2563_div {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2563 {
  position:absolute;
  left:7px;
  top:5px;
  width:7px;
  height:40px;
}
#u2564 {
  position:absolute;
  left:2px;
  top:12px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2565_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u2565 {
  position:absolute;
  left:24px;
  top:5px;
  width:300px;
  height:40px;
  font-size:16px;
  text-align:left;
}
#u2566 {
  position:absolute;
  left:2px;
  top:10px;
  width:296px;
  word-wrap:break-word;
}
#u2567_img {
  position:absolute;
  left:0px;
  top:0px;
  width:719px;
  height:412px;
}
#u2567 {
  position:absolute;
  left:171px;
  top:141px;
  width:719px;
  height:412px;
}
#u2568 {
  position:absolute;
  left:2px;
  top:198px;
  width:715px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2569_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u2569 {
  position:absolute;
  left:171px;
  top:91px;
  width:99px;
  height:40px;
  font-size:16px;
  color:#FFFFFF;
}
#u2570 {
  position:absolute;
  left:2px;
  top:10px;
  width:95px;
  word-wrap:break-word;
}
#u2571_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 204, 51, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u2571 {
  position:absolute;
  left:280px;
  top:91px;
  width:99px;
  height:40px;
  font-size:16px;
  color:#FFFFFF;
}
#u2572 {
  position:absolute;
  left:2px;
  top:10px;
  width:95px;
  word-wrap:break-word;
}
#u2573_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:30px;
}
#u2573 {
  position:absolute;
  left:720px;
  top:171px;
  width:138px;
  height:30px;
}
#u2574 {
  position:absolute;
  left:2px;
  top:7px;
  width:134px;
  visibility:hidden;
  word-wrap:break-word;
}
