body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1100px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2302_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:796px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2302 {
  position:absolute;
  left:0px;
  top:-7px;
  width:1100px;
  height:796px;
}
#u2303 {
  position:absolute;
  left:2px;
  top:390px;
  width:1096px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2304_div {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2304 {
  position:absolute;
  left:7px;
  top:5px;
  width:7px;
  height:40px;
}
#u2305 {
  position:absolute;
  left:2px;
  top:12px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2306_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u2306 {
  position:absolute;
  left:24px;
  top:5px;
  width:300px;
  height:40px;
  font-size:16px;
  text-align:left;
}
#u2307 {
  position:absolute;
  left:2px;
  top:10px;
  width:296px;
  word-wrap:break-word;
}
#u2308_img {
  position:absolute;
  left:0px;
  top:0px;
  width:719px;
  height:412px;
}
#u2308 {
  position:absolute;
  left:195px;
  top:83px;
  width:719px;
  height:412px;
}
#u2309 {
  position:absolute;
  left:2px;
  top:198px;
  width:715px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2310_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
}
#u2310 {
  position:absolute;
  left:706px;
  top:524px;
  width:99px;
  height:40px;
  font-size:16px;
  color:#666666;
}
#u2311 {
  position:absolute;
  left:2px;
  top:10px;
  width:95px;
  word-wrap:break-word;
}
#u2312_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u2312 {
  position:absolute;
  left:815px;
  top:524px;
  width:99px;
  height:40px;
  font-size:16px;
  color:#FFFFFF;
}
#u2313 {
  position:absolute;
  left:2px;
  top:10px;
  width:95px;
  word-wrap:break-word;
}
