body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1100px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2648_div {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2648 {
  position:absolute;
  left:7px;
  top:5px;
  width:7px;
  height:40px;
}
#u2649 {
  position:absolute;
  left:2px;
  top:12px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2650_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u2650 {
  position:absolute;
  left:24px;
  top:5px;
  width:300px;
  height:40px;
  font-size:16px;
  text-align:left;
}
#u2651 {
  position:absolute;
  left:2px;
  top:10px;
  width:296px;
  word-wrap:break-word;
}
#u2652_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u2652 {
  position:absolute;
  left:24px;
  top:66px;
  width:99px;
  height:40px;
  font-size:16px;
  color:#FFFFFF;
}
#u2653 {
  position:absolute;
  left:2px;
  top:10px;
  width:95px;
  word-wrap:break-word;
}
#u2652_ann {
  position:absolute;
  left:116px;
  top:62px;
  width:1px;
  height:1px;
}
#u2654_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 204, 51, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u2654 {
  position:absolute;
  left:133px;
  top:66px;
  width:99px;
  height:40px;
  font-size:16px;
  color:#FFFFFF;
}
#u2655 {
  position:absolute;
  left:2px;
  top:10px;
  width:95px;
  word-wrap:break-word;
}
#u2656_div {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 204, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u2656 {
  position:absolute;
  left:24px;
  top:116px;
  width:262px;
  height:40px;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u2657 {
  position:absolute;
  left:2px;
  top:10px;
  width:258px;
  word-wrap:break-word;
}
#u2658_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2658 {
  position:absolute;
  left:252px;
  top:122px;
  width:30px;
  height:30px;
}
#u2659 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2660_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u2660 {
  position:absolute;
  left:30px;
  top:124px;
  width:25px;
  height:25px;
}
#u2661 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2662_div {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 204, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u2662 {
  position:absolute;
  left:296px;
  top:116px;
  width:262px;
  height:40px;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u2663 {
  position:absolute;
  left:2px;
  top:10px;
  width:258px;
  word-wrap:break-word;
}
#u2664_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2664 {
  position:absolute;
  left:524px;
  top:122px;
  width:30px;
  height:30px;
}
#u2665 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2666_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u2666 {
  position:absolute;
  left:302px;
  top:124px;
  width:25px;
  height:25px;
}
#u2667 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2668_div {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 204, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u2668 {
  position:absolute;
  left:568px;
  top:116px;
  width:262px;
  height:40px;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u2669 {
  position:absolute;
  left:2px;
  top:10px;
  width:258px;
  word-wrap:break-word;
}
#u2670_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2670 {
  position:absolute;
  left:796px;
  top:122px;
  width:30px;
  height:30px;
}
#u2671 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2672_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u2672 {
  position:absolute;
  left:574px;
  top:124px;
  width:25px;
  height:25px;
}
#u2673 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2674_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1014px;
  height:452px;
}
#u2674 {
  position:absolute;
  left:24px;
  top:166px;
  width:1014px;
  height:452px;
}
#u2675 {
  position:absolute;
  left:2px;
  top:218px;
  width:1010px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2676_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2676 {
  position:absolute;
  left:178px;
  top:668px;
  width:30px;
  height:30px;
}
#u2677 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2678_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u2678 {
  position:absolute;
  left:289px;
  top:654px;
  width:101px;
  height:57px;
  font-size:14px;
}
#u2679 {
  position:absolute;
  left:2px;
  top:20px;
  width:97px;
  word-wrap:break-word;
}
#u2680_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u2680 {
  position:absolute;
  left:289px;
  top:785px;
  width:101px;
  height:57px;
  font-size:14px;
}
#u2681 {
  position:absolute;
  left:2px;
  top:20px;
  width:97px;
  word-wrap:break-word;
}
#u2682_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u2682 {
  position:absolute;
  left:443px;
  top:785px;
  width:101px;
  height:57px;
  font-size:14px;
}
#u2683 {
  position:absolute;
  left:2px;
  top:20px;
  width:97px;
  word-wrap:break-word;
}
#u2684_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u2684 {
  position:absolute;
  left:674px;
  top:785px;
  width:101px;
  height:57px;
  font-size:14px;
}
#u2685 {
  position:absolute;
  left:2px;
  top:20px;
  width:97px;
  word-wrap:break-word;
}
#u2686 {
  position:absolute;
  left:208px;
  top:683px;
  width:0px;
  height:0px;
}
#u2686_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:85px;
  height:8px;
}
#u2686_seg1 {
  position:absolute;
  left:68px;
  top:-10px;
  width:20px;
  height:20px;
}
#u2687 {
  position:absolute;
  left:-10px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2688 {
  position:absolute;
  left:340px;
  top:711px;
  width:0px;
  height:0px;
}
#u2688_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:78px;
}
#u2688_seg1 {
  position:absolute;
  left:-10px;
  top:61px;
  width:20px;
  height:20px;
}
#u2689 {
  position:absolute;
  left:-50px;
  top:29px;
  width:100px;
  word-wrap:break-word;
}
#u2690 {
  position:absolute;
  left:390px;
  top:683px;
  width:0px;
  height:0px;
}
#u2690_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:108px;
  height:8px;
}
#u2690_seg1 {
  position:absolute;
  left:100px;
  top:-4px;
  width:8px;
  height:106px;
}
#u2690_seg2 {
  position:absolute;
  left:94px;
  top:89px;
  width:20px;
  height:20px;
}
#u2691 {
  position:absolute;
  left:53px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u2692 {
  position:absolute;
  left:544px;
  top:814px;
  width:0px;
  height:0px;
}
#u2692_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:134px;
  height:8px;
}
#u2692_seg1 {
  position:absolute;
  left:117px;
  top:-10px;
  width:20px;
  height:20px;
}
#u2693 {
  position:absolute;
  left:15px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u2694 {
  position:absolute;
  left:725px;
  top:842px;
  width:0px;
  height:0px;
}
#u2694_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:80px;
}
#u2694_seg1 {
  position:absolute;
  left:-235px;
  top:72px;
  width:239px;
  height:8px;
}
#u2694_seg2 {
  position:absolute;
  left:-235px;
  top:0px;
  width:8px;
  height:80px;
}
#u2694_seg3 {
  position:absolute;
  left:-241px;
  top:-7px;
  width:20px;
  height:20px;
}
#u2695 {
  position:absolute;
  left:-166px;
  top:68px;
  width:100px;
  word-wrap:break-word;
}
#u2696_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u2696 {
  position:absolute;
  left:289px;
  top:900px;
  width:101px;
  height:57px;
  font-size:14px;
}
#u2697 {
  position:absolute;
  left:2px;
  top:20px;
  width:97px;
  word-wrap:break-word;
}
#u2698 {
  position:absolute;
  left:340px;
  top:711px;
  width:0px;
  height:0px;
}
#u2698_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:23px;
}
#u2698_seg1 {
  position:absolute;
  left:-119px;
  top:15px;
  width:123px;
  height:8px;
}
#u2698_seg2 {
  position:absolute;
  left:-119px;
  top:15px;
  width:8px;
  height:207px;
}
#u2698_seg3 {
  position:absolute;
  left:-119px;
  top:214px;
  width:68px;
  height:8px;
}
#u2698_seg4 {
  position:absolute;
  left:-64px;
  top:208px;
  width:20px;
  height:20px;
}
#u2699 {
  position:absolute;
  left:-165px;
  top:76px;
  width:100px;
  word-wrap:break-word;
}
#u2700 {
  position:absolute;
  left:340px;
  top:842px;
  width:0px;
  height:0px;
}
#u2700_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:62px;
}
#u2700_seg1 {
  position:absolute;
  left:-10px;
  top:45px;
  width:20px;
  height:20px;
}
#u2701 {
  position:absolute;
  left:-50px;
  top:21px;
  width:100px;
  word-wrap:break-word;
}
#u2702_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:994px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.4);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2702 {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:994px;
}
#u2703 {
  position:absolute;
  left:2px;
  top:489px;
  width:1096px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2704_div {
  position:absolute;
  left:0px;
  top:0px;
  width:710px;
  height:273px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2704 {
  position:absolute;
  left:195px;
  top:105px;
  width:710px;
  height:273px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2705 {
  position:absolute;
  left:2px;
  top:128px;
  width:706px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2706_div {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:51px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2706 {
  position:absolute;
  left:202px;
  top:126px;
  width:7px;
  height:51px;
}
#u2707 {
  position:absolute;
  left:2px;
  top:18px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2708_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u2708 {
  position:absolute;
  left:219px;
  top:126px;
  width:300px;
  height:51px;
  font-size:16px;
  text-align:left;
}
#u2709 {
  position:absolute;
  left:2px;
  top:16px;
  width:296px;
  word-wrap:break-word;
}
#u2710_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
}
#u2710 {
  position:absolute;
  left:651px;
  top:302px;
  width:99px;
  height:51px;
  font-size:16px;
  color:#666666;
}
#u2711 {
  position:absolute;
  left:2px;
  top:16px;
  width:95px;
  word-wrap:break-word;
}
#u2712_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:51px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u2712 {
  position:absolute;
  left:760px;
  top:302px;
  width:99px;
  height:51px;
  font-size:16px;
  color:#FFFFFF;
}
#u2713 {
  position:absolute;
  left:2px;
  top:16px;
  width:95px;
  word-wrap:break-word;
}
#u2714_div {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
}
#u2714 {
  position:absolute;
  left:360px;
  top:201px;
  width:380px;
  height:40px;
  font-size:16px;
  color:#000000;
}
#u2715 {
  position:absolute;
  left:2px;
  top:10px;
  width:376px;
  word-wrap:break-word;
}
#u2714_ann {
  position:absolute;
  left:733px;
  top:197px;
  width:1px;
  height:1px;
}
