body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1114px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2925_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1072px;
  height:421px;
}
#u2925 {
  position:absolute;
  left:42px;
  top:116px;
  width:1072px;
  height:421px;
}
#u2926 {
  position:absolute;
  left:2px;
  top:202px;
  width:1068px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2927_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u2927 {
  position:absolute;
  left:97px;
  top:161px;
  width:20px;
  height:20px;
}
#u2928 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2929_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u2929 {
  position:absolute;
  left:129px;
  top:161px;
  width:20px;
  height:20px;
}
#u2930 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2931_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u2931 {
  position:absolute;
  left:165px;
  top:161px;
  width:20px;
  height:20px;
}
#u2932 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2933_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u2933 {
  position:absolute;
  left:197px;
  top:161px;
  width:20px;
  height:20px;
}
#u2934 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2935_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u2935 {
  position:absolute;
  left:231px;
  top:161px;
  width:20px;
  height:20px;
}
#u2936 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2937_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u2937 {
  position:absolute;
  left:263px;
  top:161px;
  width:20px;
  height:20px;
}
#u2938 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2939_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u2939 {
  position:absolute;
  left:296px;
  top:161px;
  width:20px;
  height:20px;
}
#u2940 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2941_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u2941 {
  position:absolute;
  left:328px;
  top:161px;
  width:20px;
  height:20px;
}
#u2942 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2943_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:22px;
}
#u2943 {
  position:absolute;
  left:338px;
  top:161px;
  width:12px;
  height:22px;
}
#u2944 {
  position:absolute;
  left:2px;
  top:3px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2945_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:22px;
}
#u2945 {
  position:absolute;
  left:306px;
  top:161px;
  width:12px;
  height:22px;
}
#u2946 {
  position:absolute;
  left:2px;
  top:3px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2947_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u2947 {
  position:absolute;
  left:350px;
  top:150px;
  width:40px;
  height:40px;
}
#u2948 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2949_div {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2949 {
  position:absolute;
  left:7px;
  top:5px;
  width:7px;
  height:40px;
}
#u2950 {
  position:absolute;
  left:2px;
  top:12px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2951_div {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u2951 {
  position:absolute;
  left:14px;
  top:5px;
  width:310px;
  height:40px;
  font-size:16px;
  text-align:left;
}
#u2952 {
  position:absolute;
  left:2px;
  top:10px;
  width:306px;
  word-wrap:break-word;
}
#u2953_div {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 204, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u2953 {
  position:absolute;
  left:42px;
  top:66px;
  width:262px;
  height:40px;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u2954 {
  position:absolute;
  left:2px;
  top:10px;
  width:258px;
  word-wrap:break-word;
}
#u2955_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2955 {
  position:absolute;
  left:270px;
  top:72px;
  width:30px;
  height:30px;
}
#u2956 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2957_div {
  position:absolute;
  left:0px;
  top:0px;
  width:818px;
  height:157px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u2957 {
  position:absolute;
  left:42px;
  top:547px;
  width:818px;
  height:157px;
  font-size:16px;
  text-align:left;
}
#u2958 {
  position:absolute;
  left:2px;
  top:2px;
  width:814px;
  word-wrap:break-word;
}
#u2959_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u2959 {
  position:absolute;
  left:203px;
  top:568px;
  width:20px;
  height:20px;
}
#u2960 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2961_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u2961 {
  position:absolute;
  left:203px;
  top:593px;
  width:20px;
  height:20px;
}
#u2962 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2963_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u2963 {
  position:absolute;
  left:233px;
  top:611px;
  width:20px;
  height:20px;
}
#u2964 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2965_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:22px;
}
#u2965 {
  position:absolute;
  left:243px;
  top:611px;
  width:12px;
  height:22px;
}
#u2966 {
  position:absolute;
  left:2px;
  top:3px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2967_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u2967 {
  position:absolute;
  left:235px;
  top:623px;
  width:40px;
  height:40px;
}
#u2968 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
