body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1176px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3011_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1161px;
  height:238px;
}
#u3011 {
  position:absolute;
  left:0px;
  top:67px;
  width:1161px;
  height:238px;
}
#u3012 {
  position:absolute;
  left:2px;
  top:111px;
  width:1157px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3013_div {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3013 {
  position:absolute;
  left:7px;
  top:5px;
  width:7px;
  height:40px;
}
#u3014 {
  position:absolute;
  left:2px;
  top:12px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3015_div {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u3015 {
  position:absolute;
  left:14px;
  top:5px;
  width:310px;
  height:40px;
  font-size:16px;
  text-align:left;
}
#u3016 {
  position:absolute;
  left:2px;
  top:10px;
  width:306px;
  word-wrap:break-word;
}
#u3017_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1176px;
  height:706px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.4);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3017 {
  position:absolute;
  left:0px;
  top:0px;
  width:1176px;
  height:706px;
}
#u3018 {
  position:absolute;
  left:2px;
  top:345px;
  width:1172px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3019_div {
  position:absolute;
  left:0px;
  top:0px;
  width:710px;
  height:525px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3019 {
  position:absolute;
  left:167px;
  top:70px;
  width:710px;
  height:525px;
}
#u3020 {
  position:absolute;
  left:2px;
  top:254px;
  width:706px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3021_div {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:50px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3021 {
  position:absolute;
  left:167px;
  top:77px;
  width:7px;
  height:50px;
}
#u3022 {
  position:absolute;
  left:2px;
  top:17px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3023_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u3023 {
  position:absolute;
  left:184px;
  top:77px;
  width:300px;
  height:50px;
  font-size:16px;
  text-align:left;
}
#u3024 {
  position:absolute;
  left:2px;
  top:16px;
  width:296px;
  word-wrap:break-word;
}
#u3025_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u3025 {
  position:absolute;
  left:837px;
  top:77px;
  width:30px;
  height:30px;
}
#u3026 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3027_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
}
#u3027 {
  position:absolute;
  left:659px;
  top:506px;
  width:99px;
  height:51px;
  font-size:16px;
  color:#666666;
}
#u3028 {
  position:absolute;
  left:2px;
  top:16px;
  width:95px;
  word-wrap:break-word;
}
#u3029_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:51px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u3029 {
  position:absolute;
  left:768px;
  top:506px;
  width:99px;
  height:51px;
  font-size:16px;
  color:#FFFFFF;
}
#u3030 {
  position:absolute;
  left:2px;
  top:16px;
  width:95px;
  word-wrap:break-word;
}
#u3031_img {
  position:absolute;
  left:0px;
  top:0px;
  width:653px;
  height:349px;
}
#u3031 {
  position:absolute;
  left:196px;
  top:147px;
  width:653px;
  height:349px;
}
#u3032 {
  position:absolute;
  left:2px;
  top:166px;
  width:649px;
  visibility:hidden;
  word-wrap:break-word;
}
