body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1225px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3811_div {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3811 {
  position:absolute;
  left:7px;
  top:5px;
  width:7px;
  height:40px;
}
#u3812 {
  position:absolute;
  left:2px;
  top:12px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3813_div {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u3813 {
  position:absolute;
  left:32px;
  top:5px;
  width:310px;
  height:40px;
  font-size:16px;
  text-align:left;
}
#u3814 {
  position:absolute;
  left:2px;
  top:10px;
  width:306px;
  word-wrap:break-word;
}
#u3815_img {
  position:absolute;
  left:0px;
  top:0px;
  width:913px;
  height:183px;
}
#u3815 {
  position:absolute;
  left:32px;
  top:111px;
  width:913px;
  height:183px;
}
#u3816 {
  position:absolute;
  left:2px;
  top:84px;
  width:909px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3817_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u3817 {
  position:absolute;
  left:32px;
  top:61px;
  width:99px;
  height:40px;
  font-size:16px;
  color:#FFFFFF;
}
#u3818 {
  position:absolute;
  left:2px;
  top:10px;
  width:95px;
  word-wrap:break-word;
}
#u3819 {
  position:absolute;
  left:860px;
  top:147px;
  width:58px;
  height:140px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3820_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1225px;
  height:579px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.4);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3820 {
  position:absolute;
  left:0px;
  top:0px;
  width:1225px;
  height:579px;
}
#u3821 {
  position:absolute;
  left:2px;
  top:282px;
  width:1221px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3822_div {
  position:absolute;
  left:0px;
  top:0px;
  width:752px;
  height:448px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3822 {
  position:absolute;
  left:167px;
  top:70px;
  width:752px;
  height:448px;
}
#u3823 {
  position:absolute;
  left:2px;
  top:216px;
  width:748px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3824_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u3824 {
  position:absolute;
  left:184px;
  top:77px;
  width:300px;
  height:50px;
  font-size:16px;
  text-align:left;
}
#u3825 {
  position:absolute;
  left:2px;
  top:16px;
  width:296px;
  word-wrap:break-word;
}
#u3826_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u3826 {
  position:absolute;
  left:878px;
  top:77px;
  width:30px;
  height:30px;
}
#u3827 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3828_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
}
#u3828 {
  position:absolute;
  left:679px;
  top:442px;
  width:99px;
  height:51px;
  font-size:16px;
  color:#666666;
}
#u3829 {
  position:absolute;
  left:2px;
  top:16px;
  width:95px;
  word-wrap:break-word;
}
#u3830_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:51px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u3830 {
  position:absolute;
  left:788px;
  top:442px;
  width:99px;
  height:51px;
  font-size:16px;
  color:#FFFFFF;
}
#u3831 {
  position:absolute;
  left:2px;
  top:16px;
  width:95px;
  word-wrap:break-word;
}
#u3832_div {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:50px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3832 {
  position:absolute;
  left:167px;
  top:77px;
  width:7px;
  height:50px;
}
#u3833 {
  position:absolute;
  left:2px;
  top:17px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3834 {
  position:absolute;
  left:303px;
  top:137px;
  width:105px;
  height:55px;
}
#u3835_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u3835 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  font-size:16px;
  color:#000000;
}
#u3836 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u3837_div {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 204, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u3837 {
  position:absolute;
  left:403px;
  top:142px;
  width:380px;
  height:40px;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u3838 {
  position:absolute;
  left:2px;
  top:10px;
  width:376px;
  word-wrap:break-word;
}
#u3839_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u3839 {
  position:absolute;
  left:747px;
  top:147px;
  width:30px;
  height:30px;
}
#u3840 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3841 {
  position:absolute;
  left:303px;
  top:185px;
  width:105px;
  height:55px;
}
#u3842_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u3842 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  font-size:16px;
  color:#000000;
}
#u3843 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u3844_div {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 204, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u3844 {
  position:absolute;
  left:403px;
  top:190px;
  width:380px;
  height:40px;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u3845 {
  position:absolute;
  left:2px;
  top:10px;
  width:376px;
  word-wrap:break-word;
}
#u3846_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u3846 {
  position:absolute;
  left:747px;
  top:195px;
  width:30px;
  height:30px;
}
#u3847 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3848 {
  position:absolute;
  left:305px;
  top:281px;
  width:105px;
  height:55px;
}
#u3849_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u3849 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  font-size:16px;
  color:#000000;
}
#u3850 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u3851_div {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 204, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u3851 {
  position:absolute;
  left:405px;
  top:286px;
  width:380px;
  height:40px;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u3852 {
  position:absolute;
  left:2px;
  top:10px;
  width:376px;
  word-wrap:break-word;
}
#u3853 {
  position:absolute;
  left:305px;
  top:331px;
  width:105px;
  height:55px;
}
#u3854_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u3854 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  font-size:16px;
  color:#000000;
}
#u3855 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u3856_div {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 204, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u3856 {
  position:absolute;
  left:405px;
  top:336px;
  width:380px;
  height:40px;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u3857 {
  position:absolute;
  left:2px;
  top:10px;
  width:376px;
  word-wrap:break-word;
}
#u3858_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u3858 {
  position:absolute;
  left:749px;
  top:338px;
  width:30px;
  height:30px;
}
#u3859 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3860 {
  position:absolute;
  left:304px;
  top:233px;
  width:105px;
  height:55px;
}
#u3861_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u3861 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  font-size:16px;
  color:#000000;
}
#u3862 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u3863_div {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 204, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u3863 {
  position:absolute;
  left:404px;
  top:238px;
  width:380px;
  height:40px;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u3864 {
  position:absolute;
  left:2px;
  top:10px;
  width:376px;
  word-wrap:break-word;
}
#u3865_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u3865 {
  position:absolute;
  left:747px;
  top:243px;
  width:30px;
  height:30px;
}
#u3866 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
