body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1176px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3131_div {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3131 {
  position:absolute;
  left:7px;
  top:5px;
  width:7px;
  height:40px;
}
#u3132 {
  position:absolute;
  left:2px;
  top:12px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3133_div {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u3133 {
  position:absolute;
  left:14px;
  top:5px;
  width:310px;
  height:40px;
  font-size:16px;
  text-align:left;
}
#u3134 {
  position:absolute;
  left:2px;
  top:10px;
  width:306px;
  word-wrap:break-word;
}
#u3135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1143px;
  height:538px;
}
#u3135 {
  position:absolute;
  left:14px;
  top:69px;
  width:1143px;
  height:538px;
}
#u3136 {
  position:absolute;
  left:2px;
  top:261px;
  width:1139px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3137_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1176px;
  height:706px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.4);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3137 {
  position:absolute;
  left:0px;
  top:0px;
  width:1176px;
  height:706px;
}
#u3138 {
  position:absolute;
  left:2px;
  top:345px;
  width:1172px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3139_div {
  position:absolute;
  left:0px;
  top:0px;
  width:710px;
  height:537px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3139 {
  position:absolute;
  left:167px;
  top:70px;
  width:710px;
  height:537px;
}
#u3140 {
  position:absolute;
  left:2px;
  top:260px;
  width:706px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3141_div {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:50px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3141 {
  position:absolute;
  left:167px;
  top:77px;
  width:7px;
  height:50px;
}
#u3142 {
  position:absolute;
  left:2px;
  top:17px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3143_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u3143 {
  position:absolute;
  left:184px;
  top:77px;
  width:300px;
  height:50px;
  font-size:16px;
  text-align:left;
}
#u3144 {
  position:absolute;
  left:2px;
  top:16px;
  width:296px;
  word-wrap:break-word;
}
#u3145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u3145 {
  position:absolute;
  left:837px;
  top:77px;
  width:30px;
  height:30px;
}
#u3146 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3147_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
}
#u3147 {
  position:absolute;
  left:659px;
  top:539px;
  width:99px;
  height:51px;
  font-size:16px;
  color:#666666;
}
#u3148 {
  position:absolute;
  left:2px;
  top:16px;
  width:95px;
  word-wrap:break-word;
}
#u3149_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:51px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u3149 {
  position:absolute;
  left:768px;
  top:539px;
  width:99px;
  height:51px;
  font-size:16px;
  color:#FFFFFF;
}
#u3150 {
  position:absolute;
  left:2px;
  top:16px;
  width:95px;
  word-wrap:break-word;
}
#u3151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:664px;
  height:393px;
}
#u3151 {
  position:absolute;
  left:190px;
  top:136px;
  width:664px;
  height:393px;
}
#u3152 {
  position:absolute;
  left:2px;
  top:188px;
  width:660px;
  visibility:hidden;
  word-wrap:break-word;
}
