body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:395px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6074_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6074 {
  position:absolute;
  left:20px;
  top:20px;
  width:375px;
  height:667px;
}
#u6075 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6076_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:20px;
}
#u6076 {
  position:absolute;
  left:21px;
  top:21px;
  width:373px;
  height:20px;
}
#u6077 {
  position:absolute;
  left:2px;
  top:2px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6078_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6078 {
  position:absolute;
  left:20px;
  top:41px;
  width:375px;
  height:44px;
}
#u6079 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6080_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:23px;
}
#u6080 {
  position:absolute;
  left:157px;
  top:51px;
  width:101px;
  height:23px;
  font-size:18px;
  color:#FF9500;
}
#u6081 {
  position:absolute;
  left:2px;
  top:0px;
  width:97px;
  word-wrap:break-word;
}
#u6082_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:426px;
}
#u6082 {
  position:absolute;
  left:21px;
  top:85px;
  width:373px;
  height:426px;
}
#u6083 {
  position:absolute;
  left:2px;
  top:205px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6084_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:94px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6084 {
  position:absolute;
  left:21px;
  top:417px;
  width:373px;
  height:94px;
}
#u6085 {
  position:absolute;
  left:2px;
  top:39px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6086_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:2px;
}
#u6086 {
  position:absolute;
  left:21px;
  top:487px;
  width:373px;
  height:1px;
}
#u6087 {
  position:absolute;
  left:2px;
  top:-8px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6088_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:2px;
}
#u6088 {
  position:absolute;
  left:21px;
  top:452px;
  width:373px;
  height:1px;
}
#u6089 {
  position:absolute;
  left:2px;
  top:-8px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6090_div {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u6090 {
  position:absolute;
  left:35px;
  top:419px;
  width:124px;
  height:27px;
  text-align:left;
}
#u6091 {
  position:absolute;
  left:2px;
  top:6px;
  width:120px;
  word-wrap:break-word;
}
#u6092_div {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u6092 {
  position:absolute;
  left:35px;
  top:454px;
  width:124px;
  height:27px;
  text-align:left;
}
#u6093 {
  position:absolute;
  left:2px;
  top:6px;
  width:120px;
  word-wrap:break-word;
}
#u6094_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:right;
}
#u6094 {
  position:absolute;
  left:308px;
  top:419px;
  width:75px;
  height:27px;
  color:#999999;
  text-align:right;
}
#u6095 {
  position:absolute;
  left:2px;
  top:6px;
  width:71px;
  word-wrap:break-word;
}
#u6096_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:right;
}
#u6096 {
  position:absolute;
  left:300px;
  top:454px;
  width:83px;
  height:27px;
  color:#999999;
  text-align:right;
}
#u6097 {
  position:absolute;
  left:2px;
  top:6px;
  width:79px;
  word-wrap:break-word;
}
#u6098_img {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:138px;
}
#u6098 {
  position:absolute;
  left:105px;
  top:491px;
  width:205px;
  height:138px;
}
#u6099 {
  position:absolute;
  left:2px;
  top:61px;
  width:201px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6098_ann {
  position:absolute;
  left:303px;
  top:487px;
  width:1px;
  height:1px;
}
#u6100_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:59px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6100 {
  position:absolute;
  left:20px;
  top:629px;
  width:375px;
  height:59px;
}
#u6101 {
  position:absolute;
  left:2px;
  top:22px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6100_ann {
  position:absolute;
  left:388px;
  top:625px;
  width:1px;
  height:1px;
}
#u6102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:46px;
}
#u6102 {
  position:absolute;
  left:208px;
  top:635px;
  width:1px;
  height:45px;
}
#u6103 {
  position:absolute;
  left:2px;
  top:14px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6104_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF9500;
}
#u6104 {
  position:absolute;
  left:82px;
  top:651px;
  width:57px;
  height:16px;
  color:#FF9500;
}
#u6105 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6106_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF9500;
}
#u6106 {
  position:absolute;
  left:275px;
  top:650px;
  width:57px;
  height:16px;
  color:#FF9500;
}
#u6107 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6108 {
  position:absolute;
  left:20px;
  top:629px;
  width:178px;
  height:58px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6109 {
  position:absolute;
  left:208px;
  top:635px;
  width:178px;
  height:58px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
