body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1334px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u576_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1334px;
  height:1153px;
}
#u576 {
  position:absolute;
  left:0px;
  top:0px;
  width:1334px;
  height:1153px;
}
#u577 {
  position:absolute;
  left:2px;
  top:568px;
  width:1330px;
  visibility:hidden;
  word-wrap:break-word;
}
