body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2233px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u576_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2233px;
  height:1029px;
}
#u576 {
  position:absolute;
  left:0px;
  top:0px;
  width:2233px;
  height:1029px;
}
#u577 {
  position:absolute;
  left:2px;
  top:506px;
  width:2229px;
  visibility:hidden;
  word-wrap:break-word;
}
