body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1100px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1225_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:1143px;
}
#u1225 {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:1143px;
}
#u1226 {
  position:absolute;
  left:2px;
  top:564px;
  width:1096px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1227_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1056px;
  height:327px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1227 {
  position:absolute;
  left:23px;
  top:198px;
  width:1056px;
  height:327px;
}
#u1228 {
  position:absolute;
  left:2px;
  top:156px;
  width:1052px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1229_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FF9500;
}
#u1229 {
  position:absolute;
  left:40px;
  top:204px;
  width:109px;
  height:22px;
  font-size:18px;
  color:#FF9500;
}
#u1230 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u1231 {
  position:absolute;
  left:41px;
  top:235px;
  width:491px;
  height:33px;
}
#u1232_img {
  position:absolute;
  left:0px;
  top:0px;
  width:486px;
  height:28px;
}
#u1232 {
  position:absolute;
  left:0px;
  top:0px;
  width:486px;
  height:28px;
  font-size:16px;
  color:#FFFFFF;
}
#u1233 {
  position:absolute;
  left:2px;
  top:4px;
  width:482px;
  word-wrap:break-word;
}
#u1234 {
  position:absolute;
  left:41px;
  top:265px;
  width:486px;
  height:246px;
  overflow:hidden;
}
#u1234_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:486px;
  height:246px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1234_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1235_img {
  position:absolute;
  left:0px;
  top:0px;
  width:486px;
  height:274px;
}
#u1235 {
  position:absolute;
  left:0px;
  top:-26px;
  width:486px;
  height:274px;
}
#u1236 {
  position:absolute;
  left:2px;
  top:129px;
  width:482px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1237_div {
  position:absolute;
  left:0px;
  top:0px;
  width:486px;
  height:33px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1237 {
  position:absolute;
  left:0px;
  top:213px;
  width:486px;
  height:33px;
}
#u1238 {
  position:absolute;
  left:2px;
  top:8px;
  width:482px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1239_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u1239 {
  position:absolute;
  left:424px;
  top:224px;
  width:10px;
  height:10px;
}
#u1240 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1241_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u1241 {
  position:absolute;
  left:435px;
  top:224px;
  width:10px;
  height:10px;
}
#u1242 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1243_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u1243 {
  position:absolute;
  left:447px;
  top:224px;
  width:10px;
  height:10px;
}
#u1244 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1234_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:486px;
  height:246px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1234_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1245_img {
  position:absolute;
  left:0px;
  top:0px;
  width:486px;
  height:305px;
}
#u1245 {
  position:absolute;
  left:0px;
  top:-19px;
  width:486px;
  height:305px;
}
#u1246 {
  position:absolute;
  left:2px;
  top:144px;
  width:482px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1247_div {
  position:absolute;
  left:0px;
  top:0px;
  width:486px;
  height:33px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1247 {
  position:absolute;
  left:0px;
  top:213px;
  width:486px;
  height:33px;
}
#u1248 {
  position:absolute;
  left:2px;
  top:8px;
  width:482px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1249_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u1249 {
  position:absolute;
  left:424px;
  top:224px;
  width:10px;
  height:10px;
}
#u1250 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1251_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u1251 {
  position:absolute;
  left:435px;
  top:224px;
  width:10px;
  height:10px;
}
#u1252 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1253_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u1253 {
  position:absolute;
  left:447px;
  top:224px;
  width:10px;
  height:10px;
}
#u1254 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1234_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:486px;
  height:246px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1234_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1255_img {
  position:absolute;
  left:0px;
  top:0px;
  width:486px;
  height:277px;
}
#u1255 {
  position:absolute;
  left:0px;
  top:-28px;
  width:486px;
  height:277px;
}
#u1256 {
  position:absolute;
  left:2px;
  top:130px;
  width:482px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1257_div {
  position:absolute;
  left:0px;
  top:0px;
  width:486px;
  height:33px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1257 {
  position:absolute;
  left:0px;
  top:213px;
  width:486px;
  height:33px;
}
#u1258 {
  position:absolute;
  left:2px;
  top:8px;
  width:482px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1259_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u1259 {
  position:absolute;
  left:424px;
  top:224px;
  width:10px;
  height:10px;
}
#u1260 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1261_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u1261 {
  position:absolute;
  left:435px;
  top:224px;
  width:10px;
  height:10px;
}
#u1262 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1263_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u1263 {
  position:absolute;
  left:447px;
  top:224px;
  width:10px;
  height:10px;
}
#u1264 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1265_div {
  position:absolute;
  left:0px;
  top:0px;
  width:522px;
  height:327px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1265 {
  position:absolute;
  left:557px;
  top:198px;
  width:522px;
  height:327px;
}
#u1266 {
  position:absolute;
  left:2px;
  top:156px;
  width:518px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1267 {
  position:absolute;
  left:567px;
  top:363px;
  width:507px;
  height:33px;
}
#u1268_img {
  position:absolute;
  left:0px;
  top:0px;
  width:502px;
  height:28px;
}
#u1268 {
  position:absolute;
  left:0px;
  top:0px;
  width:502px;
  height:28px;
  font-size:16px;
  color:#FFFFFF;
}
#u1269 {
  position:absolute;
  left:2px;
  top:4px;
  width:498px;
  word-wrap:break-word;
}
#u1270_div {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:90px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1270 {
  position:absolute;
  left:567px;
  top:263px;
  width:246px;
  height:90px;
}
#u1271 {
  position:absolute;
  left:2px;
  top:37px;
  width:242px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1272 {
  position:absolute;
  left:567px;
  top:235px;
  width:251px;
  height:33px;
}
#u1273_img {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:25px;
}
#u1273 {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:25px;
  font-size:16px;
  color:#FFFFFF;
}
#u1274 {
  position:absolute;
  left:2px;
  top:3px;
  width:242px;
  word-wrap:break-word;
}
#u1275_div {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:90px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1275 {
  position:absolute;
  left:823px;
  top:262px;
  width:246px;
  height:90px;
}
#u1276 {
  position:absolute;
  left:2px;
  top:24px;
  width:242px;
  word-wrap:break-word;
}
#u1277 {
  position:absolute;
  left:823px;
  top:235px;
  width:251px;
  height:33px;
}
#u1278_img {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:25px;
}
#u1278 {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:25px;
  font-size:16px;
  color:#FFFFFF;
}
#u1279 {
  position:absolute;
  left:2px;
  top:3px;
  width:242px;
  word-wrap:break-word;
}
#u1280_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1280 {
  position:absolute;
  left:620px;
  top:278px;
  width:140px;
  height:58px;
  text-align:left;
}
#u1281 {
  position:absolute;
  left:2px;
  top:8px;
  width:136px;
  word-wrap:break-word;
}
#u1282 {
  position:absolute;
  left:567px;
  top:391px;
  width:507px;
  height:125px;
}
#u1283_img {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:30px;
}
#u1283 {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:30px;
  font-size:14px;
  color:#999999;
  text-align:left;
}
#u1284 {
  position:absolute;
  left:2px;
  top:7px;
  width:264px;
  word-wrap:break-word;
}
#u1285_img {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:30px;
}
#u1285 {
  position:absolute;
  left:268px;
  top:0px;
  width:234px;
  height:30px;
  font-size:14px;
  color:#999999;
  text-align:right;
}
#u1286 {
  position:absolute;
  left:2px;
  top:7px;
  width:230px;
  word-wrap:break-word;
}
#u1287_img {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:30px;
}
#u1287 {
  position:absolute;
  left:0px;
  top:30px;
  width:268px;
  height:30px;
  font-size:14px;
  color:#999999;
  text-align:left;
}
#u1288 {
  position:absolute;
  left:2px;
  top:7px;
  width:264px;
  word-wrap:break-word;
}
#u1289_img {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:30px;
}
#u1289 {
  position:absolute;
  left:268px;
  top:30px;
  width:234px;
  height:30px;
  font-size:14px;
  color:#999999;
  text-align:right;
}
#u1290 {
  position:absolute;
  left:2px;
  top:7px;
  width:230px;
  word-wrap:break-word;
}
#u1291_img {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:30px;
}
#u1291 {
  position:absolute;
  left:0px;
  top:60px;
  width:268px;
  height:30px;
  font-size:14px;
  color:#999999;
  text-align:left;
}
#u1292 {
  position:absolute;
  left:2px;
  top:7px;
  width:264px;
  word-wrap:break-word;
}
#u1293_img {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:30px;
}
#u1293 {
  position:absolute;
  left:268px;
  top:60px;
  width:234px;
  height:30px;
  font-size:14px;
  color:#999999;
  text-align:right;
}
#u1294 {
  position:absolute;
  left:2px;
  top:7px;
  width:230px;
  word-wrap:break-word;
}
#u1295_img {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:30px;
}
#u1295 {
  position:absolute;
  left:0px;
  top:90px;
  width:268px;
  height:30px;
  font-size:14px;
  color:#999999;
  text-align:left;
}
#u1296 {
  position:absolute;
  left:2px;
  top:7px;
  width:264px;
  word-wrap:break-word;
}
#u1297_img {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:30px;
}
#u1297 {
  position:absolute;
  left:268px;
  top:90px;
  width:234px;
  height:30px;
  font-size:14px;
  color:#999999;
  text-align:right;
}
#u1298 {
  position:absolute;
  left:2px;
  top:7px;
  width:230px;
  word-wrap:break-word;
}
#u1299 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1300_div {
  position:absolute;
  left:0px;
  top:0px;
  width:524px;
  height:178px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1300 {
  position:absolute;
  left:556px;
  top:10px;
  width:524px;
  height:178px;
}
#u1301 {
  position:absolute;
  left:2px;
  top:81px;
  width:520px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1302_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FF9500;
}
#u1302 {
  position:absolute;
  left:575px;
  top:26px;
  width:73px;
  height:22px;
  font-size:18px;
  color:#FF9500;
}
#u1303 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1304_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:63px;
}
#u1304 {
  position:absolute;
  left:661px;
  top:68px;
  width:63px;
  height:63px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FF9500;
}
#u1305 {
  position:absolute;
  left:2px;
  top:15px;
  width:59px;
  word-wrap:break-word;
}
#u1306_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:63px;
}
#u1306 {
  position:absolute;
  left:787px;
  top:68px;
  width:63px;
  height:63px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FF9500;
}
#u1307 {
  position:absolute;
  left:2px;
  top:15px;
  width:59px;
  word-wrap:break-word;
}
#u1308_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:63px;
}
#u1308 {
  position:absolute;
  left:913px;
  top:68px;
  width:63px;
  height:63px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FF9500;
}
#u1309 {
  position:absolute;
  left:2px;
  top:15px;
  width:59px;
  word-wrap:break-word;
}
#u1310_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1310 {
  position:absolute;
  left:645px;
  top:140px;
  width:92px;
  height:28px;
  font-size:14px;
}
#u1311 {
  position:absolute;
  left:2px;
  top:6px;
  width:88px;
  word-wrap:break-word;
}
#u1312_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1312 {
  position:absolute;
  left:772px;
  top:140px;
  width:92px;
  height:28px;
  font-size:14px;
}
#u1313 {
  position:absolute;
  left:2px;
  top:6px;
  width:88px;
  word-wrap:break-word;
}
#u1314_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1314 {
  position:absolute;
  left:897px;
  top:140px;
  width:92px;
  height:28px;
  font-size:14px;
}
#u1315 {
  position:absolute;
  left:2px;
  top:6px;
  width:88px;
  word-wrap:break-word;
}
#u1316_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1056px;
  height:312px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1316 {
  position:absolute;
  left:23px;
  top:535px;
  width:1056px;
  height:312px;
}
#u1317 {
  position:absolute;
  left:2px;
  top:148px;
  width:1052px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1318_div {
  position:absolute;
  left:0px;
  top:0px;
  width:522px;
  height:269px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1318 {
  position:absolute;
  left:557px;
  top:857px;
  width:522px;
  height:269px;
}
#u1319 {
  position:absolute;
  left:2px;
  top:126px;
  width:518px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1320_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FF9500;
}
#u1320 {
  position:absolute;
  left:573px;
  top:866px;
  width:73px;
  height:22px;
  font-size:18px;
  color:#FF9500;
}
#u1321 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1322_img {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:97px;
}
#u1322 {
  position:absolute;
  left:670px;
  top:943px;
  width:341px;
  height:97px;
}
#u1323 {
  position:absolute;
  left:2px;
  top:40px;
  width:337px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1324_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FF9500;
}
#u1324 {
  position:absolute;
  left:41px;
  top:545px;
  width:73px;
  height:22px;
  font-size:18px;
  color:#FF9500;
}
#u1325 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1326_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1035px;
  height:257px;
}
#u1326 {
  position:absolute;
  left:34px;
  top:577px;
  width:1035px;
  height:257px;
}
#u1327 {
  position:absolute;
  left:2px;
  top:120px;
  width:1031px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1328_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u1328 {
  position:absolute;
  left:269px;
  top:698px;
  width:35px;
  height:35px;
}
#u1329 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1330_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u1330 {
  position:absolute;
  left:677px;
  top:761px;
  width:35px;
  height:35px;
}
#u1331 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1332_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u1332 {
  position:absolute;
  left:512px;
  top:729px;
  width:35px;
  height:35px;
}
#u1333 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1334_div {
  position:absolute;
  left:0px;
  top:0px;
  width:524px;
  height:269px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1334 {
  position:absolute;
  left:23px;
  top:857px;
  width:524px;
  height:269px;
}
#u1335 {
  position:absolute;
  left:2px;
  top:126px;
  width:520px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1336_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FF9500;
}
#u1336 {
  position:absolute;
  left:41px;
  top:866px;
  width:73px;
  height:22px;
  font-size:18px;
  color:#FF9500;
}
#u1337 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1338 {
  position:absolute;
  left:893px;
  top:866px;
  width:88px;
  height:33px;
}
#u1339_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:28px;
}
#u1339 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:28px;
  font-size:16px;
  color:#FFFFFF;
}
#u1340 {
  position:absolute;
  left:2px;
  top:4px;
  width:79px;
  word-wrap:break-word;
}
#u1341_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:128px;
}
#u1341 {
  position:absolute;
  left:114px;
  top:875px;
  width:128px;
  height:128px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FF9500;
}
#u1342 {
  position:absolute;
  left:2px;
  top:48px;
  width:124px;
  word-wrap:break-word;
}
#u1343_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:128px;
}
#u1343 {
  position:absolute;
  left:289px;
  top:875px;
  width:128px;
  height:128px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FF9500;
}
#u1344 {
  position:absolute;
  left:2px;
  top:48px;
  width:124px;
  word-wrap:break-word;
}
#u1345 {
  position:absolute;
  left:41px;
  top:1003px;
  width:491px;
  height:33px;
}
#u1346_img {
  position:absolute;
  left:0px;
  top:0px;
  width:486px;
  height:28px;
}
#u1346 {
  position:absolute;
  left:0px;
  top:0px;
  width:486px;
  height:28px;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u1347 {
  position:absolute;
  left:2px;
  top:4px;
  width:482px;
  word-wrap:break-word;
}
#u1348 {
  position:absolute;
  left:41px;
  top:1031px;
  width:491px;
  height:95px;
}
#u1349_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:30px;
}
#u1349 {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:30px;
  font-size:14px;
  color:#999999;
  text-align:left;
}
#u1350 {
  position:absolute;
  left:2px;
  top:7px;
  width:256px;
  word-wrap:break-word;
}
#u1351_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:30px;
}
#u1351 {
  position:absolute;
  left:260px;
  top:0px;
  width:226px;
  height:30px;
  font-size:14px;
  color:#999999;
  text-align:right;
}
#u1352 {
  position:absolute;
  left:2px;
  top:7px;
  width:222px;
  word-wrap:break-word;
}
#u1353_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:30px;
}
#u1353 {
  position:absolute;
  left:0px;
  top:30px;
  width:260px;
  height:30px;
  font-size:14px;
  color:#999999;
  text-align:left;
}
#u1354 {
  position:absolute;
  left:2px;
  top:7px;
  width:256px;
  word-wrap:break-word;
}
#u1355_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:30px;
}
#u1355 {
  position:absolute;
  left:260px;
  top:30px;
  width:226px;
  height:30px;
  font-size:14px;
  color:#999999;
  text-align:right;
}
#u1356 {
  position:absolute;
  left:2px;
  top:7px;
  width:222px;
  word-wrap:break-word;
}
#u1357_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:30px;
}
#u1357 {
  position:absolute;
  left:0px;
  top:60px;
  width:260px;
  height:30px;
  font-size:14px;
  color:#999999;
  text-align:left;
}
#u1358 {
  position:absolute;
  left:2px;
  top:7px;
  width:256px;
  word-wrap:break-word;
}
#u1359_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:30px;
}
#u1359 {
  position:absolute;
  left:260px;
  top:60px;
  width:226px;
  height:30px;
  font-size:14px;
  color:#999999;
  text-align:right;
}
#u1360 {
  position:absolute;
  left:2px;
  top:7px;
  width:222px;
  word-wrap:break-word;
}
#u1361 {
  position:absolute;
  left:986px;
  top:866px;
  width:88px;
  height:33px;
}
#u1362_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:28px;
}
#u1362 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:28px;
  font-size:16px;
  color:#FFFFFF;
}
#u1363 {
  position:absolute;
  left:2px;
  top:4px;
  width:79px;
  word-wrap:break-word;
}
#u1364 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1365_div {
  position:absolute;
  left:0px;
  top:0px;
  width:523px;
  height:178px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1365 {
  position:absolute;
  left:23px;
  top:10px;
  width:523px;
  height:178px;
}
#u1366 {
  position:absolute;
  left:2px;
  top:81px;
  width:519px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1367_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FF9500;
}
#u1367 {
  position:absolute;
  left:40px;
  top:26px;
  width:73px;
  height:22px;
  font-size:18px;
  color:#FF9500;
}
#u1368 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1369 {
  position:absolute;
  left:42px;
  top:53px;
  width:491px;
  height:125px;
}
#u1370_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:30px;
}
#u1370 {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:30px;
  font-size:14px;
  color:#999999;
  text-align:left;
}
#u1371 {
  position:absolute;
  left:2px;
  top:7px;
  width:256px;
  word-wrap:break-word;
}
#u1372_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:30px;
}
#u1372 {
  position:absolute;
  left:260px;
  top:0px;
  width:226px;
  height:30px;
  font-size:14px;
  color:#999999;
  text-align:right;
}
#u1373 {
  position:absolute;
  left:2px;
  top:7px;
  width:222px;
  word-wrap:break-word;
}
#u1374_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:30px;
}
#u1374 {
  position:absolute;
  left:0px;
  top:30px;
  width:260px;
  height:30px;
  font-size:14px;
  color:#999999;
  text-align:left;
}
#u1375 {
  position:absolute;
  left:2px;
  top:7px;
  width:256px;
  word-wrap:break-word;
}
#u1376_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:30px;
}
#u1376 {
  position:absolute;
  left:260px;
  top:30px;
  width:226px;
  height:30px;
  font-size:14px;
  color:#999999;
  text-align:right;
}
#u1377 {
  position:absolute;
  left:2px;
  top:7px;
  width:222px;
  word-wrap:break-word;
}
#u1378_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:30px;
}
#u1378 {
  position:absolute;
  left:0px;
  top:60px;
  width:260px;
  height:30px;
  font-size:14px;
  color:#999999;
  text-align:left;
}
#u1379 {
  position:absolute;
  left:2px;
  top:7px;
  width:256px;
  word-wrap:break-word;
}
#u1380_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:30px;
}
#u1380 {
  position:absolute;
  left:260px;
  top:60px;
  width:226px;
  height:30px;
  font-size:14px;
  color:#999999;
  text-align:right;
}
#u1381 {
  position:absolute;
  left:2px;
  top:7px;
  width:222px;
  word-wrap:break-word;
}
#u1382_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:30px;
}
#u1382 {
  position:absolute;
  left:0px;
  top:90px;
  width:260px;
  height:30px;
  font-size:14px;
  color:#999999;
  text-align:left;
}
#u1383 {
  position:absolute;
  left:2px;
  top:7px;
  width:256px;
  word-wrap:break-word;
}
#u1384_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:30px;
}
#u1384 {
  position:absolute;
  left:260px;
  top:90px;
  width:226px;
  height:30px;
  font-size:14px;
  color:#999999;
  text-align:right;
}
#u1385 {
  position:absolute;
  left:2px;
  top:7px;
  width:222px;
  word-wrap:break-word;
}
#u1386 {
  position:absolute;
  left:304px;
  top:700px;
  width:91px;
  height:93px;
  overflow:hidden;
  visibility:hidden;
}
#u1386_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:93px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1386_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1387 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:95px;
}
#u1388_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
}
#u1388 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
  color:#FFFFFF;
}
#u1389 {
  position:absolute;
  left:2px;
  top:7px;
  width:88px;
  word-wrap:break-word;
}
#u1390_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
}
#u1390 {
  position:absolute;
  left:0px;
  top:30px;
  width:92px;
  height:30px;
  color:#FFFFFF;
}
#u1391 {
  position:absolute;
  left:2px;
  top:7px;
  width:88px;
  word-wrap:break-word;
}
#u1392_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
}
#u1392 {
  position:absolute;
  left:0px;
  top:60px;
  width:92px;
  height:30px;
  color:#FFFFFF;
}
#u1393 {
  position:absolute;
  left:2px;
  top:7px;
  width:88px;
  word-wrap:break-word;
}
#u1386_ann {
  position:absolute;
  left:388px;
  top:696px;
  width:1px;
  height:1px;
}
#u1394 {
  position:absolute;
  left:547px;
  top:686px;
  width:91px;
  height:124px;
  overflow:hidden;
  visibility:hidden;
}
#u1394_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:124px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1394_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1395 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:125px;
}
#u1396_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
}
#u1396 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
  color:#FFFFFF;
}
#u1397 {
  position:absolute;
  left:2px;
  top:7px;
  width:88px;
  word-wrap:break-word;
}
#u1398_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
}
#u1398 {
  position:absolute;
  left:0px;
  top:30px;
  width:92px;
  height:30px;
  color:#FFFFFF;
}
#u1399 {
  position:absolute;
  left:2px;
  top:7px;
  width:88px;
  word-wrap:break-word;
}
#u1400_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
}
#u1400 {
  position:absolute;
  left:0px;
  top:60px;
  width:92px;
  height:30px;
  color:#FFFFFF;
}
#u1401 {
  position:absolute;
  left:2px;
  top:7px;
  width:88px;
  word-wrap:break-word;
}
#u1402_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
}
#u1402 {
  position:absolute;
  left:0px;
  top:90px;
  width:92px;
  height:30px;
  color:#FFFFFF;
}
#u1403 {
  position:absolute;
  left:2px;
  top:7px;
  width:88px;
  word-wrap:break-word;
}
#u1394_ann {
  position:absolute;
  left:631px;
  top:682px;
  width:1px;
  height:1px;
}
#u1404 {
  position:absolute;
  left:712px;
  top:702px;
  width:91px;
  height:124px;
  overflow:hidden;
  visibility:hidden;
}
#u1404_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:124px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1404_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1405 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:65px;
}
#u1406_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
}
#u1406 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
  color:#FFFFFF;
}
#u1407 {
  position:absolute;
  left:2px;
  top:7px;
  width:88px;
  word-wrap:break-word;
}
#u1408_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
}
#u1408 {
  position:absolute;
  left:0px;
  top:30px;
  width:92px;
  height:30px;
  color:#FFFFFF;
}
#u1409 {
  position:absolute;
  left:2px;
  top:7px;
  width:88px;
  word-wrap:break-word;
}
#u1404_ann {
  position:absolute;
  left:796px;
  top:698px;
  width:1px;
  height:1px;
}
#u1410_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:1143px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.4);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1410 {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:1143px;
}
#u1411 {
  position:absolute;
  left:2px;
  top:564px;
  width:1096px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1412_div {
  position:absolute;
  left:0px;
  top:0px;
  width:915px;
  height:573px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1412 {
  position:absolute;
  left:176px;
  top:178px;
  width:915px;
  height:573px;
}
#u1413 {
  position:absolute;
  left:2px;
  top:278px;
  width:911px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1414_div {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:50px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1414 {
  position:absolute;
  left:186px;
  top:185px;
  width:7px;
  height:50px;
}
#u1415 {
  position:absolute;
  left:2px;
  top:17px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1416_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u1416 {
  position:absolute;
  left:203px;
  top:185px;
  width:300px;
  height:50px;
  font-size:16px;
  text-align:left;
}
#u1417 {
  position:absolute;
  left:2px;
  top:16px;
  width:296px;
  word-wrap:break-word;
}
#u1418_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1418 {
  position:absolute;
  left:1039px;
  top:185px;
  width:30px;
  height:30px;
}
#u1419 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1420_img {
  position:absolute;
  left:0px;
  top:0px;
  width:748px;
  height:486px;
}
#u1420 {
  position:absolute;
  left:260px;
  top:243px;
  width:748px;
  height:486px;
}
#u1421 {
  position:absolute;
  left:2px;
  top:235px;
  width:744px;
  visibility:hidden;
  word-wrap:break-word;
}
