body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1100px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2494_div {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2494 {
  position:absolute;
  left:7px;
  top:5px;
  width:7px;
  height:40px;
}
#u2495 {
  position:absolute;
  left:2px;
  top:12px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2496_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u2496 {
  position:absolute;
  left:24px;
  top:5px;
  width:300px;
  height:40px;
  font-size:16px;
  text-align:left;
}
#u2497 {
  position:absolute;
  left:2px;
  top:10px;
  width:296px;
  word-wrap:break-word;
}
#u2498_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u2498 {
  position:absolute;
  left:24px;
  top:66px;
  width:99px;
  height:40px;
  font-size:16px;
  color:#FFFFFF;
}
#u2499 {
  position:absolute;
  left:2px;
  top:10px;
  width:95px;
  word-wrap:break-word;
}
#u2500_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 204, 51, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u2500 {
  position:absolute;
  left:133px;
  top:66px;
  width:99px;
  height:40px;
  font-size:16px;
  color:#FFFFFF;
}
#u2501 {
  position:absolute;
  left:2px;
  top:10px;
  width:95px;
  word-wrap:break-word;
}
#u2502_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:40px;
  background:inherit;
  background-color:rgba(204, 51, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u2502 {
  position:absolute;
  left:242px;
  top:66px;
  width:99px;
  height:40px;
  font-size:16px;
  color:#FFFFFF;
}
#u2503 {
  position:absolute;
  left:2px;
  top:10px;
  width:95px;
  word-wrap:break-word;
}
#u2504_img {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:184px;
}
#u2504 {
  position:absolute;
  left:24px;
  top:116px;
  width:980px;
  height:184px;
}
#u2505 {
  position:absolute;
  left:2px;
  top:84px;
  width:976px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2506_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:994px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.4);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2506 {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:994px;
}
#u2507 {
  position:absolute;
  left:2px;
  top:489px;
  width:1096px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2508_div {
  position:absolute;
  left:0px;
  top:0px;
  width:710px;
  height:273px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2508 {
  position:absolute;
  left:195px;
  top:105px;
  width:710px;
  height:273px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2509 {
  position:absolute;
  left:2px;
  top:128px;
  width:706px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2510_div {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:51px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2510 {
  position:absolute;
  left:202px;
  top:126px;
  width:7px;
  height:51px;
}
#u2511 {
  position:absolute;
  left:2px;
  top:18px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2512_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u2512 {
  position:absolute;
  left:219px;
  top:126px;
  width:300px;
  height:51px;
  font-size:16px;
  text-align:left;
}
#u2513 {
  position:absolute;
  left:2px;
  top:16px;
  width:296px;
  word-wrap:break-word;
}
#u2514_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
}
#u2514 {
  position:absolute;
  left:651px;
  top:302px;
  width:99px;
  height:51px;
  font-size:16px;
  color:#666666;
}
#u2515 {
  position:absolute;
  left:2px;
  top:16px;
  width:95px;
  word-wrap:break-word;
}
#u2516_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:51px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u2516 {
  position:absolute;
  left:760px;
  top:302px;
  width:99px;
  height:51px;
  font-size:16px;
  color:#FFFFFF;
}
#u2517 {
  position:absolute;
  left:2px;
  top:16px;
  width:95px;
  word-wrap:break-word;
}
#u2518_div {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
  text-align:left;
}
#u2518 {
  position:absolute;
  left:360px;
  top:187px;
  width:380px;
  height:54px;
  font-size:16px;
  color:#000000;
  text-align:left;
}
#u2519 {
  position:absolute;
  left:2px;
  top:18px;
  width:376px;
  word-wrap:break-word;
}
#u2518_ann {
  position:absolute;
  left:733px;
  top:183px;
  width:1px;
  height:1px;
}
