body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1223px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4458_div {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4458 {
  position:absolute;
  left:7px;
  top:5px;
  width:7px;
  height:40px;
}
#u4459 {
  position:absolute;
  left:2px;
  top:12px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4460_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u4460 {
  position:absolute;
  left:24px;
  top:5px;
  width:300px;
  height:40px;
  font-size:16px;
  text-align:left;
}
#u4461 {
  position:absolute;
  left:2px;
  top:10px;
  width:296px;
  word-wrap:break-word;
}
#u4462_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1193px;
  height:591px;
}
#u4462 {
  position:absolute;
  left:7px;
  top:67px;
  width:1193px;
  height:591px;
}
#u4463 {
  position:absolute;
  left:2px;
  top:288px;
  width:1189px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4464_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1223px;
  height:753px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.4);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4464 {
  position:absolute;
  left:0px;
  top:0px;
  width:1223px;
  height:753px;
}
#u4465 {
  position:absolute;
  left:2px;
  top:368px;
  width:1219px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4466_div {
  position:absolute;
  left:0px;
  top:0px;
  width:814px;
  height:464px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4466 {
  position:absolute;
  left:195px;
  top:5px;
  width:814px;
  height:464px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4467 {
  position:absolute;
  left:2px;
  top:224px;
  width:810px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4468_div {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:51px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4468 {
  position:absolute;
  left:209px;
  top:13px;
  width:7px;
  height:51px;
}
#u4469 {
  position:absolute;
  left:2px;
  top:18px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4470_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u4470 {
  position:absolute;
  left:226px;
  top:13px;
  width:300px;
  height:51px;
  font-size:16px;
  text-align:left;
}
#u4471 {
  position:absolute;
  left:2px;
  top:16px;
  width:296px;
  word-wrap:break-word;
}
#u4472_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
}
#u4472 {
  position:absolute;
  left:733px;
  top:344px;
  width:99px;
  height:51px;
  font-size:16px;
  color:#666666;
}
#u4473 {
  position:absolute;
  left:2px;
  top:16px;
  width:95px;
  word-wrap:break-word;
}
#u4474_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:51px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u4474 {
  position:absolute;
  left:842px;
  top:344px;
  width:99px;
  height:51px;
  font-size:16px;
  color:#FFFFFF;
}
#u4475 {
  position:absolute;
  left:2px;
  top:16px;
  width:95px;
  word-wrap:break-word;
}
#u4476_img {
  position:absolute;
  left:0px;
  top:0px;
  width:786px;
  height:211px;
}
#u4476 {
  position:absolute;
  left:211px;
  top:81px;
  width:786px;
  height:211px;
}
#u4477 {
  position:absolute;
  left:2px;
  top:98px;
  width:782px;
  visibility:hidden;
  word-wrap:break-word;
}
