body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1223px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4527_div {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4527 {
  position:absolute;
  left:7px;
  top:5px;
  width:7px;
  height:40px;
}
#u4528 {
  position:absolute;
  left:2px;
  top:12px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4529_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u4529 {
  position:absolute;
  left:24px;
  top:5px;
  width:300px;
  height:40px;
  font-size:16px;
  text-align:left;
}
#u4530 {
  position:absolute;
  left:2px;
  top:10px;
  width:296px;
  word-wrap:break-word;
}
#u4531_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1193px;
  height:591px;
}
#u4531 {
  position:absolute;
  left:7px;
  top:67px;
  width:1193px;
  height:591px;
}
#u4532 {
  position:absolute;
  left:2px;
  top:288px;
  width:1189px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4533_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1223px;
  height:753px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.4);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4533 {
  position:absolute;
  left:0px;
  top:0px;
  width:1223px;
  height:753px;
}
#u4534 {
  position:absolute;
  left:2px;
  top:368px;
  width:1219px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4535_div {
  position:absolute;
  left:0px;
  top:0px;
  width:814px;
  height:464px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4535 {
  position:absolute;
  left:195px;
  top:5px;
  width:814px;
  height:464px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4536 {
  position:absolute;
  left:2px;
  top:224px;
  width:810px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4537_div {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:51px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4537 {
  position:absolute;
  left:209px;
  top:13px;
  width:7px;
  height:51px;
}
#u4538 {
  position:absolute;
  left:2px;
  top:18px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4539_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u4539 {
  position:absolute;
  left:226px;
  top:13px;
  width:300px;
  height:51px;
  font-size:16px;
  text-align:left;
}
#u4540 {
  position:absolute;
  left:2px;
  top:16px;
  width:296px;
  word-wrap:break-word;
}
#u4541_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
}
#u4541 {
  position:absolute;
  left:733px;
  top:344px;
  width:99px;
  height:51px;
  font-size:16px;
  color:#666666;
}
#u4542 {
  position:absolute;
  left:2px;
  top:16px;
  width:95px;
  word-wrap:break-word;
}
#u4543_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:51px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u4543 {
  position:absolute;
  left:842px;
  top:344px;
  width:99px;
  height:51px;
  font-size:16px;
  color:#FFFFFF;
}
#u4544 {
  position:absolute;
  left:2px;
  top:16px;
  width:95px;
  word-wrap:break-word;
}
#u4545_img {
  position:absolute;
  left:0px;
  top:0px;
  width:786px;
  height:211px;
}
#u4545 {
  position:absolute;
  left:211px;
  top:81px;
  width:786px;
  height:211px;
}
#u4546 {
  position:absolute;
  left:2px;
  top:98px;
  width:782px;
  visibility:hidden;
  word-wrap:break-word;
}
