body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1170px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2672_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1170px;
  height:548px;
}
#u2672 {
  position:absolute;
  left:0px;
  top:18px;
  width:1170px;
  height:548px;
}
#u2673 {
  position:absolute;
  left:2px;
  top:266px;
  width:1166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2674_div {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2674 {
  position:absolute;
  left:7px;
  top:5px;
  width:7px;
  height:40px;
}
#u2675 {
  position:absolute;
  left:2px;
  top:12px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2676_div {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u2676 {
  position:absolute;
  left:14px;
  top:5px;
  width:310px;
  height:40px;
  font-size:16px;
  text-align:left;
}
#u2677 {
  position:absolute;
  left:2px;
  top:10px;
  width:306px;
  word-wrap:break-word;
}
#u2678 {
  position:absolute;
  left:89px;
  top:118px;
  width:100px;
  height:383px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2678_ann {
  position:absolute;
  left:182px;
  top:114px;
  width:1px;
  height:1px;
}
#u2679_img {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:36px;
}
#u2679 {
  position:absolute;
  left:530px;
  top:62px;
  width:255px;
  height:36px;
}
#u2680 {
  position:absolute;
  left:2px;
  top:10px;
  width:251px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2681_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:22px;
}
#u2681 {
  position:absolute;
  left:559px;
  top:69px;
  width:89px;
  height:22px;
  font-size:12px;
  color:#666666;
  text-align:left;
}
#u2682 {
  position:absolute;
  left:2px;
  top:4px;
  width:85px;
  word-wrap:break-word;
}
#u2683_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
}
#u2683 {
  position:absolute;
  left:714px;
  top:69px;
  width:55px;
  height:22px;
  font-size:12px;
  color:#666666;
}
#u2684 {
  position:absolute;
  left:2px;
  top:4px;
  width:51px;
  word-wrap:break-word;
}
#u2685 {
  position:absolute;
  left:144px;
  top:62px;
  width:69px;
  height:36px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2685_ann {
  position:absolute;
  left:206px;
  top:58px;
  width:1px;
  height:1px;
}
#u2686 {
  position:absolute;
  left:75px;
  top:62px;
  width:69px;
  height:36px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2686_ann {
  position:absolute;
  left:137px;
  top:58px;
  width:1px;
  height:1px;
}
#u2687_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:24px;
}
#u2687 {
  position:absolute;
  left:435px;
  top:265px;
  width:45px;
  height:24px;
}
#u2688 {
  position:absolute;
  left:2px;
  top:4px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2689_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:24px;
}
#u2689 {
  position:absolute;
  left:435px;
  top:406px;
  width:45px;
  height:24px;
}
#u2690 {
  position:absolute;
  left:2px;
  top:4px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2691_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:21px;
}
#u2691 {
  position:absolute;
  left:436px;
  top:226px;
  width:44px;
  height:21px;
}
#u2692 {
  position:absolute;
  left:2px;
  top:2px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2693_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:21px;
}
#u2693 {
  position:absolute;
  left:436px;
  top:371px;
  width:44px;
  height:21px;
}
#u2694 {
  position:absolute;
  left:2px;
  top:2px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
