body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1170px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2804_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1170px;
  height:548px;
}
#u2804 {
  position:absolute;
  left:0px;
  top:18px;
  width:1170px;
  height:548px;
}
#u2805 {
  position:absolute;
  left:2px;
  top:266px;
  width:1166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2806_div {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2806 {
  position:absolute;
  left:7px;
  top:5px;
  width:7px;
  height:40px;
}
#u2807 {
  position:absolute;
  left:2px;
  top:12px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2808_div {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u2808 {
  position:absolute;
  left:14px;
  top:5px;
  width:310px;
  height:40px;
  font-size:16px;
  text-align:left;
}
#u2809 {
  position:absolute;
  left:2px;
  top:10px;
  width:306px;
  word-wrap:break-word;
}
#u2810 {
  position:absolute;
  left:89px;
  top:118px;
  width:100px;
  height:383px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2810_ann {
  position:absolute;
  left:182px;
  top:114px;
  width:1px;
  height:1px;
}
#u2811_img {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:36px;
}
#u2811 {
  position:absolute;
  left:530px;
  top:62px;
  width:255px;
  height:36px;
}
#u2812 {
  position:absolute;
  left:2px;
  top:10px;
  width:251px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2813_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:22px;
}
#u2813 {
  position:absolute;
  left:559px;
  top:69px;
  width:89px;
  height:22px;
  font-size:12px;
  color:#666666;
  text-align:left;
}
#u2814 {
  position:absolute;
  left:2px;
  top:4px;
  width:85px;
  word-wrap:break-word;
}
#u2815_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
}
#u2815 {
  position:absolute;
  left:714px;
  top:69px;
  width:55px;
  height:22px;
  font-size:12px;
  color:#666666;
}
#u2816 {
  position:absolute;
  left:2px;
  top:4px;
  width:51px;
  word-wrap:break-word;
}
#u2817 {
  position:absolute;
  left:144px;
  top:62px;
  width:69px;
  height:36px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2817_ann {
  position:absolute;
  left:206px;
  top:58px;
  width:1px;
  height:1px;
}
#u2818 {
  position:absolute;
  left:75px;
  top:62px;
  width:69px;
  height:36px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2818_ann {
  position:absolute;
  left:137px;
  top:58px;
  width:1px;
  height:1px;
}
#u2819_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:24px;
}
#u2819 {
  position:absolute;
  left:435px;
  top:265px;
  width:45px;
  height:24px;
}
#u2820 {
  position:absolute;
  left:2px;
  top:4px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2821_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:24px;
}
#u2821 {
  position:absolute;
  left:435px;
  top:406px;
  width:45px;
  height:24px;
}
#u2822 {
  position:absolute;
  left:2px;
  top:4px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2823_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:21px;
}
#u2823 {
  position:absolute;
  left:436px;
  top:226px;
  width:44px;
  height:21px;
}
#u2824 {
  position:absolute;
  left:2px;
  top:2px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2825_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:21px;
}
#u2825 {
  position:absolute;
  left:436px;
  top:371px;
  width:44px;
  height:21px;
}
#u2826 {
  position:absolute;
  left:2px;
  top:2px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
