body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:673px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4657_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4657 {
  position:absolute;
  left:20px;
  top:20px;
  width:375px;
  height:667px;
}
#u4658 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4659_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:20px;
}
#u4659 {
  position:absolute;
  left:21px;
  top:21px;
  width:373px;
  height:20px;
}
#u4660 {
  position:absolute;
  left:2px;
  top:2px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4661_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4661 {
  position:absolute;
  left:20px;
  top:41px;
  width:375px;
  height:44px;
}
#u4662 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4663_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:23px;
}
#u4663 {
  position:absolute;
  left:157px;
  top:51px;
  width:101px;
  height:23px;
  font-size:18px;
  color:#FF9500;
}
#u4664 {
  position:absolute;
  left:2px;
  top:0px;
  width:97px;
  word-wrap:break-word;
}
#u4665 {
  position:absolute;
  left:43px;
  top:108px;
  width:105px;
  height:55px;
}
#u4666_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u4666 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  font-size:16px;
  color:#000000;
  text-align:left;
}
#u4667 {
  position:absolute;
  left:2px;
  top:17px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4668 {
  position:absolute;
  left:50px;
  top:108px;
  width:101px;
  height:103px;
  overflow:hidden;
}
#u4668_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:103px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u4668_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4669_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:102px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4669 {
  position:absolute;
  left:0px;
  top:1px;
  width:101px;
  height:102px;
}
#u4670 {
  position:absolute;
  left:2px;
  top:43px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4671_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:67px;
}
#u4671 {
  position:absolute;
  left:0px;
  top:18px;
  width:100px;
  height:67px;
}
#u4672 {
  position:absolute;
  left:2px;
  top:26px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4673 {
  position:absolute;
  left:50px;
  top:221px;
  width:101px;
  height:103px;
  overflow:hidden;
}
#u4673_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:103px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u4673_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4674_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:102px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4674 {
  position:absolute;
  left:0px;
  top:1px;
  width:101px;
  height:102px;
}
#u4675 {
  position:absolute;
  left:2px;
  top:43px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4676_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:67px;
}
#u4676 {
  position:absolute;
  left:0px;
  top:18px;
  width:100px;
  height:67px;
}
#u4677 {
  position:absolute;
  left:2px;
  top:26px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4678 {
  position:absolute;
  left:50px;
  top:334px;
  width:101px;
  height:103px;
  overflow:hidden;
}
#u4678_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:103px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u4678_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4679_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:102px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4679 {
  position:absolute;
  left:0px;
  top:1px;
  width:101px;
  height:102px;
}
#u4680 {
  position:absolute;
  left:2px;
  top:43px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4681_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:67px;
}
#u4681 {
  position:absolute;
  left:0px;
  top:18px;
  width:100px;
  height:67px;
}
#u4682 {
  position:absolute;
  left:2px;
  top:26px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4683 {
  position:absolute;
  left:50px;
  top:447px;
  width:101px;
  height:103px;
  overflow:hidden;
}
#u4683_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:103px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u4683_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4684_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:102px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4684 {
  position:absolute;
  left:0px;
  top:1px;
  width:101px;
  height:102px;
}
#u4685 {
  position:absolute;
  left:2px;
  top:43px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4686_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:67px;
}
#u4686 {
  position:absolute;
  left:0px;
  top:18px;
  width:100px;
  height:67px;
}
#u4687 {
  position:absolute;
  left:2px;
  top:26px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4688_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4688 {
  position:absolute;
  left:227px;
  top:149px;
  width:43px;
  height:22px;
}
#u4689 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u4690_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4690 {
  position:absolute;
  left:227px;
  top:262px;
  width:43px;
  height:22px;
}
#u4691 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u4692_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4692 {
  position:absolute;
  left:196px;
  top:375px;
  width:43px;
  height:22px;
}
#u4693 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u4694_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4694 {
  position:absolute;
  left:196px;
  top:488px;
  width:43px;
  height:22px;
}
#u4695 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u4696_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:103px;
  background:inherit;
  background-color:rgba(204, 51, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u4696 {
  position:absolute;
  left:324px;
  top:221px;
  width:71px;
  height:103px;
  font-size:16px;
  color:#FFFFFF;
}
#u4697 {
  position:absolute;
  left:2px;
  top:42px;
  width:67px;
  word-wrap:break-word;
}
#u4698_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:103px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u4698 {
  position:absolute;
  left:253px;
  top:334px;
  width:71px;
  height:103px;
  font-size:16px;
  color:#FFFFFF;
}
#u4699 {
  position:absolute;
  left:2px;
  top:42px;
  width:67px;
  word-wrap:break-word;
}
#u4700_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:103px;
  background:inherit;
  background-color:rgba(204, 51, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u4700 {
  position:absolute;
  left:324px;
  top:108px;
  width:71px;
  height:103px;
  font-size:16px;
  color:#FFFFFF;
}
#u4701 {
  position:absolute;
  left:2px;
  top:42px;
  width:67px;
  word-wrap:break-word;
}
#u4702_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u4702 {
  position:absolute;
  left:20px;
  top:746px;
  width:30px;
  height:30px;
}
#u4703 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4704_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u4704 {
  position:absolute;
  left:172px;
  top:732px;
  width:101px;
  height:57px;
  font-size:14px;
}
#u4705 {
  position:absolute;
  left:2px;
  top:20px;
  width:97px;
  word-wrap:break-word;
}
#u4706_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u4706 {
  position:absolute;
  left:172px;
  top:863px;
  width:101px;
  height:57px;
  font-size:14px;
}
#u4707 {
  position:absolute;
  left:2px;
  top:20px;
  width:97px;
  word-wrap:break-word;
}
#u4708_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u4708 {
  position:absolute;
  left:326px;
  top:863px;
  width:101px;
  height:57px;
  font-size:14px;
}
#u4709 {
  position:absolute;
  left:2px;
  top:20px;
  width:97px;
  word-wrap:break-word;
}
#u4710_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u4710 {
  position:absolute;
  left:557px;
  top:863px;
  width:101px;
  height:57px;
  font-size:14px;
}
#u4711 {
  position:absolute;
  left:2px;
  top:20px;
  width:97px;
  word-wrap:break-word;
}
#u4712 {
  position:absolute;
  left:50px;
  top:761px;
  width:0px;
  height:0px;
}
#u4712_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:126px;
  height:8px;
}
#u4712_seg1 {
  position:absolute;
  left:109px;
  top:-10px;
  width:20px;
  height:20px;
}
#u4713 {
  position:absolute;
  left:11px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u4714 {
  position:absolute;
  left:223px;
  top:789px;
  width:0px;
  height:0px;
}
#u4714_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:78px;
}
#u4714_seg1 {
  position:absolute;
  left:-10px;
  top:61px;
  width:20px;
  height:20px;
}
#u4715 {
  position:absolute;
  left:-50px;
  top:29px;
  width:100px;
  word-wrap:break-word;
}
#u4716 {
  position:absolute;
  left:273px;
  top:761px;
  width:0px;
  height:0px;
}
#u4716_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:108px;
  height:8px;
}
#u4716_seg1 {
  position:absolute;
  left:100px;
  top:-4px;
  width:8px;
  height:106px;
}
#u4716_seg2 {
  position:absolute;
  left:94px;
  top:89px;
  width:20px;
  height:20px;
}
#u4717 {
  position:absolute;
  left:53px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u4718 {
  position:absolute;
  left:427px;
  top:892px;
  width:0px;
  height:0px;
}
#u4718_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:134px;
  height:8px;
}
#u4718_seg1 {
  position:absolute;
  left:117px;
  top:-10px;
  width:20px;
  height:20px;
}
#u4719 {
  position:absolute;
  left:15px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u4720 {
  position:absolute;
  left:608px;
  top:920px;
  width:0px;
  height:0px;
}
#u4720_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:80px;
}
#u4720_seg1 {
  position:absolute;
  left:-235px;
  top:72px;
  width:239px;
  height:8px;
}
#u4720_seg2 {
  position:absolute;
  left:-235px;
  top:0px;
  width:8px;
  height:80px;
}
#u4720_seg3 {
  position:absolute;
  left:-241px;
  top:-7px;
  width:20px;
  height:20px;
}
#u4721 {
  position:absolute;
  left:-166px;
  top:68px;
  width:100px;
  word-wrap:break-word;
}
#u4722_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u4722 {
  position:absolute;
  left:172px;
  top:1049px;
  width:101px;
  height:57px;
  font-size:14px;
}
#u4723 {
  position:absolute;
  left:2px;
  top:20px;
  width:97px;
  word-wrap:break-word;
}
#u4724 {
  position:absolute;
  left:223px;
  top:789px;
  width:0px;
  height:0px;
}
#u4724_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:23px;
}
#u4724_seg1 {
  position:absolute;
  left:-119px;
  top:15px;
  width:123px;
  height:8px;
}
#u4724_seg2 {
  position:absolute;
  left:-119px;
  top:15px;
  width:8px;
  height:278px;
}
#u4724_seg3 {
  position:absolute;
  left:-119px;
  top:285px;
  width:68px;
  height:8px;
}
#u4724_seg4 {
  position:absolute;
  left:-64px;
  top:279px;
  width:20px;
  height:20px;
}
#u4725 {
  position:absolute;
  left:-165px;
  top:111px;
  width:100px;
  word-wrap:break-word;
}
#u4726 {
  position:absolute;
  left:223px;
  top:920px;
  width:0px;
  height:0px;
}
#u4726_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:133px;
}
#u4726_seg1 {
  position:absolute;
  left:-10px;
  top:116px;
  width:20px;
  height:20px;
}
#u4727 {
  position:absolute;
  left:-50px;
  top:56px;
  width:100px;
  word-wrap:break-word;
}
#u4728 {
  position:absolute;
  left:326px;
  top:892px;
  width:0px;
  height:0px;
}
#u4728_seg0 {
  position:absolute;
  left:-9px;
  top:-4px;
  width:9px;
  height:8px;
}
#u4728_seg1 {
  position:absolute;
  left:-9px;
  top:-4px;
  width:8px;
  height:194px;
}
#u4728_seg2 {
  position:absolute;
  left:-53px;
  top:182px;
  width:52px;
  height:8px;
}
#u4728_seg3 {
  position:absolute;
  left:-60px;
  top:176px;
  width:20px;
  height:20px;
}
#u4729 {
  position:absolute;
  left:-55px;
  top:106px;
  width:100px;
  word-wrap:break-word;
}
#u4730 {
  position:absolute;
  left:658px;
  top:892px;
  width:0px;
  height:0px;
}
#u4730_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:16px;
  height:8px;
}
#u4730_seg1 {
  position:absolute;
  left:8px;
  top:-4px;
  width:8px;
  height:194px;
}
#u4730_seg2 {
  position:absolute;
  left:-385px;
  top:182px;
  width:401px;
  height:8px;
}
#u4730_seg3 {
  position:absolute;
  left:-392px;
  top:176px;
  width:20px;
  height:20px;
}
#u4731 {
  position:absolute;
  left:-138px;
  top:178px;
  width:100px;
  word-wrap:break-word;
}
#u4732_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:103px;
  background:inherit;
  background-color:rgba(204, 51, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u4732 {
  position:absolute;
  left:324px;
  top:334px;
  width:71px;
  height:103px;
  font-size:16px;
  color:#FFFFFF;
}
#u4733 {
  position:absolute;
  left:2px;
  top:42px;
  width:67px;
  word-wrap:break-word;
}
#u4734_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:103px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u4734 {
  position:absolute;
  left:253px;
  top:447px;
  width:71px;
  height:103px;
  font-size:16px;
  color:#FFFFFF;
}
#u4735 {
  position:absolute;
  left:2px;
  top:42px;
  width:67px;
  word-wrap:break-word;
}
#u4736_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:103px;
  background:inherit;
  background-color:rgba(204, 51, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u4736 {
  position:absolute;
  left:324px;
  top:447px;
  width:71px;
  height:103px;
  font-size:16px;
  color:#FFFFFF;
}
#u4737 {
  position:absolute;
  left:2px;
  top:42px;
  width:67px;
  word-wrap:break-word;
}
#u4738 {
  position:absolute;
  left:21px;
  top:108px;
  width:374px;
  height:579px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4738_ann {
  position:absolute;
  left:388px;
  top:104px;
  width:1px;
  height:1px;
}
#u4739 {
  position:absolute;
  left:50px;
  top:560px;
  width:101px;
  height:103px;
  overflow:hidden;
}
#u4739_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:103px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u4739_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4740_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:102px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4740 {
  position:absolute;
  left:0px;
  top:1px;
  width:101px;
  height:102px;
}
#u4741 {
  position:absolute;
  left:2px;
  top:43px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4742_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:67px;
}
#u4742 {
  position:absolute;
  left:0px;
  top:18px;
  width:100px;
  height:67px;
}
#u4743 {
  position:absolute;
  left:2px;
  top:26px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4744_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4744 {
  position:absolute;
  left:306px;
  top:601px;
  width:43px;
  height:22px;
}
#u4745 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u4746_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FF9500;
}
#u4746 {
  position:absolute;
  left:350px;
  top:55px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#FF9500;
}
#u4747 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
