body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:395px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5620_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5620 {
  position:absolute;
  left:20px;
  top:20px;
  width:375px;
  height:667px;
}
#u5621 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5622_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:20px;
}
#u5622 {
  position:absolute;
  left:21px;
  top:21px;
  width:373px;
  height:20px;
}
#u5623 {
  position:absolute;
  left:2px;
  top:2px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5624_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5624 {
  position:absolute;
  left:20px;
  top:41px;
  width:375px;
  height:44px;
}
#u5625 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5626_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:23px;
}
#u5626 {
  position:absolute;
  left:157px;
  top:51px;
  width:101px;
  height:23px;
  font-size:18px;
  color:#FF9500;
}
#u5627 {
  position:absolute;
  left:2px;
  top:0px;
  width:97px;
  word-wrap:break-word;
}
#u5628_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:426px;
}
#u5628 {
  position:absolute;
  left:21px;
  top:85px;
  width:373px;
  height:426px;
}
#u5629 {
  position:absolute;
  left:2px;
  top:205px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5630_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:94px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5630 {
  position:absolute;
  left:21px;
  top:417px;
  width:373px;
  height:94px;
}
#u5631 {
  position:absolute;
  left:2px;
  top:39px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5632_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:2px;
}
#u5632 {
  position:absolute;
  left:21px;
  top:452px;
  width:373px;
  height:1px;
}
#u5633 {
  position:absolute;
  left:2px;
  top:-8px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5634_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u5634 {
  position:absolute;
  left:170px;
  top:417px;
  width:75px;
  height:27px;
  color:#999999;
}
#u5635 {
  position:absolute;
  left:2px;
  top:6px;
  width:71px;
  word-wrap:break-word;
}
#u5634_ann {
  position:absolute;
  left:238px;
  top:413px;
  width:1px;
  height:1px;
}
#u5636_img {
  position:absolute;
  left:0px;
  top:0px;
  width:369px;
  height:40px;
}
#u5636 {
  position:absolute;
  left:22px;
  top:456px;
  width:369px;
  height:40px;
}
#u5637 {
  position:absolute;
  left:2px;
  top:12px;
  width:365px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5636_ann {
  position:absolute;
  left:384px;
  top:452px;
  width:1px;
  height:1px;
}
#u5638_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:2px;
}
#u5638 {
  position:absolute;
  left:21px;
  top:521px;
  width:373px;
  height:1px;
}
#u5639 {
  position:absolute;
  left:2px;
  top:-8px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5640_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u5640 {
  position:absolute;
  left:21px;
  top:495px;
  width:28px;
  height:13px;
  font-size:10px;
}
#u5641 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u5642_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u5642 {
  position:absolute;
  left:123px;
  top:495px;
  width:28px;
  height:13px;
  font-size:10px;
}
#u5643 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u5644_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u5644 {
  position:absolute;
  left:224px;
  top:495px;
  width:28px;
  height:13px;
  font-size:10px;
}
#u5645 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u5646_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u5646 {
  position:absolute;
  left:329px;
  top:495px;
  width:28px;
  height:13px;
  font-size:10px;
}
#u5647 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u5648_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u5648 {
  position:absolute;
  left:183px;
  top:551px;
  width:50px;
  height:50px;
}
#u5649 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5648_ann {
  position:absolute;
  left:226px;
  top:547px;
  width:1px;
  height:1px;
}
