body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:395px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6173_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6173 {
  position:absolute;
  left:20px;
  top:20px;
  width:375px;
  height:667px;
}
#u6174 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:20px;
}
#u6175 {
  position:absolute;
  left:21px;
  top:21px;
  width:373px;
  height:20px;
}
#u6176 {
  position:absolute;
  left:2px;
  top:2px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6177_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6177 {
  position:absolute;
  left:20px;
  top:41px;
  width:375px;
  height:44px;
}
#u6178 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:23px;
}
#u6179 {
  position:absolute;
  left:157px;
  top:51px;
  width:101px;
  height:23px;
  font-size:18px;
  color:#FF9500;
}
#u6180 {
  position:absolute;
  left:2px;
  top:0px;
  width:97px;
  word-wrap:break-word;
}
#u6181_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:426px;
}
#u6181 {
  position:absolute;
  left:21px;
  top:85px;
  width:373px;
  height:426px;
}
#u6182 {
  position:absolute;
  left:2px;
  top:205px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6183_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:94px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6183 {
  position:absolute;
  left:21px;
  top:417px;
  width:373px;
  height:94px;
}
#u6184 {
  position:absolute;
  left:2px;
  top:39px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:2px;
}
#u6185 {
  position:absolute;
  left:21px;
  top:452px;
  width:373px;
  height:1px;
}
#u6186 {
  position:absolute;
  left:2px;
  top:-8px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6187_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u6187 {
  position:absolute;
  left:170px;
  top:417px;
  width:75px;
  height:27px;
  color:#999999;
}
#u6188 {
  position:absolute;
  left:2px;
  top:6px;
  width:71px;
  word-wrap:break-word;
}
#u6187_ann {
  position:absolute;
  left:238px;
  top:413px;
  width:1px;
  height:1px;
}
#u6189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:369px;
  height:40px;
}
#u6189 {
  position:absolute;
  left:22px;
  top:456px;
  width:369px;
  height:40px;
}
#u6190 {
  position:absolute;
  left:2px;
  top:12px;
  width:365px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6189_ann {
  position:absolute;
  left:384px;
  top:452px;
  width:1px;
  height:1px;
}
#u6191_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:2px;
}
#u6191 {
  position:absolute;
  left:21px;
  top:521px;
  width:373px;
  height:1px;
}
#u6192 {
  position:absolute;
  left:2px;
  top:-8px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6193_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u6193 {
  position:absolute;
  left:21px;
  top:495px;
  width:28px;
  height:13px;
  font-size:10px;
}
#u6194 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u6195_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u6195 {
  position:absolute;
  left:123px;
  top:495px;
  width:28px;
  height:13px;
  font-size:10px;
}
#u6196 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u6197_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u6197 {
  position:absolute;
  left:224px;
  top:495px;
  width:28px;
  height:13px;
  font-size:10px;
}
#u6198 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u6199_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u6199 {
  position:absolute;
  left:329px;
  top:495px;
  width:28px;
  height:13px;
  font-size:10px;
}
#u6200 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u6201_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u6201 {
  position:absolute;
  left:183px;
  top:551px;
  width:50px;
  height:50px;
}
#u6202 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6201_ann {
  position:absolute;
  left:226px;
  top:547px;
  width:1px;
  height:1px;
}
