body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1367px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4202_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:707px;
}
#u4202 {
  position:absolute;
  left:1px;
  top:1px;
  width:1366px;
  height:707px;
}
#u4203 {
  position:absolute;
  left:2px;
  top:346px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
