body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1207px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4037_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1207px;
  height:590px;
}
#u4037 {
  position:absolute;
  left:0px;
  top:78px;
  width:1207px;
  height:590px;
}
#u4038 {
  position:absolute;
  left:2px;
  top:287px;
  width:1203px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4039_div {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4039 {
  position:absolute;
  left:7px;
  top:5px;
  width:7px;
  height:40px;
}
#u4040 {
  position:absolute;
  left:2px;
  top:12px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4041_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u4041 {
  position:absolute;
  left:24px;
  top:5px;
  width:300px;
  height:40px;
  font-size:16px;
  text-align:left;
}
#u4042 {
  position:absolute;
  left:2px;
  top:10px;
  width:296px;
  word-wrap:break-word;
}
