body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1100px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4062_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:796px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4062 {
  position:absolute;
  left:0px;
  top:-7px;
  width:1100px;
  height:796px;
}
#u4063 {
  position:absolute;
  left:2px;
  top:390px;
  width:1096px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4064_div {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4064 {
  position:absolute;
  left:7px;
  top:5px;
  width:7px;
  height:40px;
}
#u4065 {
  position:absolute;
  left:2px;
  top:12px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4066_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u4066 {
  position:absolute;
  left:24px;
  top:5px;
  width:300px;
  height:40px;
  font-size:16px;
  text-align:left;
}
#u4067 {
  position:absolute;
  left:2px;
  top:10px;
  width:296px;
  word-wrap:break-word;
}
#u4068_div {
  position:absolute;
  left:0px;
  top:0px;
  width:710px;
  height:656px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4068 {
  position:absolute;
  left:195px;
  top:55px;
  width:710px;
  height:656px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4069 {
  position:absolute;
  left:2px;
  top:320px;
  width:706px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4070_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:613px;
}
#u4070 {
  position:absolute;
  left:363px;
  top:67px;
  width:375px;
  height:613px;
}
#u4071 {
  position:absolute;
  left:2px;
  top:298px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4072 {
  position:absolute;
  left:405px;
  top:108px;
  width:100px;
  height:564px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4072_ann {
  position:absolute;
  left:498px;
  top:104px;
  width:1px;
  height:1px;
}
