body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1100px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2055_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:1168px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2055 {
  position:absolute;
  left:0px;
  top:-12px;
  width:1100px;
  height:1168px;
}
#u2056 {
  position:absolute;
  left:2px;
  top:576px;
  width:1096px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2057_div {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2057 {
  position:absolute;
  left:7px;
  top:5px;
  width:7px;
  height:40px;
}
#u2058 {
  position:absolute;
  left:2px;
  top:12px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2059_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u2059 {
  position:absolute;
  left:24px;
  top:5px;
  width:300px;
  height:40px;
  font-size:16px;
  text-align:left;
}
#u2060 {
  position:absolute;
  left:2px;
  top:10px;
  width:296px;
  word-wrap:break-word;
}
#u2061_div {
  position:absolute;
  left:0px;
  top:0px;
  width:710px;
  height:1056px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2061 {
  position:absolute;
  left:195px;
  top:72px;
  width:710px;
  height:1056px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2062 {
  position:absolute;
  left:2px;
  top:520px;
  width:706px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2063 {
  position:absolute;
  left:305px;
  top:220px;
  width:105px;
  height:355px;
}
#u2064_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u2064 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  font-size:16px;
  color:#000000;
}
#u2065 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u2066_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u2066 {
  position:absolute;
  left:0px;
  top:50px;
  width:100px;
  height:50px;
  font-size:16px;
  color:#000000;
}
#u2067 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u2068_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u2068 {
  position:absolute;
  left:0px;
  top:100px;
  width:100px;
  height:50px;
  font-size:16px;
  color:#000000;
}
#u2069 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u2070_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u2070 {
  position:absolute;
  left:0px;
  top:150px;
  width:100px;
  height:50px;
  font-size:16px;
  color:#000000;
}
#u2071 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u2072_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u2072 {
  position:absolute;
  left:0px;
  top:200px;
  width:100px;
  height:100px;
  font-size:16px;
  color:#000000;
}
#u2073 {
  position:absolute;
  left:2px;
  top:40px;
  width:96px;
  word-wrap:break-word;
}
#u2074_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u2074 {
  position:absolute;
  left:0px;
  top:300px;
  width:100px;
  height:50px;
  font-size:16px;
  color:#000000;
}
#u2075 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u2076_div {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 204, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u2076 {
  position:absolute;
  left:405px;
  top:225px;
  width:380px;
  height:40px;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u2077 {
  position:absolute;
  left:2px;
  top:10px;
  width:376px;
  word-wrap:break-word;
}
#u2078_div {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 204, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u2078 {
  position:absolute;
  left:405px;
  top:275px;
  width:380px;
  height:40px;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u2079 {
  position:absolute;
  left:2px;
  top:10px;
  width:376px;
  word-wrap:break-word;
}
#u2080_div {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 204, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u2080 {
  position:absolute;
  left:405px;
  top:325px;
  width:380px;
  height:40px;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u2081 {
  position:absolute;
  left:2px;
  top:10px;
  width:376px;
  word-wrap:break-word;
}
#u2080_ann {
  position:absolute;
  left:778px;
  top:321px;
  width:1px;
  height:1px;
}
#u2082_div {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 204, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u2082 {
  position:absolute;
  left:405px;
  top:375px;
  width:380px;
  height:40px;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u2083 {
  position:absolute;
  left:2px;
  top:10px;
  width:376px;
  word-wrap:break-word;
}
#u2082_ann {
  position:absolute;
  left:778px;
  top:371px;
  width:1px;
  height:1px;
}
#u2084_div {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:92px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 204, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u2084 {
  position:absolute;
  left:405px;
  top:426px;
  width:380px;
  height:92px;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u2085 {
  position:absolute;
  left:2px;
  top:27px;
  width:376px;
  word-wrap:break-word;
}
#u2084_ann {
  position:absolute;
  left:778px;
  top:422px;
  width:1px;
  height:1px;
}
#u2086 {
  position:absolute;
  left:305px;
  top:572px;
  width:101px;
  height:103px;
  overflow:hidden;
}
#u2086_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:103px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2086_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2087_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:102px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2087 {
  position:absolute;
  left:0px;
  top:1px;
  width:101px;
  height:102px;
}
#u2088 {
  position:absolute;
  left:2px;
  top:43px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2089_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u2089 {
  position:absolute;
  left:0px;
  top:2px;
  width:100px;
  height:100px;
}
#u2090 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2086_ann {
  position:absolute;
  left:399px;
  top:568px;
  width:1px;
  height:1px;
}
#u2091 {
  position:absolute;
  left:416px;
  top:572px;
  width:101px;
  height:103px;
  overflow:hidden;
}
#u2091_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:103px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2091_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2092_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:102px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2092 {
  position:absolute;
  left:0px;
  top:1px;
  width:101px;
  height:102px;
}
#u2093 {
  position:absolute;
  left:2px;
  top:43px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2094_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:67px;
}
#u2094 {
  position:absolute;
  left:0px;
  top:18px;
  width:100px;
  height:67px;
}
#u2095 {
  position:absolute;
  left:2px;
  top:26px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2096 {
  position:absolute;
  left:527px;
  top:572px;
  width:101px;
  height:103px;
  overflow:hidden;
}
#u2096_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:103px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2096_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2097_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:102px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2097 {
  position:absolute;
  left:0px;
  top:1px;
  width:101px;
  height:102px;
}
#u2098 {
  position:absolute;
  left:2px;
  top:43px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2099_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:67px;
}
#u2099 {
  position:absolute;
  left:0px;
  top:18px;
  width:100px;
  height:67px;
}
#u2100 {
  position:absolute;
  left:2px;
  top:26px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2101 {
  position:absolute;
  left:638px;
  top:572px;
  width:101px;
  height:103px;
  overflow:hidden;
}
#u2101_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:103px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2101_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2102_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:102px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2102 {
  position:absolute;
  left:0px;
  top:1px;
  width:101px;
  height:102px;
}
#u2103 {
  position:absolute;
  left:2px;
  top:43px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u2104 {
  position:absolute;
  left:0px;
  top:2px;
  width:100px;
  height:100px;
}
#u2105 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2106 {
  position:absolute;
  left:749px;
  top:572px;
  width:101px;
  height:103px;
  overflow:hidden;
}
#u2106_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:103px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2106_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2107_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:102px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2107 {
  position:absolute;
  left:0px;
  top:1px;
  width:101px;
  height:102px;
}
#u2108 {
  position:absolute;
  left:2px;
  top:43px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u2109 {
  position:absolute;
  left:0px;
  top:2px;
  width:100px;
  height:100px;
}
#u2110 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2111_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
}
#u2111 {
  position:absolute;
  left:661px;
  top:1056px;
  width:99px;
  height:40px;
  font-size:16px;
  color:#666666;
}
#u2112 {
  position:absolute;
  left:2px;
  top:10px;
  width:95px;
  word-wrap:break-word;
}
#u2113_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u2113 {
  position:absolute;
  left:770px;
  top:1056px;
  width:99px;
  height:40px;
  font-size:16px;
  color:#FFFFFF;
}
#u2114 {
  position:absolute;
  left:2px;
  top:10px;
  width:95px;
  word-wrap:break-word;
}
#u2115_div {
  position:absolute;
  left:0px;
  top:0px;
  width:710px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u2115 {
  position:absolute;
  left:195px;
  top:72px;
  width:710px;
  height:40px;
  font-size:16px;
  color:#FFFFFF;
}
#u2116 {
  position:absolute;
  left:2px;
  top:10px;
  width:706px;
  word-wrap:break-word;
}
#u2117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2117 {
  position:absolute;
  left:863px;
  top:77px;
  width:30px;
  height:30px;
}
#u2118 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2119_div {
  position:absolute;
  left:0px;
  top:0px;
  width:710px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u2119 {
  position:absolute;
  left:195px;
  top:709px;
  width:710px;
  height:40px;
  font-size:16px;
  color:#FFFFFF;
}
#u2120 {
  position:absolute;
  left:2px;
  top:10px;
  width:706px;
  word-wrap:break-word;
}
#u2121 {
  position:absolute;
  left:305px;
  top:121px;
  width:105px;
  height:55px;
}
#u2122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u2122 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  font-size:16px;
  color:#000000;
}
#u2123 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u2124_div {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 204, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u2124 {
  position:absolute;
  left:405px;
  top:126px;
  width:380px;
  height:40px;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u2125 {
  position:absolute;
  left:2px;
  top:10px;
  width:376px;
  word-wrap:break-word;
}
#u2126 {
  position:absolute;
  left:310px;
  top:832px;
  width:105px;
  height:55px;
}
#u2127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u2127 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  font-size:16px;
  color:#000000;
}
#u2128 {
  position:absolute;
  left:2px;
  top:17px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2129 {
  position:absolute;
  left:305px;
  top:171px;
  width:105px;
  height:55px;
}
#u2130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u2130 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  font-size:16px;
  color:#000000;
}
#u2131 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u2132_div {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 204, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u2132 {
  position:absolute;
  left:405px;
  top:176px;
  width:380px;
  height:40px;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u2133 {
  position:absolute;
  left:2px;
  top:10px;
  width:376px;
  word-wrap:break-word;
}
#u2134_div {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2134 {
  position:absolute;
  left:7px;
  top:5px;
  width:7px;
  height:40px;
}
#u2135 {
  position:absolute;
  left:2px;
  top:12px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2136 {
  position:absolute;
  left:859px;
  top:942px;
  width:30px;
  height:30px;
}
#u2137 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2136_ann {
  position:absolute;
  left:882px;
  top:938px;
  width:1px;
  height:1px;
}
#u2138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:648px;
  height:232px;
}
#u2138 {
  position:absolute;
  left:211px;
  top:759px;
  width:648px;
  height:232px;
}
#u2139 {
  position:absolute;
  left:2px;
  top:108px;
  width:644px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2140_div {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#666666;
}
#u2140 {
  position:absolute;
  left:443px;
  top:929px;
  width:274px;
  height:55px;
  font-size:14px;
  color:#666666;
}
#u2141 {
  position:absolute;
  left:2px;
  top:20px;
  width:270px;
  word-wrap:break-word;
}
