body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1203px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3311_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1189px;
  height:656px;
}
#u3311 {
  position:absolute;
  left:14px;
  top:55px;
  width:1189px;
  height:656px;
}
#u3312 {
  position:absolute;
  left:2px;
  top:320px;
  width:1185px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3313_div {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3313 {
  position:absolute;
  left:7px;
  top:5px;
  width:7px;
  height:40px;
}
#u3314 {
  position:absolute;
  left:2px;
  top:12px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3315_div {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u3315 {
  position:absolute;
  left:14px;
  top:5px;
  width:310px;
  height:40px;
  font-size:16px;
  text-align:left;
}
#u3316 {
  position:absolute;
  left:2px;
  top:10px;
  width:306px;
  word-wrap:break-word;
}
#u3317 {
  position:absolute;
  left:1129px;
  top:127px;
  width:58px;
  height:511px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
