body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1128px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3967_div {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3967 {
  position:absolute;
  left:7px;
  top:5px;
  width:7px;
  height:40px;
}
#u3968 {
  position:absolute;
  left:2px;
  top:12px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3969_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u3969 {
  position:absolute;
  left:24px;
  top:5px;
  width:300px;
  height:40px;
  font-size:16px;
  text-align:left;
}
#u3970 {
  position:absolute;
  left:2px;
  top:10px;
  width:296px;
  word-wrap:break-word;
}
#u3971_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u3971 {
  position:absolute;
  left:24px;
  top:66px;
  width:99px;
  height:40px;
  font-size:16px;
  color:#FFFFFF;
}
#u3972 {
  position:absolute;
  left:2px;
  top:10px;
  width:95px;
  word-wrap:break-word;
}
#u3973_div {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 204, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u3973 {
  position:absolute;
  left:24px;
  top:116px;
  width:262px;
  height:40px;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u3974 {
  position:absolute;
  left:2px;
  top:10px;
  width:258px;
  word-wrap:break-word;
}
#u3975_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u3975 {
  position:absolute;
  left:252px;
  top:122px;
  width:30px;
  height:30px;
}
#u3976 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3977_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u3977 {
  position:absolute;
  left:30px;
  top:124px;
  width:25px;
  height:25px;
}
#u3978 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3979_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 204, 51, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u3979 {
  position:absolute;
  left:133px;
  top:66px;
  width:99px;
  height:40px;
  font-size:16px;
  color:#FFFFFF;
}
#u3980 {
  position:absolute;
  left:2px;
  top:10px;
  width:95px;
  word-wrap:break-word;
}
#u3981_div {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 204, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u3981 {
  position:absolute;
  left:296px;
  top:117px;
  width:262px;
  height:40px;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u3982 {
  position:absolute;
  left:2px;
  top:10px;
  width:258px;
  word-wrap:break-word;
}
#u3983_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u3983 {
  position:absolute;
  left:524px;
  top:123px;
  width:30px;
  height:30px;
}
#u3984 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3985_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u3985 {
  position:absolute;
  left:302px;
  top:125px;
  width:25px;
  height:25px;
}
#u3986 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3987_div {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 204, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u3987 {
  position:absolute;
  left:568px;
  top:117px;
  width:262px;
  height:40px;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u3988 {
  position:absolute;
  left:2px;
  top:10px;
  width:258px;
  word-wrap:break-word;
}
#u3989_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u3989 {
  position:absolute;
  left:796px;
  top:123px;
  width:30px;
  height:30px;
}
#u3990 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3991_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u3991 {
  position:absolute;
  left:574px;
  top:125px;
  width:25px;
  height:25px;
}
#u3992 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3993_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u3993 {
  position:absolute;
  left:177px;
  top:636px;
  width:30px;
  height:30px;
}
#u3994 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3995_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u3995 {
  position:absolute;
  left:288px;
  top:622px;
  width:101px;
  height:57px;
  font-size:14px;
}
#u3996 {
  position:absolute;
  left:2px;
  top:20px;
  width:97px;
  word-wrap:break-word;
}
#u3997_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u3997 {
  position:absolute;
  left:288px;
  top:753px;
  width:101px;
  height:57px;
  font-size:14px;
}
#u3998 {
  position:absolute;
  left:2px;
  top:20px;
  width:97px;
  word-wrap:break-word;
}
#u3999_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u3999 {
  position:absolute;
  left:442px;
  top:753px;
  width:101px;
  height:57px;
  font-size:14px;
}
#u4000 {
  position:absolute;
  left:2px;
  top:20px;
  width:97px;
  word-wrap:break-word;
}
#u4001_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u4001 {
  position:absolute;
  left:673px;
  top:753px;
  width:101px;
  height:57px;
  font-size:14px;
}
#u4002 {
  position:absolute;
  left:2px;
  top:20px;
  width:97px;
  word-wrap:break-word;
}
#u4003 {
  position:absolute;
  left:207px;
  top:651px;
  width:0px;
  height:0px;
}
#u4003_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:85px;
  height:8px;
}
#u4003_seg1 {
  position:absolute;
  left:68px;
  top:-10px;
  width:20px;
  height:20px;
}
#u4004 {
  position:absolute;
  left:-10px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4005 {
  position:absolute;
  left:339px;
  top:679px;
  width:0px;
  height:0px;
}
#u4005_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:78px;
}
#u4005_seg1 {
  position:absolute;
  left:-10px;
  top:61px;
  width:20px;
  height:20px;
}
#u4006 {
  position:absolute;
  left:-50px;
  top:29px;
  width:100px;
  word-wrap:break-word;
}
#u4007 {
  position:absolute;
  left:389px;
  top:651px;
  width:0px;
  height:0px;
}
#u4007_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:108px;
  height:8px;
}
#u4007_seg1 {
  position:absolute;
  left:100px;
  top:-4px;
  width:8px;
  height:106px;
}
#u4007_seg2 {
  position:absolute;
  left:94px;
  top:89px;
  width:20px;
  height:20px;
}
#u4008 {
  position:absolute;
  left:53px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u4009 {
  position:absolute;
  left:543px;
  top:782px;
  width:0px;
  height:0px;
}
#u4009_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:134px;
  height:8px;
}
#u4009_seg1 {
  position:absolute;
  left:117px;
  top:-10px;
  width:20px;
  height:20px;
}
#u4010 {
  position:absolute;
  left:15px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u4011 {
  position:absolute;
  left:724px;
  top:810px;
  width:0px;
  height:0px;
}
#u4011_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:80px;
}
#u4011_seg1 {
  position:absolute;
  left:-235px;
  top:72px;
  width:239px;
  height:8px;
}
#u4011_seg2 {
  position:absolute;
  left:-235px;
  top:0px;
  width:8px;
  height:80px;
}
#u4011_seg3 {
  position:absolute;
  left:-241px;
  top:-7px;
  width:20px;
  height:20px;
}
#u4012 {
  position:absolute;
  left:-166px;
  top:68px;
  width:100px;
  word-wrap:break-word;
}
#u4013_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u4013 {
  position:absolute;
  left:288px;
  top:868px;
  width:101px;
  height:57px;
  font-size:14px;
}
#u4014 {
  position:absolute;
  left:2px;
  top:20px;
  width:97px;
  word-wrap:break-word;
}
#u4015 {
  position:absolute;
  left:339px;
  top:679px;
  width:0px;
  height:0px;
}
#u4015_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:23px;
}
#u4015_seg1 {
  position:absolute;
  left:-119px;
  top:15px;
  width:123px;
  height:8px;
}
#u4015_seg2 {
  position:absolute;
  left:-119px;
  top:15px;
  width:8px;
  height:207px;
}
#u4015_seg3 {
  position:absolute;
  left:-119px;
  top:214px;
  width:68px;
  height:8px;
}
#u4015_seg4 {
  position:absolute;
  left:-64px;
  top:208px;
  width:20px;
  height:20px;
}
#u4016 {
  position:absolute;
  left:-165px;
  top:76px;
  width:100px;
  word-wrap:break-word;
}
#u4017 {
  position:absolute;
  left:339px;
  top:810px;
  width:0px;
  height:0px;
}
#u4017_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:62px;
}
#u4017_seg1 {
  position:absolute;
  left:-10px;
  top:45px;
  width:20px;
  height:20px;
}
#u4018 {
  position:absolute;
  left:-50px;
  top:21px;
  width:100px;
  word-wrap:break-word;
}
#u4019_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1074px;
  height:399px;
}
#u4019 {
  position:absolute;
  left:24px;
  top:167px;
  width:1074px;
  height:399px;
}
#u4020 {
  position:absolute;
  left:2px;
  top:192px;
  width:1070px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4021_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1128px;
  height:977px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.4);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4021 {
  position:absolute;
  left:0px;
  top:0px;
  width:1128px;
  height:977px;
}
#u4022 {
  position:absolute;
  left:2px;
  top:480px;
  width:1124px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4023_div {
  position:absolute;
  left:0px;
  top:0px;
  width:710px;
  height:320px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4023 {
  position:absolute;
  left:195px;
  top:105px;
  width:710px;
  height:320px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4024 {
  position:absolute;
  left:2px;
  top:152px;
  width:706px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4025_div {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:51px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4025 {
  position:absolute;
  left:202px;
  top:126px;
  width:7px;
  height:51px;
}
#u4026 {
  position:absolute;
  left:2px;
  top:18px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4027_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u4027 {
  position:absolute;
  left:219px;
  top:126px;
  width:300px;
  height:51px;
  font-size:16px;
  text-align:left;
}
#u4028 {
  position:absolute;
  left:2px;
  top:16px;
  width:296px;
  word-wrap:break-word;
}
#u4029_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
}
#u4029 {
  position:absolute;
  left:651px;
  top:302px;
  width:99px;
  height:51px;
  font-size:16px;
  color:#666666;
}
#u4030 {
  position:absolute;
  left:2px;
  top:16px;
  width:95px;
  word-wrap:break-word;
}
#u4031_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:51px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u4031 {
  position:absolute;
  left:760px;
  top:302px;
  width:99px;
  height:51px;
  font-size:16px;
  color:#FFFFFF;
}
#u4032 {
  position:absolute;
  left:2px;
  top:16px;
  width:95px;
  word-wrap:break-word;
}
#u4033_div {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
}
#u4033 {
  position:absolute;
  left:360px;
  top:201px;
  width:380px;
  height:40px;
  font-size:16px;
  color:#000000;
}
#u4034 {
  position:absolute;
  left:2px;
  top:10px;
  width:376px;
  word-wrap:break-word;
}
