body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:395px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5914_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u5914 {
  position:absolute;
  left:20px;
  top:20px;
  width:375px;
  height:667px;
}
#u5915 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5914_ann {
  position:absolute;
  left:388px;
  top:16px;
  width:1px;
  height:1px;
}
#u5916_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u5916 {
  position:absolute;
  left:20px;
  top:20px;
  width:375px;
  height:667px;
}
#u5917 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5916_ann {
  position:absolute;
  left:388px;
  top:16px;
  width:1px;
  height:1px;
}
#u5918_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:24px;
}
#u5918 {
  position:absolute;
  left:176px;
  top:258px;
  width:63px;
  height:24px;
}
#u5919 {
  position:absolute;
  left:2px;
  top:4px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5920 {
  position:absolute;
  left:29px;
  top:96px;
  width:359px;
  height:216px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5920_ann {
  position:absolute;
  left:381px;
  top:92px;
  width:1px;
  height:1px;
}
