body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1171px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2734_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1143px;
  height:425px;
}
#u2734 {
  position:absolute;
  left:14px;
  top:57px;
  width:1143px;
  height:425px;
}
#u2735 {
  position:absolute;
  left:2px;
  top:204px;
  width:1139px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2736_div {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2736 {
  position:absolute;
  left:7px;
  top:5px;
  width:7px;
  height:40px;
}
#u2737 {
  position:absolute;
  left:2px;
  top:12px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2738_div {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u2738 {
  position:absolute;
  left:14px;
  top:5px;
  width:310px;
  height:40px;
  font-size:16px;
  text-align:left;
}
#u2739 {
  position:absolute;
  left:2px;
  top:10px;
  width:306px;
  word-wrap:break-word;
}
#u2740_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1171px;
  height:717px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.4);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2740 {
  position:absolute;
  left:0px;
  top:0px;
  width:1171px;
  height:717px;
}
#u2741 {
  position:absolute;
  left:2px;
  top:350px;
  width:1167px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2742_div {
  position:absolute;
  left:0px;
  top:0px;
  width:710px;
  height:604px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2742 {
  position:absolute;
  left:195px;
  top:83px;
  width:710px;
  height:604px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2743 {
  position:absolute;
  left:2px;
  top:294px;
  width:706px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2744_div {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2744 {
  position:absolute;
  left:202px;
  top:99px;
  width:7px;
  height:40px;
}
#u2745 {
  position:absolute;
  left:2px;
  top:12px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2746_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u2746 {
  position:absolute;
  left:219px;
  top:99px;
  width:300px;
  height:40px;
  font-size:16px;
  text-align:left;
}
#u2747 {
  position:absolute;
  left:2px;
  top:10px;
  width:296px;
  word-wrap:break-word;
}
#u2748_img {
  position:absolute;
  left:0px;
  top:0px;
  width:649px;
  height:442px;
}
#u2748 {
  position:absolute;
  left:226px;
  top:153px;
  width:649px;
  height:442px;
}
#u2749 {
  position:absolute;
  left:2px;
  top:213px;
  width:645px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2750_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
}
#u2750 {
  position:absolute;
  left:667px;
  top:612px;
  width:99px;
  height:51px;
  font-size:16px;
  color:#666666;
}
#u2751 {
  position:absolute;
  left:2px;
  top:16px;
  width:95px;
  word-wrap:break-word;
}
#u2752_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:51px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u2752 {
  position:absolute;
  left:776px;
  top:612px;
  width:99px;
  height:51px;
  font-size:16px;
  color:#FFFFFF;
}
#u2753 {
  position:absolute;
  left:2px;
  top:16px;
  width:95px;
  word-wrap:break-word;
}
