body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:943px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u52 {
  position:absolute;
  left:10px;
  top:10px;
  width:938px;
  height:1593px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:45px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:45px;
  font-size:18px;
  color:#FFFFFF;
}
#u54 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:45px;
}
#u55 {
  position:absolute;
  left:100px;
  top:0px;
  width:137px;
  height:45px;
  font-size:18px;
  color:#FFFFFF;
}
#u56 {
  position:absolute;
  left:2px;
  top:12px;
  width:133px;
  word-wrap:break-word;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:45px;
}
#u57 {
  position:absolute;
  left:237px;
  top:0px;
  width:296px;
  height:45px;
  font-size:18px;
  color:#FFFFFF;
}
#u58 {
  position:absolute;
  left:2px;
  top:12px;
  width:292px;
  word-wrap:break-word;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:45px;
}
#u59 {
  position:absolute;
  left:533px;
  top:0px;
  width:400px;
  height:45px;
  font-size:18px;
  color:#FFFFFF;
}
#u60 {
  position:absolute;
  left:2px;
  top:12px;
  width:396px;
  word-wrap:break-word;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u61 {
  position:absolute;
  left:0px;
  top:45px;
  width:100px;
  height:100px;
  color:#6B6B6B;
}
#u62 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  word-wrap:break-word;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:100px;
}
#u63 {
  position:absolute;
  left:100px;
  top:45px;
  width:137px;
  height:100px;
  color:#6B6B6B;
}
#u64 {
  position:absolute;
  left:2px;
  top:42px;
  width:133px;
  word-wrap:break-word;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:100px;
}
#u65 {
  position:absolute;
  left:237px;
  top:45px;
  width:296px;
  height:100px;
  color:#6B6B6B;
}
#u66 {
  position:absolute;
  left:2px;
  top:42px;
  width:292px;
  word-wrap:break-word;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:100px;
}
#u67 {
  position:absolute;
  left:533px;
  top:45px;
  width:400px;
  height:100px;
  color:#6B6B6B;
  text-align:left;
}
#u68 {
  position:absolute;
  left:2px;
  top:2px;
  width:396px;
  word-wrap:break-word;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:58px;
}
#u69 {
  position:absolute;
  left:0px;
  top:145px;
  width:100px;
  height:58px;
  color:#6B6B6B;
}
#u70 {
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:58px;
}
#u71 {
  position:absolute;
  left:100px;
  top:145px;
  width:137px;
  height:58px;
  color:#6B6B6B;
}
#u72 {
  position:absolute;
  left:2px;
  top:21px;
  width:133px;
  word-wrap:break-word;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:58px;
}
#u73 {
  position:absolute;
  left:237px;
  top:145px;
  width:296px;
  height:58px;
  color:#6B6B6B;
}
#u74 {
  position:absolute;
  left:2px;
  top:21px;
  width:292px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:58px;
}
#u75 {
  position:absolute;
  left:533px;
  top:145px;
  width:400px;
  height:58px;
  color:#6B6B6B;
  text-align:left;
}
#u76 {
  position:absolute;
  left:2px;
  top:5px;
  width:396px;
  word-wrap:break-word;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:57px;
}
#u77 {
  position:absolute;
  left:0px;
  top:203px;
  width:100px;
  height:57px;
  color:#6B6B6B;
}
#u78 {
  position:absolute;
  left:2px;
  top:20px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:57px;
}
#u79 {
  position:absolute;
  left:100px;
  top:203px;
  width:137px;
  height:57px;
  color:#6B6B6B;
}
#u80 {
  position:absolute;
  left:2px;
  top:20px;
  width:133px;
  word-wrap:break-word;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:57px;
}
#u81 {
  position:absolute;
  left:237px;
  top:203px;
  width:296px;
  height:57px;
  color:#6B6B6B;
}
#u82 {
  position:absolute;
  left:2px;
  top:20px;
  width:292px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:57px;
}
#u83 {
  position:absolute;
  left:533px;
  top:203px;
  width:400px;
  height:57px;
  color:#6B6B6B;
  text-align:left;
}
#u84 {
  position:absolute;
  left:2px;
  top:4px;
  width:396px;
  word-wrap:break-word;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
}
#u85 {
  position:absolute;
  left:0px;
  top:260px;
  width:100px;
  height:80px;
  color:#6B6B6B;
}
#u86 {
  position:absolute;
  left:2px;
  top:32px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:80px;
}
#u87 {
  position:absolute;
  left:100px;
  top:260px;
  width:137px;
  height:80px;
  color:#6B6B6B;
}
#u88 {
  position:absolute;
  left:2px;
  top:32px;
  width:133px;
  word-wrap:break-word;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:80px;
}
#u89 {
  position:absolute;
  left:237px;
  top:260px;
  width:296px;
  height:80px;
  color:#6B6B6B;
}
#u90 {
  position:absolute;
  left:2px;
  top:32px;
  width:292px;
  word-wrap:break-word;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:80px;
}
#u91 {
  position:absolute;
  left:533px;
  top:260px;
  width:400px;
  height:80px;
  color:#6B6B6B;
  text-align:left;
}
#u92 {
  position:absolute;
  left:2px;
  top:8px;
  width:396px;
  word-wrap:break-word;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
}
#u93 {
  position:absolute;
  left:0px;
  top:340px;
  width:100px;
  height:80px;
  color:#6B6B6B;
}
#u94 {
  position:absolute;
  left:2px;
  top:32px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:80px;
}
#u95 {
  position:absolute;
  left:100px;
  top:340px;
  width:137px;
  height:80px;
  color:#6B6B6B;
}
#u96 {
  position:absolute;
  left:2px;
  top:32px;
  width:133px;
  word-wrap:break-word;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:80px;
}
#u97 {
  position:absolute;
  left:237px;
  top:340px;
  width:296px;
  height:80px;
  color:#6B6B6B;
}
#u98 {
  position:absolute;
  left:2px;
  top:32px;
  width:292px;
  word-wrap:break-word;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:80px;
}
#u99 {
  position:absolute;
  left:533px;
  top:340px;
  width:400px;
  height:80px;
  color:#6B6B6B;
  text-align:left;
}
#u100 {
  position:absolute;
  left:2px;
  top:8px;
  width:396px;
  word-wrap:break-word;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:163px;
}
#u101 {
  position:absolute;
  left:0px;
  top:420px;
  width:100px;
  height:163px;
  color:#6B6B6B;
}
#u102 {
  position:absolute;
  left:2px;
  top:74px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:163px;
}
#u103 {
  position:absolute;
  left:100px;
  top:420px;
  width:137px;
  height:163px;
  color:#6B6B6B;
}
#u104 {
  position:absolute;
  left:2px;
  top:74px;
  width:133px;
  word-wrap:break-word;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:163px;
}
#u105 {
  position:absolute;
  left:237px;
  top:420px;
  width:296px;
  height:163px;
  color:#6B6B6B;
}
#u106 {
  position:absolute;
  left:2px;
  top:74px;
  width:292px;
  word-wrap:break-word;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:163px;
}
#u107 {
  position:absolute;
  left:533px;
  top:420px;
  width:400px;
  height:163px;
  color:#6B6B6B;
  text-align:left;
}
#u108 {
  position:absolute;
  left:2px;
  top:10px;
  width:396px;
  word-wrap:break-word;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:96px;
}
#u109 {
  position:absolute;
  left:0px;
  top:583px;
  width:100px;
  height:96px;
  color:#6B6B6B;
}
#u110 {
  position:absolute;
  left:2px;
  top:40px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:96px;
}
#u111 {
  position:absolute;
  left:100px;
  top:583px;
  width:137px;
  height:96px;
  color:#6B6B6B;
}
#u112 {
  position:absolute;
  left:2px;
  top:40px;
  width:133px;
  word-wrap:break-word;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:96px;
}
#u113 {
  position:absolute;
  left:237px;
  top:583px;
  width:296px;
  height:96px;
  color:#6B6B6B;
}
#u114 {
  position:absolute;
  left:2px;
  top:32px;
  width:292px;
  word-wrap:break-word;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:96px;
}
#u115 {
  position:absolute;
  left:533px;
  top:583px;
  width:400px;
  height:96px;
  color:#6B6B6B;
  text-align:left;
}
#u116 {
  position:absolute;
  left:2px;
  top:8px;
  width:396px;
  word-wrap:break-word;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:70px;
}
#u117 {
  position:absolute;
  left:0px;
  top:679px;
  width:100px;
  height:70px;
  color:#6B6B6B;
}
#u118 {
  position:absolute;
  left:2px;
  top:27px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:70px;
}
#u119 {
  position:absolute;
  left:100px;
  top:679px;
  width:137px;
  height:70px;
  color:#6B6B6B;
}
#u120 {
  position:absolute;
  left:2px;
  top:27px;
  width:133px;
  word-wrap:break-word;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:70px;
}
#u121 {
  position:absolute;
  left:237px;
  top:679px;
  width:296px;
  height:70px;
  color:#6B6B6B;
}
#u122 {
  position:absolute;
  left:2px;
  top:27px;
  width:292px;
  word-wrap:break-word;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:70px;
}
#u123 {
  position:absolute;
  left:533px;
  top:679px;
  width:400px;
  height:70px;
  color:#6B6B6B;
  text-align:left;
}
#u124 {
  position:absolute;
  left:2px;
  top:11px;
  width:396px;
  word-wrap:break-word;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:70px;
}
#u125 {
  position:absolute;
  left:0px;
  top:749px;
  width:100px;
  height:70px;
  color:#6B6B6B;
}
#u126 {
  position:absolute;
  left:2px;
  top:27px;
  width:96px;
  word-wrap:break-word;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:70px;
}
#u127 {
  position:absolute;
  left:100px;
  top:749px;
  width:137px;
  height:70px;
  color:#6B6B6B;
}
#u128 {
  position:absolute;
  left:2px;
  top:27px;
  width:133px;
  word-wrap:break-word;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:70px;
}
#u129 {
  position:absolute;
  left:237px;
  top:749px;
  width:296px;
  height:70px;
  color:#6B6B6B;
}
#u130 {
  position:absolute;
  left:2px;
  top:27px;
  width:292px;
  word-wrap:break-word;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:70px;
}
#u131 {
  position:absolute;
  left:533px;
  top:749px;
  width:400px;
  height:70px;
  color:#6B6B6B;
  text-align:left;
}
#u132 {
  position:absolute;
  left:2px;
  top:27px;
  width:396px;
  word-wrap:break-word;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:70px;
}
#u133 {
  position:absolute;
  left:0px;
  top:819px;
  width:100px;
  height:70px;
  color:#6B6B6B;
}
#u134 {
  position:absolute;
  left:2px;
  top:27px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:70px;
}
#u135 {
  position:absolute;
  left:100px;
  top:819px;
  width:137px;
  height:70px;
  color:#6B6B6B;
}
#u136 {
  position:absolute;
  left:2px;
  top:27px;
  width:133px;
  word-wrap:break-word;
}
#u137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:70px;
}
#u137 {
  position:absolute;
  left:237px;
  top:819px;
  width:296px;
  height:70px;
  color:#6B6B6B;
}
#u138 {
  position:absolute;
  left:2px;
  top:27px;
  width:292px;
  word-wrap:break-word;
}
#u139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:70px;
}
#u139 {
  position:absolute;
  left:533px;
  top:819px;
  width:400px;
  height:70px;
  color:#6B6B6B;
  text-align:left;
}
#u140 {
  position:absolute;
  left:2px;
  top:11px;
  width:396px;
  word-wrap:break-word;
}
#u141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:161px;
}
#u141 {
  position:absolute;
  left:0px;
  top:889px;
  width:100px;
  height:161px;
  color:#6B6B6B;
}
#u142 {
  position:absolute;
  left:2px;
  top:72px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:161px;
}
#u143 {
  position:absolute;
  left:100px;
  top:889px;
  width:137px;
  height:161px;
  color:#6B6B6B;
}
#u144 {
  position:absolute;
  left:2px;
  top:72px;
  width:133px;
  word-wrap:break-word;
}
#u145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:161px;
}
#u145 {
  position:absolute;
  left:237px;
  top:889px;
  width:296px;
  height:161px;
  color:#6B6B6B;
}
#u146 {
  position:absolute;
  left:2px;
  top:72px;
  width:292px;
  word-wrap:break-word;
}
#u147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:161px;
}
#u147 {
  position:absolute;
  left:533px;
  top:889px;
  width:400px;
  height:161px;
  color:#6B6B6B;
  text-align:left;
}
#u148 {
  position:absolute;
  left:2px;
  top:16px;
  width:396px;
  word-wrap:break-word;
}
#u149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:70px;
}
#u149 {
  position:absolute;
  left:0px;
  top:1050px;
  width:100px;
  height:70px;
  color:#6B6B6B;
}
#u150 {
  position:absolute;
  left:2px;
  top:27px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:70px;
}
#u151 {
  position:absolute;
  left:100px;
  top:1050px;
  width:137px;
  height:70px;
  color:#6B6B6B;
}
#u152 {
  position:absolute;
  left:2px;
  top:27px;
  width:133px;
  word-wrap:break-word;
}
#u153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:70px;
}
#u153 {
  position:absolute;
  left:237px;
  top:1050px;
  width:296px;
  height:70px;
  color:#6B6B6B;
}
#u154 {
  position:absolute;
  left:2px;
  top:27px;
  width:292px;
  word-wrap:break-word;
}
#u155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:70px;
}
#u155 {
  position:absolute;
  left:533px;
  top:1050px;
  width:400px;
  height:70px;
  color:#6B6B6B;
  text-align:left;
}
#u156 {
  position:absolute;
  left:2px;
  top:11px;
  width:396px;
  word-wrap:break-word;
}
#u157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:180px;
}
#u157 {
  position:absolute;
  left:0px;
  top:1120px;
  width:100px;
  height:180px;
  color:#6B6B6B;
}
#u158 {
  position:absolute;
  left:2px;
  top:82px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:180px;
}
#u159 {
  position:absolute;
  left:100px;
  top:1120px;
  width:137px;
  height:180px;
  color:#6B6B6B;
}
#u160 {
  position:absolute;
  left:2px;
  top:82px;
  width:133px;
  word-wrap:break-word;
}
#u161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:180px;
}
#u161 {
  position:absolute;
  left:237px;
  top:1120px;
  width:296px;
  height:180px;
  color:#6B6B6B;
}
#u162 {
  position:absolute;
  left:2px;
  top:82px;
  width:292px;
  word-wrap:break-word;
}
#u163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:180px;
}
#u163 {
  position:absolute;
  left:533px;
  top:1120px;
  width:400px;
  height:180px;
  color:#6B6B6B;
  text-align:left;
}
#u164 {
  position:absolute;
  left:2px;
  top:2px;
  width:396px;
  word-wrap:break-word;
}
#u165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:70px;
}
#u165 {
  position:absolute;
  left:0px;
  top:1300px;
  width:100px;
  height:70px;
  color:#6B6B6B;
}
#u166 {
  position:absolute;
  left:2px;
  top:27px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:70px;
}
#u167 {
  position:absolute;
  left:100px;
  top:1300px;
  width:137px;
  height:70px;
  color:#6B6B6B;
}
#u168 {
  position:absolute;
  left:2px;
  top:27px;
  width:133px;
  word-wrap:break-word;
}
#u169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:70px;
}
#u169 {
  position:absolute;
  left:237px;
  top:1300px;
  width:296px;
  height:70px;
  color:#6B6B6B;
}
#u170 {
  position:absolute;
  left:2px;
  top:19px;
  width:292px;
  word-wrap:break-word;
}
#u171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:70px;
}
#u171 {
  position:absolute;
  left:533px;
  top:1300px;
  width:400px;
  height:70px;
  color:#6B6B6B;
  text-align:left;
}
#u172 {
  position:absolute;
  left:2px;
  top:19px;
  width:396px;
  word-wrap:break-word;
}
#u173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:148px;
}
#u173 {
  position:absolute;
  left:0px;
  top:1370px;
  width:100px;
  height:148px;
  color:#6B6B6B;
}
#u174 {
  position:absolute;
  left:2px;
  top:66px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:148px;
}
#u175 {
  position:absolute;
  left:100px;
  top:1370px;
  width:137px;
  height:148px;
  color:#6B6B6B;
}
#u176 {
  position:absolute;
  left:2px;
  top:66px;
  width:133px;
  word-wrap:break-word;
}
#u177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:148px;
}
#u177 {
  position:absolute;
  left:237px;
  top:1370px;
  width:296px;
  height:148px;
  color:#6B6B6B;
}
#u178 {
  position:absolute;
  left:2px;
  top:66px;
  width:292px;
  word-wrap:break-word;
}
#u179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:148px;
}
#u179 {
  position:absolute;
  left:533px;
  top:1370px;
  width:400px;
  height:148px;
  color:#6B6B6B;
  text-align:left;
}
#u180 {
  position:absolute;
  left:2px;
  top:2px;
  width:396px;
  word-wrap:break-word;
}
#u181_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:70px;
}
#u181 {
  position:absolute;
  left:0px;
  top:1518px;
  width:100px;
  height:70px;
  color:#6B6B6B;
}
#u182 {
  position:absolute;
  left:2px;
  top:27px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u183_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:70px;
}
#u183 {
  position:absolute;
  left:100px;
  top:1518px;
  width:137px;
  height:70px;
  color:#6B6B6B;
}
#u184 {
  position:absolute;
  left:2px;
  top:27px;
  width:133px;
  word-wrap:break-word;
}
#u185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:70px;
}
#u185 {
  position:absolute;
  left:237px;
  top:1518px;
  width:296px;
  height:70px;
  color:#6B6B6B;
}
#u186 {
  position:absolute;
  left:2px;
  top:27px;
  width:292px;
  word-wrap:break-word;
}
#u187_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:70px;
}
#u187 {
  position:absolute;
  left:533px;
  top:1518px;
  width:400px;
  height:70px;
  color:#6B6B6B;
  text-align:left;
}
#u188 {
  position:absolute;
  left:2px;
  top:3px;
  width:396px;
  word-wrap:break-word;
}
#u189 {
  position:absolute;
  left:10px;
  top:55px;
  width:106px;
  height:709px;
}
#u190_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:704px;
}
#u190 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:704px;
  color:#6B6B6B;
}
#u191 {
  position:absolute;
  left:2px;
  top:344px;
  width:97px;
  word-wrap:break-word;
}
#u192 {
  position:absolute;
  left:10px;
  top:758px;
  width:106px;
  height:627px;
}
#u193_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:622px;
}
#u193 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:622px;
  color:#6B6B6B;
}
#u194 {
  position:absolute;
  left:2px;
  top:303px;
  width:97px;
  word-wrap:break-word;
}
#u195 {
  position:absolute;
  left:10px;
  top:1378px;
  width:106px;
  height:225px;
}
#u196_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:220px;
}
#u196 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:220px;
  color:#6B6B6B;
}
#u197 {
  position:absolute;
  left:2px;
  top:102px;
  width:97px;
  word-wrap:break-word;
}
