body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:943px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:10px;
  width:938px;
  height:1593px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:45px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:45px;
  font-size:18px;
  color:#FFFFFF;
}
#u2 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:45px;
}
#u3 {
  position:absolute;
  left:100px;
  top:0px;
  width:137px;
  height:45px;
  font-size:18px;
  color:#FFFFFF;
}
#u4 {
  position:absolute;
  left:2px;
  top:12px;
  width:133px;
  word-wrap:break-word;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:45px;
}
#u5 {
  position:absolute;
  left:237px;
  top:0px;
  width:296px;
  height:45px;
  font-size:18px;
  color:#FFFFFF;
}
#u6 {
  position:absolute;
  left:2px;
  top:12px;
  width:292px;
  word-wrap:break-word;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:45px;
}
#u7 {
  position:absolute;
  left:533px;
  top:0px;
  width:400px;
  height:45px;
  font-size:18px;
  color:#FFFFFF;
}
#u8 {
  position:absolute;
  left:2px;
  top:12px;
  width:396px;
  word-wrap:break-word;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u9 {
  position:absolute;
  left:0px;
  top:45px;
  width:100px;
  height:100px;
  color:#6B6B6B;
}
#u10 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  word-wrap:break-word;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:100px;
}
#u11 {
  position:absolute;
  left:100px;
  top:45px;
  width:137px;
  height:100px;
  color:#6B6B6B;
}
#u12 {
  position:absolute;
  left:2px;
  top:42px;
  width:133px;
  word-wrap:break-word;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:100px;
}
#u13 {
  position:absolute;
  left:237px;
  top:45px;
  width:296px;
  height:100px;
  color:#6B6B6B;
}
#u14 {
  position:absolute;
  left:2px;
  top:42px;
  width:292px;
  word-wrap:break-word;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:100px;
}
#u15 {
  position:absolute;
  left:533px;
  top:45px;
  width:400px;
  height:100px;
  color:#6B6B6B;
  text-align:left;
}
#u16 {
  position:absolute;
  left:2px;
  top:2px;
  width:396px;
  word-wrap:break-word;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:58px;
}
#u17 {
  position:absolute;
  left:0px;
  top:145px;
  width:100px;
  height:58px;
  color:#6B6B6B;
}
#u18 {
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:58px;
}
#u19 {
  position:absolute;
  left:100px;
  top:145px;
  width:137px;
  height:58px;
  color:#6B6B6B;
}
#u20 {
  position:absolute;
  left:2px;
  top:21px;
  width:133px;
  word-wrap:break-word;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:58px;
}
#u21 {
  position:absolute;
  left:237px;
  top:145px;
  width:296px;
  height:58px;
  color:#6B6B6B;
}
#u22 {
  position:absolute;
  left:2px;
  top:21px;
  width:292px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:58px;
}
#u23 {
  position:absolute;
  left:533px;
  top:145px;
  width:400px;
  height:58px;
  color:#6B6B6B;
  text-align:left;
}
#u24 {
  position:absolute;
  left:2px;
  top:5px;
  width:396px;
  word-wrap:break-word;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:57px;
}
#u25 {
  position:absolute;
  left:0px;
  top:203px;
  width:100px;
  height:57px;
  color:#6B6B6B;
}
#u26 {
  position:absolute;
  left:2px;
  top:20px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:57px;
}
#u27 {
  position:absolute;
  left:100px;
  top:203px;
  width:137px;
  height:57px;
  color:#6B6B6B;
}
#u28 {
  position:absolute;
  left:2px;
  top:20px;
  width:133px;
  word-wrap:break-word;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:57px;
}
#u29 {
  position:absolute;
  left:237px;
  top:203px;
  width:296px;
  height:57px;
  color:#6B6B6B;
}
#u30 {
  position:absolute;
  left:2px;
  top:20px;
  width:292px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:57px;
}
#u31 {
  position:absolute;
  left:533px;
  top:203px;
  width:400px;
  height:57px;
  color:#6B6B6B;
  text-align:left;
}
#u32 {
  position:absolute;
  left:2px;
  top:4px;
  width:396px;
  word-wrap:break-word;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
}
#u33 {
  position:absolute;
  left:0px;
  top:260px;
  width:100px;
  height:80px;
  color:#6B6B6B;
}
#u34 {
  position:absolute;
  left:2px;
  top:32px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:80px;
}
#u35 {
  position:absolute;
  left:100px;
  top:260px;
  width:137px;
  height:80px;
  color:#6B6B6B;
}
#u36 {
  position:absolute;
  left:2px;
  top:32px;
  width:133px;
  word-wrap:break-word;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:80px;
}
#u37 {
  position:absolute;
  left:237px;
  top:260px;
  width:296px;
  height:80px;
  color:#6B6B6B;
}
#u38 {
  position:absolute;
  left:2px;
  top:32px;
  width:292px;
  word-wrap:break-word;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:80px;
}
#u39 {
  position:absolute;
  left:533px;
  top:260px;
  width:400px;
  height:80px;
  color:#6B6B6B;
  text-align:left;
}
#u40 {
  position:absolute;
  left:2px;
  top:8px;
  width:396px;
  word-wrap:break-word;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
}
#u41 {
  position:absolute;
  left:0px;
  top:340px;
  width:100px;
  height:80px;
  color:#6B6B6B;
}
#u42 {
  position:absolute;
  left:2px;
  top:32px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:80px;
}
#u43 {
  position:absolute;
  left:100px;
  top:340px;
  width:137px;
  height:80px;
  color:#6B6B6B;
}
#u44 {
  position:absolute;
  left:2px;
  top:32px;
  width:133px;
  word-wrap:break-word;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:80px;
}
#u45 {
  position:absolute;
  left:237px;
  top:340px;
  width:296px;
  height:80px;
  color:#6B6B6B;
}
#u46 {
  position:absolute;
  left:2px;
  top:32px;
  width:292px;
  word-wrap:break-word;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:80px;
}
#u47 {
  position:absolute;
  left:533px;
  top:340px;
  width:400px;
  height:80px;
  color:#6B6B6B;
  text-align:left;
}
#u48 {
  position:absolute;
  left:2px;
  top:8px;
  width:396px;
  word-wrap:break-word;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:163px;
}
#u49 {
  position:absolute;
  left:0px;
  top:420px;
  width:100px;
  height:163px;
  color:#6B6B6B;
}
#u50 {
  position:absolute;
  left:2px;
  top:74px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:163px;
}
#u51 {
  position:absolute;
  left:100px;
  top:420px;
  width:137px;
  height:163px;
  color:#6B6B6B;
}
#u52 {
  position:absolute;
  left:2px;
  top:74px;
  width:133px;
  word-wrap:break-word;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:163px;
}
#u53 {
  position:absolute;
  left:237px;
  top:420px;
  width:296px;
  height:163px;
  color:#6B6B6B;
}
#u54 {
  position:absolute;
  left:2px;
  top:74px;
  width:292px;
  word-wrap:break-word;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:163px;
}
#u55 {
  position:absolute;
  left:533px;
  top:420px;
  width:400px;
  height:163px;
  color:#6B6B6B;
  text-align:left;
}
#u56 {
  position:absolute;
  left:2px;
  top:10px;
  width:396px;
  word-wrap:break-word;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:96px;
}
#u57 {
  position:absolute;
  left:0px;
  top:583px;
  width:100px;
  height:96px;
  color:#6B6B6B;
}
#u58 {
  position:absolute;
  left:2px;
  top:40px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:96px;
}
#u59 {
  position:absolute;
  left:100px;
  top:583px;
  width:137px;
  height:96px;
  color:#6B6B6B;
}
#u60 {
  position:absolute;
  left:2px;
  top:40px;
  width:133px;
  word-wrap:break-word;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:96px;
}
#u61 {
  position:absolute;
  left:237px;
  top:583px;
  width:296px;
  height:96px;
  color:#6B6B6B;
}
#u62 {
  position:absolute;
  left:2px;
  top:32px;
  width:292px;
  word-wrap:break-word;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:96px;
}
#u63 {
  position:absolute;
  left:533px;
  top:583px;
  width:400px;
  height:96px;
  color:#6B6B6B;
  text-align:left;
}
#u64 {
  position:absolute;
  left:2px;
  top:8px;
  width:396px;
  word-wrap:break-word;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:70px;
}
#u65 {
  position:absolute;
  left:0px;
  top:679px;
  width:100px;
  height:70px;
  color:#6B6B6B;
}
#u66 {
  position:absolute;
  left:2px;
  top:27px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:70px;
}
#u67 {
  position:absolute;
  left:100px;
  top:679px;
  width:137px;
  height:70px;
  color:#6B6B6B;
}
#u68 {
  position:absolute;
  left:2px;
  top:27px;
  width:133px;
  word-wrap:break-word;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:70px;
}
#u69 {
  position:absolute;
  left:237px;
  top:679px;
  width:296px;
  height:70px;
  color:#6B6B6B;
}
#u70 {
  position:absolute;
  left:2px;
  top:27px;
  width:292px;
  word-wrap:break-word;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:70px;
}
#u71 {
  position:absolute;
  left:533px;
  top:679px;
  width:400px;
  height:70px;
  color:#6B6B6B;
  text-align:left;
}
#u72 {
  position:absolute;
  left:2px;
  top:11px;
  width:396px;
  word-wrap:break-word;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:70px;
}
#u73 {
  position:absolute;
  left:0px;
  top:749px;
  width:100px;
  height:70px;
  color:#6B6B6B;
}
#u74 {
  position:absolute;
  left:2px;
  top:27px;
  width:96px;
  word-wrap:break-word;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:70px;
}
#u75 {
  position:absolute;
  left:100px;
  top:749px;
  width:137px;
  height:70px;
  color:#6B6B6B;
}
#u76 {
  position:absolute;
  left:2px;
  top:27px;
  width:133px;
  word-wrap:break-word;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:70px;
}
#u77 {
  position:absolute;
  left:237px;
  top:749px;
  width:296px;
  height:70px;
  color:#6B6B6B;
}
#u78 {
  position:absolute;
  left:2px;
  top:27px;
  width:292px;
  word-wrap:break-word;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:70px;
}
#u79 {
  position:absolute;
  left:533px;
  top:749px;
  width:400px;
  height:70px;
  color:#6B6B6B;
  text-align:left;
}
#u80 {
  position:absolute;
  left:2px;
  top:27px;
  width:396px;
  word-wrap:break-word;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:70px;
}
#u81 {
  position:absolute;
  left:0px;
  top:819px;
  width:100px;
  height:70px;
  color:#6B6B6B;
}
#u82 {
  position:absolute;
  left:2px;
  top:27px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:70px;
}
#u83 {
  position:absolute;
  left:100px;
  top:819px;
  width:137px;
  height:70px;
  color:#6B6B6B;
}
#u84 {
  position:absolute;
  left:2px;
  top:27px;
  width:133px;
  word-wrap:break-word;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:70px;
}
#u85 {
  position:absolute;
  left:237px;
  top:819px;
  width:296px;
  height:70px;
  color:#6B6B6B;
}
#u86 {
  position:absolute;
  left:2px;
  top:27px;
  width:292px;
  word-wrap:break-word;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:70px;
}
#u87 {
  position:absolute;
  left:533px;
  top:819px;
  width:400px;
  height:70px;
  color:#6B6B6B;
  text-align:left;
}
#u88 {
  position:absolute;
  left:2px;
  top:11px;
  width:396px;
  word-wrap:break-word;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:161px;
}
#u89 {
  position:absolute;
  left:0px;
  top:889px;
  width:100px;
  height:161px;
  color:#6B6B6B;
}
#u90 {
  position:absolute;
  left:2px;
  top:72px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:161px;
}
#u91 {
  position:absolute;
  left:100px;
  top:889px;
  width:137px;
  height:161px;
  color:#6B6B6B;
}
#u92 {
  position:absolute;
  left:2px;
  top:72px;
  width:133px;
  word-wrap:break-word;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:161px;
}
#u93 {
  position:absolute;
  left:237px;
  top:889px;
  width:296px;
  height:161px;
  color:#6B6B6B;
}
#u94 {
  position:absolute;
  left:2px;
  top:72px;
  width:292px;
  word-wrap:break-word;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:161px;
}
#u95 {
  position:absolute;
  left:533px;
  top:889px;
  width:400px;
  height:161px;
  color:#6B6B6B;
  text-align:left;
}
#u96 {
  position:absolute;
  left:2px;
  top:16px;
  width:396px;
  word-wrap:break-word;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:70px;
}
#u97 {
  position:absolute;
  left:0px;
  top:1050px;
  width:100px;
  height:70px;
  color:#6B6B6B;
}
#u98 {
  position:absolute;
  left:2px;
  top:27px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:70px;
}
#u99 {
  position:absolute;
  left:100px;
  top:1050px;
  width:137px;
  height:70px;
  color:#6B6B6B;
}
#u100 {
  position:absolute;
  left:2px;
  top:27px;
  width:133px;
  word-wrap:break-word;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:70px;
}
#u101 {
  position:absolute;
  left:237px;
  top:1050px;
  width:296px;
  height:70px;
  color:#6B6B6B;
}
#u102 {
  position:absolute;
  left:2px;
  top:27px;
  width:292px;
  word-wrap:break-word;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:70px;
}
#u103 {
  position:absolute;
  left:533px;
  top:1050px;
  width:400px;
  height:70px;
  color:#6B6B6B;
  text-align:left;
}
#u104 {
  position:absolute;
  left:2px;
  top:11px;
  width:396px;
  word-wrap:break-word;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:180px;
}
#u105 {
  position:absolute;
  left:0px;
  top:1120px;
  width:100px;
  height:180px;
  color:#6B6B6B;
}
#u106 {
  position:absolute;
  left:2px;
  top:82px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:180px;
}
#u107 {
  position:absolute;
  left:100px;
  top:1120px;
  width:137px;
  height:180px;
  color:#6B6B6B;
}
#u108 {
  position:absolute;
  left:2px;
  top:82px;
  width:133px;
  word-wrap:break-word;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:180px;
}
#u109 {
  position:absolute;
  left:237px;
  top:1120px;
  width:296px;
  height:180px;
  color:#6B6B6B;
}
#u110 {
  position:absolute;
  left:2px;
  top:82px;
  width:292px;
  word-wrap:break-word;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:180px;
}
#u111 {
  position:absolute;
  left:533px;
  top:1120px;
  width:400px;
  height:180px;
  color:#6B6B6B;
  text-align:left;
}
#u112 {
  position:absolute;
  left:2px;
  top:2px;
  width:396px;
  word-wrap:break-word;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:70px;
}
#u113 {
  position:absolute;
  left:0px;
  top:1300px;
  width:100px;
  height:70px;
  color:#6B6B6B;
}
#u114 {
  position:absolute;
  left:2px;
  top:27px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:70px;
}
#u115 {
  position:absolute;
  left:100px;
  top:1300px;
  width:137px;
  height:70px;
  color:#6B6B6B;
}
#u116 {
  position:absolute;
  left:2px;
  top:27px;
  width:133px;
  word-wrap:break-word;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:70px;
}
#u117 {
  position:absolute;
  left:237px;
  top:1300px;
  width:296px;
  height:70px;
  color:#6B6B6B;
}
#u118 {
  position:absolute;
  left:2px;
  top:19px;
  width:292px;
  word-wrap:break-word;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:70px;
}
#u119 {
  position:absolute;
  left:533px;
  top:1300px;
  width:400px;
  height:70px;
  color:#6B6B6B;
  text-align:left;
}
#u120 {
  position:absolute;
  left:2px;
  top:19px;
  width:396px;
  word-wrap:break-word;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:148px;
}
#u121 {
  position:absolute;
  left:0px;
  top:1370px;
  width:100px;
  height:148px;
  color:#6B6B6B;
}
#u122 {
  position:absolute;
  left:2px;
  top:66px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:148px;
}
#u123 {
  position:absolute;
  left:100px;
  top:1370px;
  width:137px;
  height:148px;
  color:#6B6B6B;
}
#u124 {
  position:absolute;
  left:2px;
  top:66px;
  width:133px;
  word-wrap:break-word;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:148px;
}
#u125 {
  position:absolute;
  left:237px;
  top:1370px;
  width:296px;
  height:148px;
  color:#6B6B6B;
}
#u126 {
  position:absolute;
  left:2px;
  top:66px;
  width:292px;
  word-wrap:break-word;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:148px;
}
#u127 {
  position:absolute;
  left:533px;
  top:1370px;
  width:400px;
  height:148px;
  color:#6B6B6B;
  text-align:left;
}
#u128 {
  position:absolute;
  left:2px;
  top:2px;
  width:396px;
  word-wrap:break-word;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:70px;
}
#u129 {
  position:absolute;
  left:0px;
  top:1518px;
  width:100px;
  height:70px;
  color:#6B6B6B;
}
#u130 {
  position:absolute;
  left:2px;
  top:27px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:70px;
}
#u131 {
  position:absolute;
  left:100px;
  top:1518px;
  width:137px;
  height:70px;
  color:#6B6B6B;
}
#u132 {
  position:absolute;
  left:2px;
  top:27px;
  width:133px;
  word-wrap:break-word;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:70px;
}
#u133 {
  position:absolute;
  left:237px;
  top:1518px;
  width:296px;
  height:70px;
  color:#6B6B6B;
}
#u134 {
  position:absolute;
  left:2px;
  top:27px;
  width:292px;
  word-wrap:break-word;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:70px;
}
#u135 {
  position:absolute;
  left:533px;
  top:1518px;
  width:400px;
  height:70px;
  color:#6B6B6B;
  text-align:left;
}
#u136 {
  position:absolute;
  left:2px;
  top:3px;
  width:396px;
  word-wrap:break-word;
}
#u137 {
  position:absolute;
  left:10px;
  top:55px;
  width:106px;
  height:709px;
}
#u138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:704px;
}
#u138 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:704px;
  color:#6B6B6B;
}
#u139 {
  position:absolute;
  left:2px;
  top:344px;
  width:97px;
  word-wrap:break-word;
}
#u140 {
  position:absolute;
  left:10px;
  top:758px;
  width:106px;
  height:627px;
}
#u141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:622px;
}
#u141 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:622px;
  color:#6B6B6B;
}
#u142 {
  position:absolute;
  left:2px;
  top:303px;
  width:97px;
  word-wrap:break-word;
}
#u143 {
  position:absolute;
  left:10px;
  top:1378px;
  width:106px;
  height:225px;
}
#u144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:220px;
}
#u144 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:220px;
  color:#6B6B6B;
}
#u145 {
  position:absolute;
  left:2px;
  top:102px;
  width:97px;
  word-wrap:break-word;
}
