body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:395px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5654_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5654 {
  position:absolute;
  left:20px;
  top:20px;
  width:375px;
  height:667px;
}
#u5655 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5656_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:20px;
}
#u5656 {
  position:absolute;
  left:21px;
  top:21px;
  width:373px;
  height:20px;
}
#u5657 {
  position:absolute;
  left:2px;
  top:2px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5658_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5658 {
  position:absolute;
  left:20px;
  top:41px;
  width:375px;
  height:44px;
}
#u5659 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5660_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:23px;
}
#u5660 {
  position:absolute;
  left:157px;
  top:51px;
  width:101px;
  height:23px;
  font-size:18px;
  color:#FF9500;
}
#u5661 {
  position:absolute;
  left:2px;
  top:0px;
  width:97px;
  word-wrap:break-word;
}
#u5662_img {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:467px;
}
#u5662 {
  position:absolute;
  left:27px;
  top:91px;
  width:358px;
  height:467px;
}
#u5663 {
  position:absolute;
  left:2px;
  top:226px;
  width:354px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5664 {
  position:absolute;
  left:80px;
  top:95px;
  width:305px;
  height:463px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5664_ann {
  position:absolute;
  left:378px;
  top:91px;
  width:1px;
  height:1px;
}
