body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1231px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4049_div {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4049 {
  position:absolute;
  left:7px;
  top:5px;
  width:7px;
  height:40px;
}
#u4050 {
  position:absolute;
  left:2px;
  top:12px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4051_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u4051 {
  position:absolute;
  left:24px;
  top:5px;
  width:300px;
  height:40px;
  font-size:16px;
  text-align:left;
}
#u4052 {
  position:absolute;
  left:2px;
  top:10px;
  width:296px;
  word-wrap:break-word;
}
#u4051_ann {
  position:absolute;
  left:317px;
  top:1px;
  width:1px;
  height:1px;
}
#u4053_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:312px;
}
#u4053 {
  position:absolute;
  left:7px;
  top:74px;
  width:1201px;
  height:312px;
}
#u4054 {
  position:absolute;
  left:2px;
  top:148px;
  width:1197px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4055_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1231px;
  height:753px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.4);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4055 {
  position:absolute;
  left:0px;
  top:0px;
  width:1231px;
  height:753px;
}
#u4056 {
  position:absolute;
  left:2px;
  top:368px;
  width:1227px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4057_div {
  position:absolute;
  left:0px;
  top:0px;
  width:710px;
  height:706px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4057 {
  position:absolute;
  left:195px;
  top:5px;
  width:710px;
  height:706px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4058 {
  position:absolute;
  left:2px;
  top:345px;
  width:706px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4059_div {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:51px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4059 {
  position:absolute;
  left:209px;
  top:13px;
  width:7px;
  height:51px;
}
#u4060 {
  position:absolute;
  left:2px;
  top:18px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4061_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u4061 {
  position:absolute;
  left:226px;
  top:13px;
  width:300px;
  height:51px;
  font-size:16px;
  text-align:left;
}
#u4062 {
  position:absolute;
  left:2px;
  top:16px;
  width:296px;
  word-wrap:break-word;
}
#u4063_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
}
#u4063 {
  position:absolute;
  left:677px;
  top:653px;
  width:99px;
  height:51px;
  font-size:16px;
  color:#666666;
}
#u4064 {
  position:absolute;
  left:2px;
  top:16px;
  width:95px;
  word-wrap:break-word;
}
#u4065_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:51px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u4065 {
  position:absolute;
  left:786px;
  top:653px;
  width:99px;
  height:51px;
  font-size:16px;
  color:#FFFFFF;
}
#u4066 {
  position:absolute;
  left:2px;
  top:16px;
  width:95px;
  word-wrap:break-word;
}
#u4067_img {
  position:absolute;
  left:0px;
  top:0px;
  width:518px;
  height:575px;
}
#u4067 {
  position:absolute;
  left:266px;
  top:68px;
  width:518px;
  height:575px;
}
#u4068 {
  position:absolute;
  left:2px;
  top:280px;
  width:514px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4069 {
  position:absolute;
  left:423px;
  top:276px;
  width:242px;
  height:35px;
}
#u4070_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:30px;
}
#u4070 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:30px;
  color:#999999;
}
#u4071 {
  position:absolute;
  left:2px;
  top:7px;
  width:55px;
  word-wrap:break-word;
}
#u4072_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:30px;
}
#u4072 {
  position:absolute;
  left:59px;
  top:0px;
  width:59px;
  height:30px;
  color:#999999;
}
#u4073 {
  position:absolute;
  left:2px;
  top:7px;
  width:55px;
  word-wrap:break-word;
}
#u4074_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:30px;
}
#u4074 {
  position:absolute;
  left:118px;
  top:0px;
  width:59px;
  height:30px;
  color:#999999;
}
#u4075 {
  position:absolute;
  left:2px;
  top:7px;
  width:55px;
  word-wrap:break-word;
}
#u4076_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u4076 {
  position:absolute;
  left:177px;
  top:0px;
  width:60px;
  height:30px;
  color:#999999;
}
#u4077 {
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  word-wrap:break-word;
}
#u4078 {
  position:absolute;
  left:480px;
  top:283px;
  width:16px;
  height:16px;
}
#u4079 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4078_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4080 {
  position:absolute;
  left:423px;
  top:283px;
  width:16px;
  height:16px;
}
#u4081 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4080_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4082 {
  position:absolute;
  left:542px;
  top:283px;
  width:16px;
  height:16px;
}
#u4083 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4082_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4084 {
  position:absolute;
  left:600px;
  top:283px;
  width:16px;
  height:16px;
}
#u4085 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4084_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4086 {
  position:absolute;
  left:423px;
  top:316px;
  width:242px;
  height:35px;
}
#u4087_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:30px;
}
#u4087 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:30px;
  color:#999999;
}
#u4088 {
  position:absolute;
  left:2px;
  top:7px;
  width:55px;
  word-wrap:break-word;
}
#u4089_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:30px;
}
#u4089 {
  position:absolute;
  left:59px;
  top:0px;
  width:59px;
  height:30px;
  color:#999999;
}
#u4090 {
  position:absolute;
  left:2px;
  top:7px;
  width:55px;
  word-wrap:break-word;
}
#u4091_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:30px;
}
#u4091 {
  position:absolute;
  left:118px;
  top:0px;
  width:59px;
  height:30px;
  color:#999999;
}
#u4092 {
  position:absolute;
  left:2px;
  top:7px;
  width:55px;
  word-wrap:break-word;
}
#u4093_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u4093 {
  position:absolute;
  left:177px;
  top:0px;
  width:60px;
  height:30px;
  color:#999999;
}
#u4094 {
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  word-wrap:break-word;
}
#u4095 {
  position:absolute;
  left:480px;
  top:323px;
  width:16px;
  height:16px;
}
#u4096 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4095_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4097 {
  position:absolute;
  left:423px;
  top:323px;
  width:16px;
  height:16px;
}
#u4098 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4097_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4099 {
  position:absolute;
  left:542px;
  top:323px;
  width:16px;
  height:16px;
}
#u4100 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4099_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4101 {
  position:absolute;
  left:600px;
  top:323px;
  width:16px;
  height:16px;
}
#u4102 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4101_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
