body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1231px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4122_div {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4122 {
  position:absolute;
  left:7px;
  top:5px;
  width:7px;
  height:40px;
}
#u4123 {
  position:absolute;
  left:2px;
  top:12px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4124_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u4124 {
  position:absolute;
  left:24px;
  top:5px;
  width:300px;
  height:40px;
  font-size:16px;
  text-align:left;
}
#u4125 {
  position:absolute;
  left:2px;
  top:10px;
  width:296px;
  word-wrap:break-word;
}
#u4124_ann {
  position:absolute;
  left:317px;
  top:1px;
  width:1px;
  height:1px;
}
#u4126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:312px;
}
#u4126 {
  position:absolute;
  left:7px;
  top:74px;
  width:1201px;
  height:312px;
}
#u4127 {
  position:absolute;
  left:2px;
  top:148px;
  width:1197px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4128_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1231px;
  height:753px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.4);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4128 {
  position:absolute;
  left:0px;
  top:0px;
  width:1231px;
  height:753px;
}
#u4129 {
  position:absolute;
  left:2px;
  top:368px;
  width:1227px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4130_div {
  position:absolute;
  left:0px;
  top:0px;
  width:710px;
  height:706px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4130 {
  position:absolute;
  left:195px;
  top:5px;
  width:710px;
  height:706px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4131 {
  position:absolute;
  left:2px;
  top:345px;
  width:706px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4132_div {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:51px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4132 {
  position:absolute;
  left:209px;
  top:13px;
  width:7px;
  height:51px;
}
#u4133 {
  position:absolute;
  left:2px;
  top:18px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4134_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u4134 {
  position:absolute;
  left:226px;
  top:13px;
  width:300px;
  height:51px;
  font-size:16px;
  text-align:left;
}
#u4135 {
  position:absolute;
  left:2px;
  top:16px;
  width:296px;
  word-wrap:break-word;
}
#u4136_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
}
#u4136 {
  position:absolute;
  left:677px;
  top:653px;
  width:99px;
  height:51px;
  font-size:16px;
  color:#666666;
}
#u4137 {
  position:absolute;
  left:2px;
  top:16px;
  width:95px;
  word-wrap:break-word;
}
#u4138_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:51px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u4138 {
  position:absolute;
  left:786px;
  top:653px;
  width:99px;
  height:51px;
  font-size:16px;
  color:#FFFFFF;
}
#u4139 {
  position:absolute;
  left:2px;
  top:16px;
  width:95px;
  word-wrap:break-word;
}
#u4140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:518px;
  height:575px;
}
#u4140 {
  position:absolute;
  left:266px;
  top:68px;
  width:518px;
  height:575px;
}
#u4141 {
  position:absolute;
  left:2px;
  top:280px;
  width:514px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4142 {
  position:absolute;
  left:423px;
  top:276px;
  width:242px;
  height:35px;
}
#u4143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:30px;
}
#u4143 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:30px;
  color:#999999;
}
#u4144 {
  position:absolute;
  left:2px;
  top:7px;
  width:55px;
  word-wrap:break-word;
}
#u4145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:30px;
}
#u4145 {
  position:absolute;
  left:59px;
  top:0px;
  width:59px;
  height:30px;
  color:#999999;
}
#u4146 {
  position:absolute;
  left:2px;
  top:7px;
  width:55px;
  word-wrap:break-word;
}
#u4147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:30px;
}
#u4147 {
  position:absolute;
  left:118px;
  top:0px;
  width:59px;
  height:30px;
  color:#999999;
}
#u4148 {
  position:absolute;
  left:2px;
  top:7px;
  width:55px;
  word-wrap:break-word;
}
#u4149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u4149 {
  position:absolute;
  left:177px;
  top:0px;
  width:60px;
  height:30px;
  color:#999999;
}
#u4150 {
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  word-wrap:break-word;
}
#u4151 {
  position:absolute;
  left:480px;
  top:283px;
  width:16px;
  height:16px;
}
#u4152 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4151_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4153 {
  position:absolute;
  left:423px;
  top:283px;
  width:16px;
  height:16px;
}
#u4154 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4153_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4155 {
  position:absolute;
  left:542px;
  top:283px;
  width:16px;
  height:16px;
}
#u4156 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4155_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4157 {
  position:absolute;
  left:600px;
  top:283px;
  width:16px;
  height:16px;
}
#u4158 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4157_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4159 {
  position:absolute;
  left:423px;
  top:316px;
  width:242px;
  height:35px;
}
#u4160_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:30px;
}
#u4160 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:30px;
  color:#999999;
}
#u4161 {
  position:absolute;
  left:2px;
  top:7px;
  width:55px;
  word-wrap:break-word;
}
#u4162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:30px;
}
#u4162 {
  position:absolute;
  left:59px;
  top:0px;
  width:59px;
  height:30px;
  color:#999999;
}
#u4163 {
  position:absolute;
  left:2px;
  top:7px;
  width:55px;
  word-wrap:break-word;
}
#u4164_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:30px;
}
#u4164 {
  position:absolute;
  left:118px;
  top:0px;
  width:59px;
  height:30px;
  color:#999999;
}
#u4165 {
  position:absolute;
  left:2px;
  top:7px;
  width:55px;
  word-wrap:break-word;
}
#u4166_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u4166 {
  position:absolute;
  left:177px;
  top:0px;
  width:60px;
  height:30px;
  color:#999999;
}
#u4167 {
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  word-wrap:break-word;
}
#u4168 {
  position:absolute;
  left:480px;
  top:323px;
  width:16px;
  height:16px;
}
#u4169 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4168_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4170 {
  position:absolute;
  left:423px;
  top:323px;
  width:16px;
  height:16px;
}
#u4171 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4170_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4172 {
  position:absolute;
  left:542px;
  top:323px;
  width:16px;
  height:16px;
}
#u4173 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4172_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4174 {
  position:absolute;
  left:600px;
  top:323px;
  width:16px;
  height:16px;
}
#u4175 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4174_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
