body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1083px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2419_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1059px;
  height:153px;
}
#u2419 {
  position:absolute;
  left:24px;
  top:125px;
  width:1059px;
  height:153px;
}
#u2420 {
  position:absolute;
  left:2px;
  top:68px;
  width:1055px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2421_div {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2421 {
  position:absolute;
  left:7px;
  top:5px;
  width:7px;
  height:40px;
}
#u2422 {
  position:absolute;
  left:2px;
  top:12px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2423_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u2423 {
  position:absolute;
  left:24px;
  top:5px;
  width:300px;
  height:40px;
  font-size:16px;
  text-align:left;
}
#u2424 {
  position:absolute;
  left:2px;
  top:10px;
  width:296px;
  word-wrap:break-word;
}
#u2425_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u2425 {
  position:absolute;
  left:24px;
  top:66px;
  width:99px;
  height:40px;
  font-size:16px;
  color:#FFFFFF;
}
#u2426 {
  position:absolute;
  left:2px;
  top:10px;
  width:95px;
  word-wrap:break-word;
}
#u2425_ann {
  position:absolute;
  left:116px;
  top:62px;
  width:1px;
  height:1px;
}
#u2427_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 204, 51, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u2427 {
  position:absolute;
  left:133px;
  top:66px;
  width:99px;
  height:40px;
  font-size:16px;
  color:#FFFFFF;
}
#u2428 {
  position:absolute;
  left:2px;
  top:10px;
  width:95px;
  word-wrap:break-word;
}
#u2427_ann {
  position:absolute;
  left:225px;
  top:62px;
  width:1px;
  height:1px;
}
#u2429_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:40px;
  background:inherit;
  background-color:rgba(204, 51, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u2429 {
  position:absolute;
  left:242px;
  top:66px;
  width:99px;
  height:40px;
  font-size:16px;
  color:#FFFFFF;
}
#u2430 {
  position:absolute;
  left:2px;
  top:10px;
  width:95px;
  word-wrap:break-word;
}
#u2429_ann {
  position:absolute;
  left:334px;
  top:62px;
  width:1px;
  height:1px;
}
#u2431 {
  position:absolute;
  left:953px;
  top:188px;
  width:40px;
  height:65px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2432 {
  position:absolute;
  left:993px;
  top:188px;
  width:40px;
  height:65px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2433 {
  position:absolute;
  left:1033px;
  top:188px;
  width:40px;
  height:65px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2434_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2434 {
  position:absolute;
  left:212px;
  top:348px;
  width:30px;
  height:30px;
}
#u2435 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2436_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u2436 {
  position:absolute;
  left:381px;
  top:334px;
  width:101px;
  height:57px;
  font-size:14px;
}
#u2437 {
  position:absolute;
  left:2px;
  top:20px;
  width:97px;
  word-wrap:break-word;
}
#u2438_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2438 {
  position:absolute;
  left:417px;
  top:935px;
  width:30px;
  height:30px;
}
#u2439 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2440_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u2440 {
  position:absolute;
  left:381px;
  top:471px;
  width:101px;
  height:57px;
  font-size:14px;
}
#u2441 {
  position:absolute;
  left:2px;
  top:20px;
  width:97px;
  word-wrap:break-word;
}
#u2442_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u2442 {
  position:absolute;
  left:381px;
  top:602px;
  width:101px;
  height:57px;
  font-size:14px;
}
#u2443 {
  position:absolute;
  left:2px;
  top:20px;
  width:97px;
  word-wrap:break-word;
}
#u2444_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u2444 {
  position:absolute;
  left:381px;
  top:744px;
  width:101px;
  height:57px;
  font-size:14px;
}
#u2445 {
  position:absolute;
  left:2px;
  top:20px;
  width:97px;
  word-wrap:break-word;
}
#u2446_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u2446 {
  position:absolute;
  left:562px;
  top:602px;
  width:101px;
  height:57px;
  font-size:14px;
}
#u2447 {
  position:absolute;
  left:2px;
  top:20px;
  width:97px;
  word-wrap:break-word;
}
#u2448_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u2448 {
  position:absolute;
  left:381px;
  top:862px;
  width:101px;
  height:57px;
  font-size:14px;
}
#u2449 {
  position:absolute;
  left:2px;
  top:20px;
  width:97px;
  word-wrap:break-word;
}
#u2450 {
  position:absolute;
  left:242px;
  top:363px;
  width:0px;
  height:0px;
}
#u2450_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:143px;
  height:8px;
}
#u2450_seg1 {
  position:absolute;
  left:126px;
  top:-10px;
  width:20px;
  height:20px;
}
#u2451 {
  position:absolute;
  left:20px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u2452 {
  position:absolute;
  left:432px;
  top:391px;
  width:0px;
  height:0px;
}
#u2452_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:84px;
}
#u2452_seg1 {
  position:absolute;
  left:-10px;
  top:67px;
  width:20px;
  height:20px;
}
#u2453 {
  position:absolute;
  left:-50px;
  top:24px;
  width:100px;
  word-wrap:break-word;
}
#u2454 {
  position:absolute;
  left:432px;
  top:528px;
  width:0px;
  height:0px;
}
#u2454_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:78px;
}
#u2454_seg1 {
  position:absolute;
  left:-10px;
  top:61px;
  width:20px;
  height:20px;
}
#u2455 {
  position:absolute;
  left:-50px;
  top:21px;
  width:100px;
  word-wrap:break-word;
}
#u2456 {
  position:absolute;
  left:482px;
  top:500px;
  width:0px;
  height:0px;
}
#u2456_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:135px;
  height:8px;
}
#u2456_seg1 {
  position:absolute;
  left:127px;
  top:-4px;
  width:8px;
  height:106px;
}
#u2456_seg2 {
  position:absolute;
  left:121px;
  top:89px;
  width:20px;
  height:20px;
}
#u2457 {
  position:absolute;
  left:66px;
  top:-16px;
  width:100px;
  word-wrap:break-word;
}
#u2458 {
  position:absolute;
  left:562px;
  top:631px;
  width:0px;
  height:0px;
}
#u2458_seg0 {
  position:absolute;
  left:-80px;
  top:-4px;
  width:84px;
  height:8px;
}
#u2458_seg1 {
  position:absolute;
  left:-87px;
  top:-10px;
  width:20px;
  height:20px;
}
#u2459 {
  position:absolute;
  left:-90px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2460 {
  position:absolute;
  left:432px;
  top:659px;
  width:0px;
  height:0px;
}
#u2460_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:89px;
}
#u2460_seg1 {
  position:absolute;
  left:-10px;
  top:72px;
  width:20px;
  height:20px;
}
#u2461 {
  position:absolute;
  left:-50px;
  top:18px;
  width:100px;
  word-wrap:break-word;
}
#u2462 {
  position:absolute;
  left:432px;
  top:801px;
  width:0px;
  height:0px;
}
#u2462_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:65px;
}
#u2462_seg1 {
  position:absolute;
  left:-10px;
  top:48px;
  width:20px;
  height:20px;
}
#u2463 {
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  word-wrap:break-word;
}
#u2464 {
  position:absolute;
  left:432px;
  top:919px;
  width:0px;
  height:0px;
}
#u2464_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:20px;
}
#u2464_seg1 {
  position:absolute;
  left:-10px;
  top:3px;
  width:20px;
  height:20px;
}
#u2465 {
  position:absolute;
  left:-50px;
  top:0px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2466_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u2466 {
  position:absolute;
  left:351px;
  top:66px;
  width:99px;
  height:40px;
  font-size:16px;
  color:#FFFFFF;
}
#u2467 {
  position:absolute;
  left:2px;
  top:10px;
  width:95px;
  word-wrap:break-word;
}
#u2466_ann {
  position:absolute;
  left:443px;
  top:62px;
  width:1px;
  height:1px;
}
