body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:960px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4027_img {
  position:absolute;
  left:0px;
  top:0px;
  width:928px;
  height:181px;
}
#u4027 {
  position:absolute;
  left:32px;
  top:111px;
  width:928px;
  height:181px;
}
#u4028 {
  position:absolute;
  left:2px;
  top:82px;
  width:924px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4027_ann {
  position:absolute;
  left:953px;
  top:107px;
  width:1px;
  height:1px;
}
#u4029_div {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4029 {
  position:absolute;
  left:7px;
  top:5px;
  width:7px;
  height:40px;
}
#u4030 {
  position:absolute;
  left:2px;
  top:12px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4031_div {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u4031 {
  position:absolute;
  left:32px;
  top:5px;
  width:310px;
  height:40px;
  font-size:16px;
  text-align:left;
}
#u4032 {
  position:absolute;
  left:2px;
  top:10px;
  width:306px;
  word-wrap:break-word;
}
#u4033_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u4033 {
  position:absolute;
  left:32px;
  top:61px;
  width:99px;
  height:40px;
  font-size:16px;
  color:#FFFFFF;
}
#u4034 {
  position:absolute;
  left:2px;
  top:10px;
  width:95px;
  word-wrap:break-word;
}
#u4035 {
  position:absolute;
  left:884px;
  top:144px;
  width:58px;
  height:140px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4036_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:23px;
}
#u4036 {
  position:absolute;
  left:816px;
  top:226px;
  width:44px;
  height:23px;
}
#u4037 {
  position:absolute;
  left:2px;
  top:4px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
