body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:960px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4093_img {
  position:absolute;
  left:0px;
  top:0px;
  width:928px;
  height:181px;
}
#u4093 {
  position:absolute;
  left:32px;
  top:111px;
  width:928px;
  height:181px;
}
#u4094 {
  position:absolute;
  left:2px;
  top:82px;
  width:924px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4093_ann {
  position:absolute;
  left:953px;
  top:107px;
  width:1px;
  height:1px;
}
#u4095_div {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4095 {
  position:absolute;
  left:7px;
  top:5px;
  width:7px;
  height:40px;
}
#u4096 {
  position:absolute;
  left:2px;
  top:12px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4097_div {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u4097 {
  position:absolute;
  left:32px;
  top:5px;
  width:310px;
  height:40px;
  font-size:16px;
  text-align:left;
}
#u4098 {
  position:absolute;
  left:2px;
  top:10px;
  width:306px;
  word-wrap:break-word;
}
#u4099_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u4099 {
  position:absolute;
  left:32px;
  top:61px;
  width:99px;
  height:40px;
  font-size:16px;
  color:#FFFFFF;
}
#u4100 {
  position:absolute;
  left:2px;
  top:10px;
  width:95px;
  word-wrap:break-word;
}
#u4101 {
  position:absolute;
  left:884px;
  top:144px;
  width:58px;
  height:140px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:23px;
}
#u4102 {
  position:absolute;
  left:816px;
  top:226px;
  width:44px;
  height:23px;
}
#u4103 {
  position:absolute;
  left:2px;
  top:4px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
