body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:985px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2779_div {
  position:absolute;
  left:0px;
  top:0px;
  width:953px;
  height:489px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2779 {
  position:absolute;
  left:32px;
  top:68px;
  width:953px;
  height:489px;
}
#u2780 {
  position:absolute;
  left:2px;
  top:236px;
  width:949px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2781_img {
  position:absolute;
  left:0px;
  top:0px;
  width:948px;
  height:481px;
}
#u2781 {
  position:absolute;
  left:34px;
  top:70px;
  width:948px;
  height:481px;
}
#u2782 {
  position:absolute;
  left:2px;
  top:232px;
  width:944px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2783_div {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2783 {
  position:absolute;
  left:7px;
  top:5px;
  width:7px;
  height:40px;
}
#u2784 {
  position:absolute;
  left:2px;
  top:12px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2785_div {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u2785 {
  position:absolute;
  left:14px;
  top:5px;
  width:310px;
  height:40px;
  font-size:16px;
  text-align:left;
}
#u2786 {
  position:absolute;
  left:2px;
  top:10px;
  width:306px;
  word-wrap:break-word;
}
#u2787_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u2787 {
  position:absolute;
  left:261px;
  top:197px;
  width:35px;
  height:35px;
}
#u2788 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2787_ann {
  position:absolute;
  left:289px;
  top:193px;
  width:1px;
  height:1px;
}
#u2789_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u2789 {
  position:absolute;
  left:669px;
  top:260px;
  width:35px;
  height:35px;
}
#u2790 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2791_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u2791 {
  position:absolute;
  left:504px;
  top:228px;
  width:35px;
  height:35px;
}
#u2792 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2793 {
  position:absolute;
  left:296px;
  top:199px;
  width:91px;
  height:93px;
  overflow:hidden;
  visibility:hidden;
}
#u2793_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:93px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2793_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2794 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:95px;
}
#u2795_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
}
#u2795 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
  color:#FFFFFF;
}
#u2796 {
  position:absolute;
  left:2px;
  top:7px;
  width:88px;
  word-wrap:break-word;
}
#u2797_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
}
#u2797 {
  position:absolute;
  left:0px;
  top:30px;
  width:92px;
  height:30px;
  color:#FFFFFF;
}
#u2798 {
  position:absolute;
  left:2px;
  top:7px;
  width:88px;
  word-wrap:break-word;
}
#u2799_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
}
#u2799 {
  position:absolute;
  left:0px;
  top:60px;
  width:92px;
  height:30px;
  color:#FFFFFF;
}
#u2800 {
  position:absolute;
  left:2px;
  top:7px;
  width:88px;
  word-wrap:break-word;
}
#u2793_ann {
  position:absolute;
  left:380px;
  top:195px;
  width:1px;
  height:1px;
}
#u2801 {
  position:absolute;
  left:539px;
  top:185px;
  width:91px;
  height:124px;
  overflow:hidden;
  visibility:hidden;
}
#u2801_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:124px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2801_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2802 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:125px;
}
#u2803_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
}
#u2803 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
  color:#FFFFFF;
}
#u2804 {
  position:absolute;
  left:2px;
  top:7px;
  width:88px;
  word-wrap:break-word;
}
#u2805_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
}
#u2805 {
  position:absolute;
  left:0px;
  top:30px;
  width:92px;
  height:30px;
  color:#FFFFFF;
}
#u2806 {
  position:absolute;
  left:2px;
  top:7px;
  width:88px;
  word-wrap:break-word;
}
#u2807_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
}
#u2807 {
  position:absolute;
  left:0px;
  top:60px;
  width:92px;
  height:30px;
  color:#FFFFFF;
}
#u2808 {
  position:absolute;
  left:2px;
  top:7px;
  width:88px;
  word-wrap:break-word;
}
#u2809_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
}
#u2809 {
  position:absolute;
  left:0px;
  top:90px;
  width:92px;
  height:30px;
  color:#FFFFFF;
}
#u2810 {
  position:absolute;
  left:2px;
  top:7px;
  width:88px;
  word-wrap:break-word;
}
#u2801_ann {
  position:absolute;
  left:623px;
  top:181px;
  width:1px;
  height:1px;
}
#u2811 {
  position:absolute;
  left:704px;
  top:201px;
  width:91px;
  height:124px;
  overflow:hidden;
  visibility:hidden;
}
#u2811_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:124px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2811_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2812 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:95px;
}
#u2813_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
}
#u2813 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
  color:#FFFFFF;
}
#u2814 {
  position:absolute;
  left:2px;
  top:7px;
  width:88px;
  word-wrap:break-word;
}
#u2815_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
}
#u2815 {
  position:absolute;
  left:0px;
  top:30px;
  width:92px;
  height:30px;
  color:#FFFFFF;
}
#u2816 {
  position:absolute;
  left:2px;
  top:7px;
  width:88px;
  word-wrap:break-word;
}
#u2817_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
}
#u2817 {
  position:absolute;
  left:0px;
  top:60px;
  width:92px;
  height:30px;
  color:#FFFFFF;
}
#u2818 {
  position:absolute;
  left:2px;
  top:7px;
  width:88px;
  word-wrap:break-word;
}
#u2811_ann {
  position:absolute;
  left:788px;
  top:197px;
  width:1px;
  height:1px;
}
